<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.seckill.SeckillMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.seckill.Seckill">
    <id column="seckill_id" jdbcType="BIGINT" property="seckill_id" />
    <result column="goods_id" jdbcType="VARCHAR" property="goods_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="start_time" jdbcType="TIMESTAMP" property="start_time" />
    <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>
  <sql id="Base_Column_List">
    seckill_id, goods_id, name, number, start_time, end_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_seckill
    where seckill_id = #{seckill_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_seckill
    where seckill_id = #{seckill_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.entity.seckill.Seckill">
    insert into t_seckill (seckill_id, goods_id, name, 
      number, start_time, end_time, 
      create_time)
    values (#{seckill_id,jdbcType=BIGINT}, #{goods_id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{start_time,jdbcType=TIMESTAMP}, #{end_time,jdbcType=TIMESTAMP}, 
      #{create_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.seckill.Seckill">
    insert into t_seckill
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seckill_id != null">
        seckill_id,
      </if>
      <if test="goods_id != null">
        goods_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="start_time != null">
        start_time,
      </if>
      <if test="end_time != null">
        end_time,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seckill_id != null">
        #{seckill_id,jdbcType=BIGINT},
      </if>
      <if test="goods_id != null">
        #{goods_id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="start_time != null">
        #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.seckill.Seckill">
    update t_seckill
    <set>
      <if test="goods_id != null">
        goods_id = #{goods_id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="start_time != null">
        start_time = #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where seckill_id = #{seckill_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.seckill.Seckill">
    update t_seckill
    set goods_id = #{goods_id,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      start_time = #{start_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where seckill_id = #{seckill_id,jdbcType=BIGINT}
  </update>
  <!-- 减库存 -->
  <update id="reduceNumber">
  UPDATE seckill
        SET number = number - 1
        WHERE seckill_id = #{seckill_id}
        AND start_time <![CDATA[ <= ]]> #{killTime}
        AND end_time >= #{killTime}
        AND number > 0
  
  </update>
  
  <!-- 列表 -->
  <select id="getPageFront" parameterType="com.mall.entity.seckill.Seckill" resultMap="BaseResultMap">
  	SELECT * FROM t_seckill TK 
  	where 
  		1=1
  		<if test="start_time!=null">
  			and TK.start_time >= #{start_time}
  		</if>
  		<if test="end_time!=null">
  			and TK.end_time <![CDATA[ <= ]]>#{end_time}
  		</if>
  		
  		
  
  </select>
  <!-- 秒杀 -->
   <select id="killByProcedure" statementType="CALLABLE">
        CALL excuteSeckill(
        #{seckillId, jdbcType=BIGINT, mode=IN},
        #{phone, jdbcType=BIGINT, mode=IN},
        #{killTime, jdbcType=TIMESTAMP, mode=IN},
        #{result, jdbcType=INTEGER, mode=OUT}
        )
    </select>
    <!-- 批量删除 -->
    <update id="batchDelete">
    	update t_seckill set
  		del_state='Y'
	  	where seckill_id in
	  	<foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	            #{item.seckill_id}
	     </foreach>
    
    </update>
    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_seckill
    where seckill_id = #{seckill_id,jdbcType=BIGINT}
  </select>
  
</mapper>