<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.order.OrderMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.order.Order">
    <id column="order_id" jdbcType="INTEGER" property="order_id" />
    <result column="order_number" jdbcType="VARCHAR" property="order_number" />
    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="total_amount" jdbcType="DECIMAL" property="total_amount" />
    <result column="paid_amount" jdbcType="DECIMAL" property="paid_amount" />
    <result column="postage_amount" jdbcType="DECIMAL" property="postage_amount" />
    <result column="discount_amount" jdbcType="DECIMAL" property="discount_amount" />
    <result column="receive_id" jdbcType="INTEGER" property="receive_id" />
    <result column="send_time" jdbcType="TIMESTAMP" property="send_time" />
    <result column="logistics_state" jdbcType="TINYINT" property="logistics_state" />
    <result column="invoice_tag" jdbcType="TINYINT" property="invoice_tag" />
    <result column="del_state" jdbcType="TINYINT" property="del_state" />
    <result column="payment_id" jdbcType="INTEGER" property="payment_id" />
    <result column="payment_seq" jdbcType="VARCHAR" property="payment_seq" />
    <result column="pay_state" jdbcType="TINYINT" property="pay_state" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, order_number, user_id, total_amount, paid_amount, postage_amount, discount_amount, 
    receive_id, send_time, logistics_state, invoice_tag, del_state, payment_id, payment_seq, 
    pay_state, comment, create_time, update_time
  </sql>
  <!-- 重写，通过订单号查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where order_number = #{order_number}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where order_id = #{order_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mall.entity.order.Order">
    insert into t_order (order_id, order_number, user_id, 
      total_amount, paid_amount, postage_amount, 
      discount_amount, receive_id, send_time, 
      logistics_state, invoice_tag, del_state, 
      payment_id, payment_seq, pay_state, 
      comment, create_time, update_time
      )
    values (#{order_id,jdbcType=INTEGER}, #{order_number,jdbcType=VARCHAR}, #{user_id,jdbcType=VARCHAR}, 
      #{total_amount,jdbcType=DECIMAL}, #{paid_amount,jdbcType=DECIMAL}, #{postage_amount,jdbcType=DECIMAL}, 
      #{discount_amount,jdbcType=DECIMAL}, #{receive_id,jdbcType=INTEGER}, #{send_time,jdbcType=TIMESTAMP}, 
      #{logistics_state,jdbcType=TINYINT}, #{invoice_tag,jdbcType=TINYINT}, #{del_state,jdbcType=TINYINT}, 
      #{payment_id,jdbcType=INTEGER}, #{payment_seq,jdbcType=VARCHAR}, #{pay_state,jdbcType=TINYINT}, 
      #{comment,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.order.Order" useGeneratedKeys="true" keyProperty="order_id">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="order_id != null">
        order_id,
      </if>
      <if test="order_number != null">
        order_number,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="total_amount != null">
        total_amount,
      </if>
      <if test="paid_amount != null">
        paid_amount,
      </if>
      <if test="postage_amount != null">
        postage_amount,
      </if>
      <if test="discount_amount != null">
        discount_amount,
      </if>
      <if test="receive_id != null">
        receive_id,
      </if>
      <if test="send_time != null">
        send_time,
      </if>
      <if test="logistics_state != null">
        logistics_state,
      </if>
      <if test="invoice_tag != null">
        invoice_tag,
      </if>
      <if test="del_state != null">
        del_state,
      </if>
      <if test="payment_id != null">
        payment_id,
      </if>
      <if test="payment_seq != null">
        payment_seq,
      </if>
      <if test="pay_state != null">
        pay_state,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="order_id != null">
        #{order_id,jdbcType=INTEGER},
      </if>
      <if test="order_number != null">
        #{order_number,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="total_amount != null">
        #{total_amount,jdbcType=DECIMAL},
      </if>
      <if test="paid_amount != null">
        #{paid_amount,jdbcType=DECIMAL},
      </if>
      <if test="postage_amount != null">
        #{postage_amount,jdbcType=DECIMAL},
      </if>
      <if test="discount_amount != null">
        #{discount_amount,jdbcType=DECIMAL},
      </if>
      <if test="receive_id != null">
        #{receive_id,jdbcType=INTEGER},
      </if>
      <if test="send_time != null">
        #{send_time,jdbcType=TIMESTAMP},
      </if>
      <if test="logistics_state != null">
        #{logistics_state,jdbcType=TINYINT},
      </if>
      <if test="invoice_tag != null">
        #{invoice_tag,jdbcType=TINYINT},
      </if>
      <if test="del_state != null">
        #{del_state,jdbcType=TINYINT},
      </if>
      <if test="payment_id != null">
        #{payment_id,jdbcType=INTEGER},
      </if>
      <if test="payment_seq != null">
        #{payment_seq,jdbcType=VARCHAR},
      </if>
      <if test="pay_state != null">
        #{pay_state,jdbcType=TINYINT},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.order.Order">
    update t_order
    <set>
      <if test="order_number != null">
        order_number = #{order_number,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="total_amount != null">
        total_amount = #{total_amount,jdbcType=DECIMAL},
      </if>
      <if test="paid_amount != null">
        paid_amount = #{paid_amount,jdbcType=DECIMAL},
      </if>
      <if test="postage_amount != null">
        postage_amount = #{postage_amount,jdbcType=DECIMAL},
      </if>
      <if test="discount_amount != null">
        discount_amount = #{discount_amount,jdbcType=DECIMAL},
      </if>
      <if test="receive_id != null">
        receive_id = #{receive_id,jdbcType=INTEGER},
      </if>
      <if test="send_time != null">
        send_time = #{send_time,jdbcType=TIMESTAMP},
      </if>
      <if test="logistics_state != null">
        logistics_state = #{logistics_state,jdbcType=TINYINT},
      </if>
      <if test="invoice_tag != null">
        invoice_tag = #{invoice_tag,jdbcType=TINYINT},
      </if>
      <if test="del_state != null">
        del_state = #{del_state,jdbcType=TINYINT},
      </if>
      <if test="payment_id != null">
        payment_id = #{payment_id,jdbcType=INTEGER},
      </if>
      <if test="payment_seq != null">
        payment_seq = #{payment_seq,jdbcType=VARCHAR},
      </if>
      <if test="pay_state != null">
        pay_state = #{pay_state,jdbcType=TINYINT},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{order_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.order.Order">
    update t_order
    set order_number = #{order_number,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=VARCHAR},
      total_amount = #{total_amount,jdbcType=DECIMAL},
      paid_amount = #{paid_amount,jdbcType=DECIMAL},
      postage_amount = #{postage_amount,jdbcType=DECIMAL},
      discount_amount = #{discount_amount,jdbcType=DECIMAL},
      receive_id = #{receive_id,jdbcType=INTEGER},
      send_time = #{send_time,jdbcType=TIMESTAMP},
      logistics_state = #{logistics_state,jdbcType=TINYINT},
      invoice_tag = #{invoice_tag,jdbcType=TINYINT},
      del_state = #{del_state,jdbcType=TINYINT},
      payment_id = #{payment_id,jdbcType=INTEGER},
      payment_seq = #{payment_seq,jdbcType=VARCHAR},
      pay_state = #{pay_state,jdbcType=TINYINT},
      comment = #{comment,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where order_id = #{order_id,jdbcType=INTEGER}
  </update>
  <resultMap extends="BaseResultMap" type="com.mall.entity.order.Order" id="orderResultMap">
  	<association property="orderAddress" javaType="com.mall.entity.order.OrderAddress">
	  	<id column="id_a" jdbcType="INTEGER" property="id" />
	    <result column="user_id_a" jdbcType="VARCHAR" property="user_id" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="province" jdbcType="VARCHAR" property="province" />
	    <result column="city" jdbcType="VARCHAR" property="city" />
	    <result column="area" jdbcType="VARCHAR" property="area" />
	    <result column="street" jdbcType="VARCHAR" property="street" />
	    <result column="status_a" jdbcType="VARCHAR" property="status" />
	    <result column="thedefault" jdbcType="VARCHAR" property="thedefault" />
	    <result column="create_time_a" jdbcType="TIMESTAMP" property="create_time" />
  	</association>
  	<association property="userInfo" javaType="com.mall.entity.login.UserInfo">
  		<id column="id_u" jdbcType="VARCHAR" property="id" />
	    <result column="user_name_u" jdbcType="VARCHAR" property="user_name" />
	    <result column="name_u" jdbcType="VARCHAR" property="name" />
	    <result column="Sex" jdbcType="VARCHAR" property="sex" />
	    <result column="Phone_u" jdbcType="VARCHAR" property="phone" />
	    <result column="email_u" jdbcType="VARCHAR" property="email" />
	    <result column="qq_u" jdbcType="VARCHAR" property="qq" />
	    <result column="address_province" jdbcType="VARCHAR" property="address_province" />
	    <result column="address_city" jdbcType="VARCHAR" property="address_city" />
	    <result column="address_area" jdbcType="VARCHAR" property="address_area" />
	    <result column="address_street" jdbcType="VARCHAR" property="address_street" />
	    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
	    <result column="Create_at_u" jdbcType="TIMESTAMP" property="create_at" />
	    <result column="Update_time_u" jdbcType="TIMESTAMP" property="update_time" />
	    <result column="LastSign_time_u" jdbcType="TIMESTAMP" property="lastSign_time" />
  	</association>
  	<association property="paymentMethod" javaType="com.mall.entity.payment.PaymentMethod">
  		<id column="payment_id_p" jdbcType="INTEGER" property="payment_id" />
	    <id column="isGeneral_p" jdbcType="TINYINT" property="isGeneral" />
	    <result column="name_p" jdbcType="VARCHAR" property="name" />
	    <result column="description_p" jdbcType="VARCHAR" property="description" />
	    <result column="create_time_p" jdbcType="TIMESTAMP" property="create_time" />
	    <result column="update_time_p" jdbcType="TIMESTAMP" property="update_time" />
	    <result column="state_p" jdbcType="TINYINT" property="state" />
  	</association>
  	<association property="PaymentFlow" javaType="com.mall.entity.payment.PaymentFlow">
  		<id column="id_pf" jdbcType="INTEGER" property="id" />
	    <result column="transaction_id" jdbcType="VARCHAR" property="transaction_id" />
	    <result column="out_trade_no" jdbcType="VARCHAR" property="out_trade_no" />
	    <result column="device_info" jdbcType="VARCHAR" property="device_info" />
	    <result column="nonce_str" jdbcType="VARCHAR" property="nonce_str" />
	    <result column="sign" jdbcType="VARCHAR" property="sign" />
	    <result column="sign_type" jdbcType="VARCHAR" property="sign_type" />
	    <result column="result_code" jdbcType="VARCHAR" property="result_code" />
	    <result column="err_code" jdbcType="VARCHAR" property="err_code" />
	    <result column="err_code_des" jdbcType="VARCHAR" property="err_code_des" />
	    <result column="openid" jdbcType="VARCHAR" property="openid" />
	    <result column="is_subscribe" jdbcType="VARCHAR" property="is_subscribe" />
	    <result column="trade_type" jdbcType="VARCHAR" property="trade_type" />
	    <result column="bank_type" jdbcType="VARCHAR" property="bank_type" />
	    <result column="total_fee" jdbcType="INTEGER" property="total_fee" />
	    <result column="fee_type" jdbcType="VARCHAR" property="fee_type" />
	    <result column="time_end" jdbcType="VARCHAR" property="time_end" />
	    <result column="attach" jdbcType="VARCHAR" property="attach" />
	    <result column="create_time_pf" jdbcType="TIMESTAMP" property="create_time" />
  	
  	</association>
  	<collection property="orderDetailsList" ofType="com.mall.entity.order.OrderDetails" column="order_number">
	  	<id column="order_details_id" jdbcType="INTEGER" property="order_details_id" />
	    <result column="order_id_d" jdbcType="INTEGER" property="order_id" />
	    <result column="order_number_d" jdbcType="VARCHAR" property="order_number" />
	    <result column="price_id" jdbcType="VARCHAR" property="price_id" />
	    <result column="goods_id" jdbcType="VARCHAR" property="goods_id" />
	    <result column="unit_name" jdbcType="VARCHAR" property="unit_name" />
	    <result column="goods_name" jdbcType="VARCHAR" property="goods_name" />
	    <result column="unit_price" jdbcType="INTEGER" property="unit_price" />
	    <result column="num" jdbcType="INTEGER" property="num" />
	    <result column="details_amount" jdbcType="DECIMAL" property="details_amount" />
	    <result column="image" jdbcType="VARCHAR" property="image" />
	    <association property="filePath" javaType="com.mall.entity.cms.FilePath">
	  		<id column="fileid" jdbcType="VARCHAR" property="fileid" />
		    <result column="belongid" jdbcType="VARCHAR" property="belongid" />
		    <result column="path" jdbcType="VARCHAR" property="path" />
		    <result column="fileidname" jdbcType="VARCHAR" property="fileidname" />
		    <result column="filename" jdbcType="VARCHAR" property="filename" />
		    <result column="filetype" jdbcType="VARCHAR" property="filetype" />
		    <result column="filesize" jdbcType="VARCHAR" property="filesize" />
		    <result column="status_f" jdbcType="VARCHAR" property="status" />
		    <result column="createby" jdbcType="VARCHAR" property="createby" />
		    <result column="createat" jdbcType="TIMESTAMP" property="createat" />
  		</association>
  	</collection>
  </resultMap>
   <!-- 查询订单详细信息 -->
  <select id="selectInfo"  parameterType="com.mall.entity.order.Order" resultMap="orderResultMap">
  SELECT I.*,
		J.user_id user_id_a, J.name, J.phone, J.province, J.city, J.area, J.street
	FROM(
  Select D.*,E.create_time  create_time_pf from (
  SELECT B.*,C.payment_id payment_id_p, C.isGeneral isGeneral_p, C.name name_p 
  FROM (
  SELECT A.*,  H.user_name user_name_u,
		H.NAME name_u,
		H.Sex,
		H.Phone Phone_u,
		H.email email_u,
		H.qq qq_u,
		H.address_province,
		H.address_city,
		H.address_area,
		H.address_street,
		H.headimgurl,
		H.Create_at Create_at_u,
		H.Update_time Update_time_u,
		H.LastSign_time LastSign_time_u FROM (
  	SELECT
	t1.order_id, t1.order_number, t1.user_id, t1.total_amount, t1.paid_amount, t1.postage_amount, t1.discount_amount, 
    t1.receive_id, t1.send_time, t1.logistics_state, t1.invoice_tag, t1.del_state, t1.payment_id, t1.payment_seq, 
    t1.pay_state, t1.comment, t1.create_time, t1.update_time,
	 t2.order_details_id,  t2.price_id, t2.goods_id, t2.goods_name,
     t2.num, t2.details_amount
	FROM
	t_order t1
	LEFT JOIN t_order_details t2 ON t1.order_number = t2.order_number
	where t1.order_number=#{order_number}
  ) A LEFT JOIN t_sys_user_info H ON A.user_id=H.user_name
  ) B LEFT JOIN t_payment_method C ON B.payment_id=C.payment_id
  ) D LEFT JOIN t_payment_flow E ON D.payment_seq=E.transaction_id
  ) I LEFT JOIN t_order_address J ON I.receive_id=J.id
  </select>
  <!-- 订单列表 -->
  <select id="getPageFront" parameterType="com.mall.entity.order.Order" resultMap="orderResultMap">
SELECT
	A.*, B.path,
	B.fileidname,
	B.filename,
	B.filetype
FROM
	(
	<!-- 下单人信息 -->
	select K.*,
		H.user_name user_name_u,
		H.NAME name_u,
		H.Sex,
		H.Phone Phone_u,
		H.email email_u,
		H.qq qq_u,
		H.address_province,
		H.address_city,
		H.address_area,
		H.address_street,
		H.headimgurl,
		H.Create_at Create_at_u,
		H.Update_time Update_time_u,
		H.LastSign_time LastSign_time_u
	
	 from (
	SELECT I.*,
		J.user_id user_id_a, J.name, J.phone, J.province, J.city, J.area, J.street
	FROM(
		SELECT
			t1.order_id,
			t1.order_number,
			t1.user_id,
			t1.total_amount,
			t1.paid_amount,
			t1.postage_amount,
			t1.discount_amount,
			t1.receive_id,
			t1.send_time,
			t1.logistics_state,
			t1.invoice_tag,
			t1.del_state,
			t1.payment_id,
			t1.payment_seq,
			t1.pay_state,
			t1. COMMENT,
			t1.create_time,
			t2.order_details_id,
			t2.order_id order_id_d,
			t2.order_number order_number_d,
			t2.price_id,
			t2.goods_id,
			t2.unit_name,
			t2.goods_name,
			t2.unit_price,
			t2.num,
			t2.details_amount,
			t2.image
		FROM
			t_order t1
		LEFT JOIN t_order_details t2 ON t1.order_number = t2.order_number
		<where>
		
		<if test="user_id!=null">
			 t1.user_id = #{user_id}
		</if>
		<if test="order_number!=null and order_number!=''">
			AND t1.order_number=#{order_number}
		</if>
		<if test="del_state!=null and del_state!='' and del_state!='-1'">
			AND t1.del_state=#{del_state}
		</if>
		<if test="pay_state!=null and pay_state!='' and pay_state!='-1'">
			AND t1.pay_state=#{pay_state}
		</if>
		<if test="logistics_state!=null and logistics_state!='' and logistics_state!='-1'">
			AND t1.logistics_state=#{logistics_state}
		</if>
		</where>
	) I LEFT JOIN t_order_address J ON I.receive_id=J.id
	<where>
	<if test="orderAddress!=null and orderAddress.name!=null and orderAddress.name!=''">
		J.name LIKE CONCAT('%',#{orderAddress.name},'%')
	</if>
	</where>
	
	<!-- 下单人信息 -->
	)K LEFT JOIN  t_sys_user_info H  ON K.user_id=H.user_name
	) A
LEFT JOIN t_file_path B ON A.image = B.fileid
	ORDER BY A.create_time DESC
  </select>
  <!-- 更新订单状态 -->
  <update id="updateOrderStatus" parameterType="com.mall.entity.order.Order">
   update t_order
    <set>
    <if test="pay_state!=null">
    pay_state=#{pay_state},
    </if>
    <if test="del_state!=null">
    del_state=#{del_state},
    </if>
    <if test="logistics_state!=null">
    logistics_state=#{logistics_state}
    </if>
  	</set>
  	where order_number=#{order_number}
  </update>
 
  
</mapper>