<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.order.OrderActionMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.order.OrderAction">
    <id column="action_id" jdbcType="INTEGER" property="action_id" />
    <result column="order_id" jdbcType="INTEGER" property="order_id" />
    <result column="order_number" jdbcType="VARCHAR" property="order_number" />
    <result column="action_user" jdbcType="VARCHAR" property="action_user" />
    <result column="order_status" jdbcType="TINYINT" property="order_status" />
    <result column="logistics_status" jdbcType="TINYINT" property="logistics_status" />
    <result column="action_note" jdbcType="VARCHAR" property="action_note" />
    <result column="log_time" jdbcType="TIMESTAMP" property="log_time" />
  </resultMap>
  <sql id="Base_Column_List">
    action_id, order_id, order_number, action_user, order_status, logistics_status, action_note, 
    log_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order_action
    where action_id = #{action_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order_action
    where action_id = #{action_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mall.entity.order.OrderAction">
    insert into t_order_action (action_id, order_id, order_number, 
      action_user, order_status, logistics_status, 
      action_note, log_time)
    values (#{action_id,jdbcType=INTEGER}, #{order_id,jdbcType=INTEGER}, #{order_number,jdbcType=VARCHAR}, 
      #{action_user,jdbcType=VARCHAR}, #{order_status,jdbcType=TINYINT}, #{logistics_status,jdbcType=TINYINT}, 
      #{action_note,jdbcType=VARCHAR}, #{log_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.order.OrderAction">
    insert into t_order_action
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="action_id != null">
        action_id,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
      <if test="order_number != null">
        order_number,
      </if>
      <if test="action_user != null">
        action_user,
      </if>
      <if test="order_status != null">
        order_status,
      </if>
      <if test="logistics_status != null">
        logistics_status,
      </if>
      <if test="action_note != null">
        action_note,
      </if>
      <if test="log_time != null">
        log_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="action_id != null">
        #{action_id,jdbcType=INTEGER},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=INTEGER},
      </if>
      <if test="order_number != null">
        #{order_number,jdbcType=VARCHAR},
      </if>
      <if test="action_user != null">
        #{action_user,jdbcType=VARCHAR},
      </if>
      <if test="order_status != null">
        #{order_status,jdbcType=TINYINT},
      </if>
      <if test="logistics_status != null">
        #{logistics_status,jdbcType=TINYINT},
      </if>
      <if test="action_note != null">
        #{action_note,jdbcType=VARCHAR},
      </if>
      <if test="log_time != null">
        #{log_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.order.OrderAction">
    update t_order_action
    <set>
      <if test="order_id != null">
        order_id = #{order_id,jdbcType=INTEGER},
      </if>
      <if test="order_number != null">
        order_number = #{order_number,jdbcType=VARCHAR},
      </if>
      <if test="action_user != null">
        action_user = #{action_user,jdbcType=VARCHAR},
      </if>
      <if test="order_status != null">
        order_status = #{order_status,jdbcType=TINYINT},
      </if>
      <if test="logistics_status != null">
        logistics_status = #{logistics_status,jdbcType=TINYINT},
      </if>
      <if test="action_note != null">
        action_note = #{action_note,jdbcType=VARCHAR},
      </if>
      <if test="log_time != null">
        log_time = #{log_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where action_id = #{action_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.order.OrderAction">
    update t_order_action
    set order_id = #{order_id,jdbcType=INTEGER},
      order_number = #{order_number,jdbcType=VARCHAR},
      action_user = #{action_user,jdbcType=VARCHAR},
      order_status = #{order_status,jdbcType=TINYINT},
      logistics_status = #{logistics_status,jdbcType=TINYINT},
      action_note = #{action_note,jdbcType=VARCHAR},
      log_time = #{log_time,jdbcType=TIMESTAMP}
    where action_id = #{action_id,jdbcType=INTEGER}
  </update>
  <select id="getPageFront" parameterType="com.mall.entity.order.OrderAction" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from t_order_action
    where order_number = #{order_number,jdbcType=VARCHAR}
  
  </select>
</mapper>