<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>发货单列表</title>
    <link rel="stylesheet" href="/admin/assets/layouts/layout/css/yunwang.css">
</head>

<body>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">首页</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>发货单列表</span>
                    </li>
                </ul>
            </div>
            <h1 class="page-title"> 发货单列表
                    <small>发货单列表管理</small>
            </h1>
            <!-- 内容展示 -->
            <div class="row">
                <div class="col-md-12">
                    <form class="form-inline" id="selectform" action="/admin/order/deivery/list">
                        <div class="form-group">
                            <label for="">发货单号</label>
                            <input type="text" class="form-control" placeholder="发货单流水号" name="delivery_number">
                        </div>
                        <p>
                        <div class="form-group">
                            <label for="">订单号</label>
                            <input type="text" class="form-control" placeholder="订单号" name="order_number">
                        </div>
                        <p>
                        <div class="form-group">
                            <label for="">收货人</label>
                            <input type="text" class="form-control wd-100" placeholder="收货人" name="orderAddress.name">
                        </div>
                        <p>
                        <div class="form-group">
                            <label for="">发货状态 </label>
                            <select class="form-control" name="logistics_state" id="status">
                                <option value="-1">请选择...</option>
                                <option value="1" >待发货</option>
                                <option value="2">已发货</option>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">发货单状态 </label>
                            <select class="form-control" name="status" id="status">
                                <option value="-1">请选择...</option>
                                <option value="1" >有效</option>
                                <option value="2">无效</option>
                                
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default green">搜索</button>
                    </form>
                </div>
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column order_list" id="sample_1">
                                <thead>
                                    <tr>
                                        <th>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                                <span></span>
                                            </label>
                                        </th>
                                        <th>发货单流水号</th>
                                        <th> 订单号</th>
                                        <th> 下单时间 </th>
                                        <th> 收货人</th>
                                        <th> 发货时间</th>
                                        <th> 发货单状态 </th>
                                        <th> 操作人 </th>
                                        <th> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" th:each="a:${list.dataList}">
                                        <td>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="checkboxes" value="1" />
                                                <span></span>
                                            </label>
                                        </td>
                                        <td th:text="${a.delivery_number}">20180718035335453</td>
                                        <td > <a th:text="${a.order_number}" th:href="@{/admin/order/detail(order_number=${a.order_number})}"></a></td>
                                        <td>
                                            <p th:text="${a.userInfo.name}">lj74txys</p>
                                            <p th:text="${#dates.format(a.order.create_time,'yyyy-MM-dd HH:mm:ss')}">07-17 09:22</p>
                                        </td>
                                        <td>
                                            <a href="" th:text="${a.orderAddress.name}">李杰</a>
                                        </td>
                                        <td th:text="${a.create_time==null}?'N/A':(${#dates.format(a.create_time,'yyyy-MM-dd HH:mm:ss')})">2018-07-18 11:53:28</td>
                                        <td th:text="${a.logistics_state}=='2'?'已发货':'待发货'">已发货</td>
                                        <td th:text="${a.action_user}">admin</td>
                                        <td>
                                            <a  class="btn btn-xs green" th:href="@{/admin/order/deivery/detail(delivery_number=${a.delivery_number})}">查看详细
                                            </a>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <!-- 批量操作 -->
                            <div class="piliang">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline m-r-15">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                                <a href="javascript:void(0);" class="sc-btn sc-org-btn">确认</a>
                                <a href="javascript:void(0);" class="sc-btn sc-org-btn">无效</a>
                                <a href="javascript:void(0);" class="sc-btn sc-red-btn">取消</a>
                            </div>
                        </div>
                        <div class="row center-text">
                            <div class="dataTables_paginate paging_bootstrap_full_number">
                                <ul class="pagination" style="visibility: visible;">
                                    <li class="prev ">
                                        <a  th:href="'javascript:toPage(1)'">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="prev ">
                                        <a  title="Prev" th:href="'javascript:toPage('+(${list.pageNo}-1>0?${list.pageNo}-1:1)+')'">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="active" id="activepage">
                                        <a  th:text="${list.pageNo}">1</a>
                                    </li>
                                    <li class="next ">
                                        <a  title="Next" th:href="'javascript:toPage('+(${list.pageNo}==${list.pages}?${list.pages}:${list.pageNo}+1)+')'">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="next ">
                                        <a  title="Last" th:href="'javascript:toPage('+${list.pages}+')'">
                                        <i class="fa fa-angle-double-right"></i>
                                                </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
    var order=[[${order}]];
    	$(function(){
    		var pageNo=[[${list.pageNo}]];
        	var pages=[[${list.pages}]];
        	
    		for(var i=2;i>0;i--){
    			var pag=pageNo-i;
    			if(pageNo-i>0){
    				var dome="<li><a  href='javascript:toPage("+pag+")'>"+pag+"</a></li>";
        			$("#activepage").before(dome);
    			}
    			
    		}
    		for(var i=2;i>0;i--){
    			var pag=pageNo+i;
    			if(pageNo+i<=pages){
    				var dome="<li><a   href='javascript:toPage("+pag+")'>"+pag+"</a></li>";
        			$("#activepage").after(dome);
    			}
    			
    		}
    	})
    	function toPage(num){
    		var item="<input type='hidden' name='pageNo' value='"+num+"'>"
    		$('#selectform').append(item);
    		$('#selectform').submit();
    	}
    
    
    </script>
</body>

</html>
