<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="/admin/assets/layouts/layout/css/yunwang.css">
</head>

<body>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">首页</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>订单详情</span>
                    </li>
                </ul>
            </div>
            <h1 class="page-title"> 订单详情
                    <small>订单详情管理</small>
            </h1>
            <!-- 内容展示 -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column order_list">
                                <tbody>
                                    <tr>
                                        <th colspan="4">基本信息</th>
                                    </tr>
                                    <tr>
                                        <td width="18%"> 订单号：</td>
                                        <td width="34%" th:text="${entity.order_number}">
                                            2018071709842
                                        </td>
                                        <td width="15%">
                                            订单状态：
                                        </td>
                                        <td><div th:text="${entity.pay_state}=='2'?'已付款':'待付款'"></div>
                                        	<div th:text="${entity.del_state}=='4'?'已完成':(${entity.del_state}=='3'?'取消':(${entity.del_state}=='2'?'无效':'待确认'))"></div>
                                        	<div th:text="${entity.logistics_state}=='3'?'已确认收货':(${entity.logistics_state}=='2'?'已发货':(${entity.logistics_state}=='4'?'部分发货':(${entity.logistics_state}=='5'?'退货':待发货)))"></div></td>
                                    </tr>
                                    <tr>
                                        <td>购货人：</td>
                                        <td>
                                            <div th:text="${entity.userInfo.name}"></div> [ 显示购货人信息 ] [ 发送/查看留言 ]
                                        </td>
                                        <td>
                                            下单时间：
                                        </td>
                                        <td th:text="${#dates.format(entity.create_time,'yyyy-MM-dd HH:mm:ss')}">2018-07-17 09:22:42</td>
                                    </tr>
                                    <tr>
                                        <td>支付方式：</td>
                                        <td th:text="${entity.paymentMethod.name}">余额支付
                                        </td>
                                        <td>
                                            付款时间：
                                        </td>
                                        <td th:text="${entity!=null and entity.PaymentFlow!=null}?${#dates.format(entity.PaymentFlow.create_time,'yyyy-MM-dd HH:mm:ss')}:'N/A'">2018-07-17 09:22:42</td>
                                    </tr>
                                    <tr>
                                        <td>发货单号：</td>
                                        <td th:text="${deivery!=null and deivery.delivery_number!=null}?${deivery.delivery_number}:'N/A'">N/A</td>
                                        <td >发货时间：</td>
                                        <td th:text="${deivery!=null and deivery.create_time!=null}?${#dates.format(deivery.create_time,'yyyy-MM-dd HH:mm:ss')}:'N/A'">N/A</td>
                                    </tr>
                                    <tr>
                                        <th colspan="4">收货人信息</th>
                                    </tr>
                                    <tr>
                                        <td>收货人：</td>
                                        <td th:text="${entity.orderAddress.name}">李杰</td>
                                        <td>电话：</td>
                                        <td th:text="${entity.orderAddress.phone}">13823595211</td>
                                    </tr>
                                    <tr>
                                        <td>收货地址：</td>
                                        <td th:text="'['+${entity.orderAddress.province}+' '+${entity.orderAddress.city}+' '+${entity.orderAddress.area}+']'">[中国 北京 北京市 西城区] </td>
                                        <td>街道地址：</td>
                                        <td th:text="${entity.orderAddress.street}">南山南山</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-bordered table-hover table-checkable order-column order_list">
                                <tbody>
                                    <tr>
                                        <th colspan="8" scope="col">商品信息</th>
                                    </tr>
                                    <tr>
                                        <td scope="col">
                                            <div align="center"><strong>商品名称 [ 品牌 ]</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>货号</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>作者</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>价格</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>数量</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>属性</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>库存</strong></div>
                                        </td>
                                        <td scope="col">
                                            <div align="center"><strong>小计</strong></div>
                                        </td>
                                    </tr>
                                    <tr th:each="d:${entity.orderDetailsList}">
                                        <td>
                                            <a  target="_blank" th:text="${d.goods.goods_name}" th:href="@{/mall/goods/detail(goods_id=${d.goods.goods_id})}">学院风简约双肩包         </a>
                                        </td >
                                        <td th:text="${d.goods.nickname}">ECS000048</td>
                                        <td th:text="${d.goods.auth.authorname}"></td>
                                        <td th:text="${d.unit_price}">￥59.00元</td>
                                        <td th:text="${d.num}">1</td>
                                        <td th:text="(${d.goods.recommend=='Y'}?'推荐':'非推荐')+'-'+(${d.goods.classic=='Y'}?'精品':'非精品')+'-'+(${d.goods.new_product=='Y'}?'新品':'非新品')">推荐</td>
                                        <td th:text="${d.goods.goodsInfo.inventory.amount}">0</td>
                                        <td th:text="${d.details_amount}">￥59.00元</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td>
                                            <div align="right"><strong>合计：</strong></div>
                                        </td>
                                        <td>
                                            <div align="right" th:text="${entity.total_amount}">￥59.00元</div>
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- 操作信息 -->
                                <table class="table table-striped table-bordered table-hover table-checkable order-column order_list" cellpadding="3" cellspacing="1">
                                    <tbody>
                                        <tr>
                                            <th colspan="6">操作信息</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right"><strong>操作备注：</strong></div>
                                            </td>
                                            <td colspan="5">
                                                <textarea name="action_note" cols="80" rows="3" id="action_note"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="right"></div>
                                                <div align="right"><strong>当前可执行操作：</strong> </div>
                                            </td>
                                            <td colspan="5">
                                                <input name="pay" type="submit" value="确认" class="button" onclick="buttonSubmit('confirm')" id="confirm">
                                                <input name="" type="submit" value="生成发货单" class="button" onclick="buttonSubmit('Generate')" id="Generate">
                                                <input name="invalid" type="submit" value="无效" class="button" onclick="buttonSubmit('invalid')" id="invalid">
                                                <input name="after_service" type="submit" value="售后" class="button" onclick="buttonSubmit('after-sales')" id="after-sales">
                                                <input name="" type="submit" value="退货" class="button"  id="sales">
                                                <input name="" type="submit" value="退款" class="button"  id="refund">
                                                <input name="cancel" type="submit" value="取消" class="button" onclick="buttonSubmit('cancel')" id="cancel">
                                            </td>
                                        </tr>
                                        <tr id='actiontable'>
                                            <th>操作者：</th>
                                            <th>操作时间</th>
                                            <th>订单状态</th>
                                            <th>付款状态</th>
                                            <th>发货状态</th>
                                            <th>备注</th>
                                        </tr>
                                        <tr th:each="a:${list}">
                                            <td>
                                                <div align="center" th:text="${a.action_user}">admin</div>
                                            </td>
                                            <td>
                                                <div align="center" th:text=" ${#dates.format(a.log_time,'yyyy-MM-dd HH:mm:ss')}">2018-07-18 11:27:09</div>
                                            </td>
                                            <td>
                                                <div align="center" th:text="${a.order_status}=='2'?'已确认':(${a.order_status}=='3'?'取消':(${a.order_status}=='4'?'无效':(${a.order_status}=='5'?'售后':'无')))">已确认</div>
                                            </td>
                                            <td>
                                                <div align="center" th:text="${entity.pay_state}=='2'?'已付款':'待付款'">未付款</div>
                                            </td>
                                            <td>
                                                <div align="center" th:text="${a.logistics_status}=='2'?'已发货':(${a.logistics_status}=='3'?'已确认收货':(${a.logistics_status}=='4'?'部分发货':(${a.logistics_status}=='5'?'售后':'待发货')))">未发货</div>
                                            </td>
                                            <td th:text="${a.action_note}">22</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </table>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
    $(function(){
    	//初始化界面
    	 var order=[[${entity}]];
    	var pay_state=order.pay_state;
    	var logistics_state=order.logistics_state;
    	var del_state =order.del_state;
    	console.log(pay_state+'--'+logistics_state+'---'+del_state);
    	//支付状态
    	switch(pay_state){
    	case 1:
    		$("#confirm").hide();
    		$("#Generate").hide();
    		$("#invalid").hide();
    		$("#after-sales").hide();
    		$("#sales").hide();
    		$("#refund").hide();
    		
    		break;
    	case 3:
    		$("#confirm").hide();
    		$("#Generate").hide();
    		$("#invalid").hide();
    		$("#cancel").hide();
    		$("#sales").hide();
    		$("#refund").hide();
    		break;
    	default:
    	}
    	//订单状态
    	switch(del_state){
    	case 1:
    		
    		break;
		case 2:
			$("#confirm").hide();
    		break;
    	case 3:
    		$("#confirm").hide();
    		$("#Generate").hide();
    		$("#invalid").hide();
    		$("#cancel").hide();
    		$("#sales").hide();
    		$("#refund").hide();
    		$("#after-sales").hide();
    		break;
    	case 4:
    		$("#confirm").hide();
    		$("#Generate").hide();
    		$("#invalid").hide();
    		$("#cancel").hide();
    		$("#sales").hide();
    		break;
    	case 5:
    		$("#confirm").hide();
    		$("#Generate").hide();
    		$("#invalid").hide();
    		$("#cancel").hide();
    		$("#sales").hide();
    		$("#refund").hide();
    		break;
    	
    	default:
    	}
    	//发货状态
    	switch(logistics_state){
    	case 1:
    		
    		break;
    	default:
    		$("#Generate").hide();
    	}
    	
    })
    var order=[[${entity}]];
    function buttonSubmit(action){
    	console.log(action);
    	switch(action)
    	{
    	case 'confirm':
    		//确认
    		var data1={order_number:order.order_number,del_state:'2'}
    		var data2={order_number:order.order_number,action_note:$("#action_note").val()};
    		confirmAndChengeStatus(data1,data2);
    	  break;
    	case 'invalid':
    		var r=confirm("是否将订单："+order.order_number+",设置为无效状态，该状态下，您无法继续操作该订单，并视为订单作废。请确认与买家沟通一致后操作，操作完成后需进行退款操作，适用于已付款订单。是否无效该订单？");
			if (r==false)
			  {
				return;
			  }
    		//无效
    		var data1={order_number:order.order_number,del_state:'4'}
    		var data2={order_number:order.order_number,action_note:$("#action_note").val()};
    		confirmAndChengeStatus(data1,data2);
    	  break;
    	case 'cancel':
    		var r=confirm("是否取消订单："+order.order_number+",请确认与买家沟通一致后操作，操作后视为订单作废,适用于未付款订单。是否取消？");
			if (r==false)
			  {
				return;
			  }
    		//取消
    		var data1={order_number:order.order_number,del_state:'3'}
    		var data2={order_number:order.order_number,action_note:$("#action_note").val()};
    		confirmAndChengeStatus(data1,data2);
      	  break;
    	case 'Generate':
    		//生成发货单
    		var data1={order_number:order.order_number,logistics_state:'6'}
    		var data2={order_number:order.order_number,action_note:$("#action_note").val()};
    		createDeivery();
    		confirmAndChengeStatus(data1,data2);
    		
    		
      	  break;
    	case 'after-sales':
    		//售后
    		var data1={order_number:order.order_number,del_state:'5'}
    		var data2={order_number:order.order_number,action_note:$("#action_note").val()};
    		confirmAndChengeStatus(data1,data2);
      	  break;
    	
    	default:
    		
    	}
    }
    //修改订单状态，并记录操作记录
    //data1:订单状态
    //data2:操作信息
    function confirmAndChengeStatus(data1,data2){
    	//修改订单状态
    	$.post('/admin/order/chengeStatus',data1,function(data){
    		if(data!=null&&data.res=='1'){
    			//修改成功
    			recordAction(data2);
    			
    		}else{
    			alert("操作失败，修改订单状态！");
    		}
    		
    	})
    	//记录修改流水
    }
    //记录操作记录
    function recordAction(data){
    	$.post("/admin/order/action/add",
    			data,
				function(data){
					if(data!=null&&data.res=='1'){
						//操作记录保存成功
						showAction(data.obj);
					}else{
						alert("操作失败，创建操作记录！");
					}
				})
    }
    function showAction(obj){
    	console.log(obj.order_status);
    	var status='';
    	switch(obj.order_status){
    	case 2:
    		status='已确认';
    		break;
    	case 3 :
    		status='取消';
			break;
    	case 4 :
    		status='无效';
			break;
    	case 5 :
    		status='售后';
			break;
    	default:
    		status='无';
    		
    	}
    	
    	var item="<tr>"+
            "<td><div align='center'>"+obj.action_user+"</div></td>"+
    "<td><div align='center'>"+obj.log_time+"</div></td>"+
    "<td><div align='center'>"+status+"</div></td>"+
    "<td><div align='center'>"+(order.pay_state=='2'?'已付款':'待付款')+"</div></td>"+
    "<td><div align='center'>"+(obj.logistics_status=='6'?'生成发货单':(obj.logistics_status=='5'?'退货':(obj.logistics_status=='4'?'部分发货':(obj.logistics_status=='3'?'已确认收货':(obj.logistics_status=='2'?'已发货':'待发货')))))+"</div></td>"+
    "<td>"+obj.action_note+"</td></tr>"
	
    	$("#actiontable").after(item);
    }
    function createDeivery(){
    	$.post("/admin/InventoryDeivery/add",
    			{order_number:order.order_number},
    			function(data){
    				if(data!=null&&data.res=='1'){
    					//成功
    					//弹出窗口
    					var r=confirm("创建发货单成功!发货单号："+data.obj.delivery_number+"，是否跳转至发货单界面？");
						if (r==true)
						  {
							window.location.href="/admin/order/deivery/detail?delivery_number="+data.obj.delivery_number;
						  }
						else
						  {
						  }
    				}else{
    					alert("创建发货单失败！");
    				}
    			})
    }
    
    </script>
</body>

</html>
