<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.cms.AtticleldCommentMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.cms.AtticleldComment">
    <id column="commentId" jdbcType="VARCHAR" property="commentId" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="fatherId" jdbcType="VARCHAR" property="fatherId" />
    <result column="articleld" jdbcType="VARCHAR" property="articleld" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="BIGINT" property="phone" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mall.entity.cms.AtticleldComment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    commentId, userId, fatherId, articleld, name, phone, ip, status, createTime
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_cms_articleld_comment
    where commentId = #{commentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_cms_articleld_comment
    where commentId = #{commentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mall.entity.cms.AtticleldComment">
    insert into t_cms_articleld_comment (commentId, userId, fatherId, 
      articleld, name, phone, 
      ip, status, createTime, 
      content)
    values (#{commentId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{fatherId,jdbcType=VARCHAR}, 
      #{articleld,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=BIGINT}, 
      #{ip,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.cms.AtticleldComment">
    insert into t_cms_articleld_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        commentId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="fatherId != null">
        fatherId,
      </if>
      <if test="articleld != null">
        articleld,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="articleld != null">
        #{articleld,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.cms.AtticleldComment">
    update t_cms_articleld_comment
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null">
        fatherId = #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="articleld != null">
        articleld = #{articleld,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where commentId = #{commentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mall.entity.cms.AtticleldComment">
    update t_cms_articleld_comment
    set userId = #{userId,jdbcType=VARCHAR},
      fatherId = #{fatherId,jdbcType=VARCHAR},
      articleld = #{articleld,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      ip = #{ip,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where commentId = #{commentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.cms.AtticleldComment">
    update t_cms_articleld_comment
    set userId = #{userId,jdbcType=VARCHAR},
      fatherId = #{fatherId,jdbcType=VARCHAR},
      articleld = #{articleld,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      ip = #{ip,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where commentId = #{commentId,jdbcType=VARCHAR}
  </update>
</mapper>