<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="page">
	<div class="content_box">
		<div class="shop_list_fbox">
			<!-- 商品列表 -->
			<!-- 
			<div class="shop_list_box">
				<div class="shop_boxs">
				<form action="/mall/seckill/list" method="post" id="topage">
					<h3 class="tit_bar"><b>选画中心</b></h3>
					<div class="header_bar">
						<div class="header_div">
							<div class="left_lab">分类：</div>
							<div class="memu_ul" id="classify">
							</div>
						</div>
						
						<div class="header_div">
							<div class="left_lab">职位：</div>
							<ul class="memu_ul position">
							  <li><a href="javascript:">八大美院</a></li>
                              <li><a hhref="javascript:">国家画院</a></li>
                              <li><a href="javascript:">国家级工艺美术师</a></li>
                              <li><a href="javascript:">中国美协主席团</a></li>
                              <li><a href="javascript:">中国书协主席团</a></li>
                              <li><a href="javascript:">中国美协理事 </a></li>
                              <li><a href="javascript:">中国书协理事</a></li>
                              <li><a href="javascript:">省级美协主席团 </option>
                              <li><a href="javascript:">省级书协主席团</a></li>
                              <li><a href="javascript:">中国美协会员</a></li>
                              <li><a href="javascript:">中国书协会员</a></li>
                              <li><a href="javascript:">省级美协会员</a></li>
                              <li><a href="javascript:">中省级书协会员</a></li>
                              <li><a href="javascript:">省级工艺美术师</a></li>
                              <li><a href="javascript:">民间大家</a></li>
                              <li><a href="javascript:">其他</a></li>
							</ul>
						</div>
						<div class="header_div">
							<div class="left_lab">形制：</div>
							<ul class="memu_ul standard">
                              <li><a href="javascript:">竖幅</a></li>
                              <li><a href="javascript:">横幅</a></li>
                              <li><a href="javascript:">斗方</a></li>
                              <li><a href="javascript:">条屏</a></li>
                              <li><a href="javascript:">团扇</a></li>
                              <li><a href="javascript:">册页</a></li>
                              <li><a href="javascript:">手卷</a></li>
                              <li><a href="javascript:">中堂</a></li>
                              <li><a href="javascript:">对联</a></li>
                              <li><a href="javascript:">不规则</a></li>
							</ul>
						</div>
						<div class="header_div">
							<div class="left_lab">环境：</div>
							<ul class="memu_ul enviroment">
                 			    <li><a href="javascript:">客厅</a></li>
	                            <li><a href="javascript:">卧室</a></li>
	                            <li><a href="javascript:">办公室</a></li>
	                            <li><a href="javascript:">餐厅</a></li>
	                            <li><a href="javascript:">走廊</a></li>
	                            <li><a href="javascript:">酒楼</a></li>
	                            <li><a href="javascript:">其他</a></li>
							</ul>
						</div>
						<div class="header_div">
							<div class="left_lab">装裱形式：</div>
							<ul class="memu_ul framed">
                 			    <li><a href="javascript:">无装裱</a></li>
	                            <li><a href="javascript:">立轴</a></li>
							</ul>
						</div>
						<div class="header_search">
							<input type="text" id="goods_name" name="goods_name">
							<button class="search_btn" id="submit_name">搜索</button>
						</div>
						<input type="hidden" id="position" name="auth.position" th:value="(${goods}!=null and ${goods.auth!=null} )?${goods.auth.position}"/>
						<input type="hidden" id="framed" name="goodsInfo.framed"  th:value="(${goods}!=null and ${goods.goodsInfo}!=null)?${goods.goodsInfo.framed}"/>
						<input type="hidden" id="enviroment" name="goodsInfo.enviroment"  th:value="(${goods}!=null and ${goods.goodsInfo}!=null)?${goods.goodsInfo.environment}"/>
						<input type="hidden" id="standard" name="goodsInfo.standard" th:value="(${goods}!=null and ${goods.goodsInfo}!=null)?${goods.goodsInfo.standard}"/>
						<input type="hidden" id="category_id" name="goodsInfo.category_id" th:value="(${goods}!=null and ${goods.goodsInfo}!=null)?${goods.goodsInfo.category_id}"/>
						<input type="hidden" id="salesSort" name="salesSort"  th:value="${goods}!=null?${goods.salesSort}"/>
						<input type="hidden" id="popularitySort" name="popularitySort"  th:value="${goods}!=null?${goods.popularitySort}"/>
						<input type="hidden" id="priceSort" name="priceSort" th:value="${goods}!=null?${goods.priceSort}"/>	
						
						<input type="hidden" id="recommend" name="recommend" th:value="${goods}!=null?${goods.recommend}"/>	
						<input type="hidden" id="classic" name="classic" th:value="${goods}!=null?${goods.classic}"/>	
						<input type="hidden" id="new_product" name="new_product" th:value="${goods}!=null?${goods.new_product}"/>	
						<input type="hidden" id="sale" name="goodsPrice.sale" th:value="(${goods}!=null and ${goods.goodsPrice}!=null)?${goods.goodsPrice.sale}"/>	
							
						</form>
					</div>
				</div>
				 -->
				<div class="shop_boxs">
					<h3 class="tit_bar">
						<b>默认排序</b>
						<span id="xiaoliang">销量<b>↓</b></span>
						<span id="jiage">价格<b>↓</b></span>
						<span id="renqi">人气<b>↓</b></span>
						<!--  
						<span class="f_r">共<i>100</i>件作品</span>
						-->
					</h3>
					<ul class="list_item">
							
		                   <li th:each="a:${list.dataList}">
								<span class="sPic">
									<a th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">
		                            	<img alt=""  th:src="@{${fileServicePath}+'/'+${a.goods.filePath.path}+'/'+${a.goods.filePath.fileidname}+'.'+${a.goods.filePath.filetype}}">
		                        	</a>
		                        </span>
		                        <p><a  th:text="${a.goods.auth.position}+'-'+${a.goods.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <p class="ku_c" th:text="'库存：'+${a.number}">库存：99</p>
		                        
		                        <div class="price">
		                        ¥
		                        	&nbsp
		                            <span th:text="${a.goodsPrice.sale}=='Y'?${a.goodsPrice.sale_price}:${a.goodsPrice.retail_price}">2000.00</span>
		                            <del class="yuanjia" th:text="'¥ '+(${a.goodsPrice.sale}=='Y'?${a.goodsPrice.retail_price})" th:style="${a.goodsPrice.sale}=='Y'?'':'display:none'"></del>
		                        </div>
		                    </li>
					</ul>
					<div class="pagination_Box">
						<ul class="pagination" style="visibility: visible;">
		                            	
		                                <li class="prev ">  <a href="#" th:href="@{'javascript:toPage(1);'}">
		                                    <i class="fa fa-angle-double-left">首页</i>
		                                    </a></li>
		                                    <li class="prev ">
		                                        <a href="#" title="Prev" th:href="@{'javascript:toPage('+(${list.pageNo}-1>0?${list.pageNo}-1:1)+');'}">
		                                            <i class="fa fa-angle-left">上一页</i>
		                                        </a>
		                                    </li>
		                                    <li class="active" id="activepage">
		                                        <a href="#" th:text="${list.pageNo}">1</a>
		                                    </li>
		                                    <li class="next ">
		                                        <a href="#" title="Next"  th:href="@{'javascript:toPage('+(${list.pageNo}==${list.pages}?${list.pages}:${list.pageNo}+1)+');'}">
		                                            <i class="fa fa-angle-right">下一页</i>
		                                        </a>
		                                    </li>
		                                    <li class="next " >
		                                        <a href="#"  th:href="@{'javascript:toPage('+(${list.pages})+');'}"><i class="fa fa-angle-double-right" >末页</i>
                                        		</a>
		                                    </li>
		                                    
                                </ul>
					</div>
				</div>
				
			</div>
		</div>
		
			<div class="footer_baozhen">
				<img src="/mall/images/baozhen.png" alt="">
			</div>
		
	<!-- 内容部分结束 -->
	<script type="text/javascript" th:inline="javascript">
	//分类栏目读取
	var ca=[[${goodsCategoryList}]];
	console.log(ca);
	$("#classify").html(buildMenu(ca));
	
	 function buildMenu(obj,ulcss,tier) {
  	   var ulcss = ulcss ? ulcss : 'classify_list';
  	   var tier= tier ? tier : 1;
         tier++;
         var str = "<ul class='"+ulcss+"'>";
         for(index in obj){
      	   if (typeof(obj[index].goodsCategoryList) ==="object") {
          	   if(obj[index].parent_id==''){
              	   //一级分类
          		   str += "<li class='f_list'><a href='javascript:' data-id='"+obj[index].category_id+"'>"+ obj[index].category_name+"</a>"
          		   str += buildMenu(obj[index].goodsCategoryList,'c_list'); 
          		   //递归判断是不是object,直到不是li 
                     str += "</li>";
                 }else{
                     if(tier>=3){
							//如果3级菜单则不需要
                  	   str += '<li> <a href="javascript:" class="left_textbody" data-id="'+obj[index].category_id+'">'+obj[index].category_name+
                  	   		 '</a></li>'
                  	   //str += buildMenu(obj[index].goodsCategoryList,'cc_list',tier);
                  	    //递归判断是不是object,直到不是li 
                       str += "</li>";

                     }else{

                  	   str += '<li> <a href="javascript:" class="left_textbody" data-id="'+ obj[index].category_id+'">'+obj[index].category_name+
                  	   		 '</a>'
                  	   str += buildMenu(obj[index].goodsCategoryList,'cc_list',tier); //递归判断是不是object,直到不是li 
                       str += "</li>";
						
                      }
                 }
                     
                     
                     
             }
      	   else {
                     str += "<li>" + index + "</li>" 
             }
         }
         
         
         str += "</ul>";
         return str;

     }


	 //分类子分类显示
	 $(".classify_list>.f_list>a").hover(function(){
		 //$(this).parent().addClass('active');
		// $(this).parent().siblings().removeClass('active');
		 $(this).parent().children('.c_list').show();
		 $(this).parent().siblings().children('.c_list').hide()
		})
	 $(".f_list .c_list .left_textbody").hover(function(){
		 //$(this).parent().addClass('active');
		 //$(this).parent().siblings().removeClass('active');
		 $(this).parent().children('.cc_list').show();
		 $(this).parent().siblings().children('.cc_list').hide()
		})
	
	//获取分类id
	 $(".classify_list>.f_list>a").click(function(){
		$(this).parent().addClass('active');
		var thisid=$(this).data('id');
		$("#category_id").val(thisid);
		console.log(thisid)
	})
	
	 $(".f_list .c_list .left_textbody").click(function(){
		 $(this).parent().addClass('active');
		 var thisid=$(this).data('id');
		 $("#category_id").val(thisid);
			console.log(thisid)
		})

	//作者职位
	setHideInput(".position>li>a","#position");
	//装裱
	setHideInput(".framed>li>a","#framed");
	//环境
	setHideInput(".enviroment>li>a","#enviroment");
	//制式
	setHideInput(".standard>li>a","#standard");
	
	function setHideInput(dom,input){
		$(dom).click(function(){
			 $(this).parent().siblings().removeClass('active');
			$(this).parent().addClass('active');
			console.log($(this).text());
			$(input).val($(this).text())
		})
	}
	
	//销量、价格、人气排序
	
	sortName('#xiaoliang','#salesSort');
	sortName('#jiage','#priceSort');
	sortName('#renqi','#popularitySort');
	
	function sortName(dom,input){
		$(dom).click(function(){
			if($(input).val()==''){
				$(input).val('DESC');
				$(dom).find('b').text('↓');
			}else{
				if($(input).val()=='DESC'){
					$(input).val('ASC');
					$(dom).find('b').text('↑');
				}else{
					$(input).val('DESC');
					$(dom).find('b').text('↓');
				}
			}
			
		})
		
	}
	function toPage(num){
		var item='<input type="hidden"  name="pageNo" value="'+num+'" />';
		$("#topage").append(item);
		$("#topage").submit();
	}

	
	$(function(){
		var pageNo=[[${list.pageNo}]];
    	var pages=[[${list.pages}]];
    	
		for(var i=2;i>0;i--){
			var pag=pageNo-i;
			if(pageNo-i>0){
				var dome="<li><a  href='javascript:toPage("+pag+");'>"+pag+"</a></li>";
    			$("#activepage").before(dome);
			}
			
		}
		for(var i=2;i>0;i--){
			var pag=pageNo+i;
			if(pageNo+i<=pages){
				var dome="<li><a  href='javascript:toPage("+pag+");'>"+pag+"</a></li>";
    			$("#activepage").after(dome);
			}
			
		}
	})
	
	
	
	</script>
	</div>
</body>
</html>