<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title>云网传媒后台主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />
    <link href="/admin/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/admin/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/admin/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" /> </head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src="/admin/assets/layouts/layout/img/logo.png" alt="logo" class="logo-default" /> </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="/admin/assets/layouts/layout/img/avatar3_small.jpg" />
                                <span class="username username-hide-on-mobile"> 管理员 </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="page_user_profile_1.html">
                                        <i class="icon-user"></i> 个人资料 </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="page_user_lock_1.html">
                                        <i class="icon-lock"></i> 密码修改 </a>
                                </li>
                                <li>
                                    <a href="page_user_login_1.html">
                                        <i class="icon-key"></i> 退出 </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container"  style="overflow: auto;">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse" id="left_menu">
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a href="index_body.html" target="bodymain" class="nav-link nav-toggle" th:href="@{/admin}">
                                <i class="icon-home"></i>
                                <span class="title">主页</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>
                        </li>
                        <li class="nav-item" th:attr="class=${content == null} ? 'nav-item' : ${content}"  >
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-puzzle"></i>
                                <span class="title">内容管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">名家荟萃</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="add_mingjia.html"  class="nav-link " th:href="@{/admin/cms/addwriter.do(Pid='MJHC')}">
                                                <span class="title">新增名家</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="list_mingjia.html" class="nav-link " th:href="@{/admin/cms//writerlist.do(Pid='MJHC')}">
                                                <span class="title">名家列表</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">作品集锦</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="add_cms.html" class="nav-link " th:href="@{/admin/cms/add.do(Pid='ZPJJ')}">
                                                <span class="title">新增作品</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="list_cms.html" class="nav-link " th:href="@{/admin/cms/list.do(Pid='ZPJJ')}">
                                                <span class="title">作品列表</span>
                                            </a>
                                        </li>
                                    </ul>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">资讯中心</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="add_cms.html" class="nav-link " th:href="@{/admin/cms/add.do(Pid='ZXZX')}">
                                                <span class="title">新增资讯</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="list_cms.html" class="nav-link " th:href="@{/admin/cms/list.do(Pid='ZXZX')}">
                                                <span class="title">资讯列表</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">传统文化</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="add_cms.html" class="nav-link " th:href="@{/admin/cms/add.do(Pid='CTWH')}">
                                                <span class="title">新增传统文化</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="list_cms.html" class="nav-link " th:href="@{/admin/cms/list.do(Pid='CTWH')}">
                                                <span class="title">传统文化列表</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item  ">
                                    <a href="classify_cms.html" class="nav-link " th:href="@{/admin/cms/classify.do}">
                                        <span class="title">分类管理</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item " th:attr="class=${mall == null} ? 'nav-item' : ${mall}" >
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-settings"></i>
                                <span class="title">商城管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/admin/goods/list" class="nav-link ">
                                        <span class="title">商品列表</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="/admin/goods/category" class="nav-link ">
                                            <span class="title">商品分类</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="/admin/goods/editor" class="nav-link ">
                                            <span class="title">发布新商品</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  " th:attr="class=${order == null} ? 'nav-item' : ${order}" >
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-bulb"></i>
                                <span class="title">订单管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="/admin/order/list" class="nav-link ">
                                        <span class="title">订单列表</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="/admin/order/list" class="nav-link ">
                                        <span class="title">发货单列表</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  " th:attr="class=${users == null} ? 'nav-item' : ${users}" >
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-briefcase"></i>
                                <span class="title">用户管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="user_list.html" class="nav-link ">
                                        <span class="title">用户列表</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="user_add.html" class="nav-link ">
                                        <span class="title">新增用户</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  " th:attr="class=${admin == null} ? 'nav-item' : ${admin}">
                            <a href="?p=" class="nav-link nav-toggle">
                                <i class="icon-wallet"></i>
                                <span class="title">管理员管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="admin_list.html" class="nav-link ">
                                        <span class="title">管理员列表</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="admin_add.html" class="nav-link ">
                                        <span class="title">新增管理员</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  " th:attr="class=${seckill == null} ? 'nav-item' : ${seckill}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-bar-chart"></i>
                                <span class="title">秒杀管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="miaosha_list.html" class="nav-link ">
                                        <span class="title">秒杀商品列表</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="miaosha_add.html" class="nav-link ">
                                        <span class="title">上架秒杀商品</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="miaosha_order.html" class="nav-link ">
                                        <span class="title">查看秒杀订单</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  " th:attr="class=${auction == null} ? 'nav-item' : ${auction}">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-pointer"></i>
                                <span class="title">拍卖管理</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="paimai_list.html" class="nav-link ">
                                        <span class="title">拍卖商品列表</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="paimai_add.html" class="nav-link ">
                                        <span class="title">上架新的拍卖</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="heading" >
                            <h3 class="uppercase">轮播图</h3>
                        </li>
                        <li class="nav-item  ">
                            <a href="lunbotu.html" class="nav-link nav-toggle">
                                <i class="icon-basket"></i>
                                <span class="title">首页轮播图</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END SIDEBAR -->
            </div>
            <script src="/admin/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
		    <script src="/admin/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
		    <script src="/admin/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
		    <script src="/admin/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
		    <script src="/admin/assets/global/scripts/app.min.js" type="text/javascript"></script>
		
		    <script src="/admin/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
            <!-- ifram -->
             <iframe  name="bodymain"  th:replace="${page}::html" class="page-content-wrapper" style="width:100%;background:#fff" frameborder="0">
                
            </iframe>-->
              
        </div>
        <script>
               
        </script>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner"> 2018 &copy; By 技术团队：
                <a target="_blank" href="http://mtyyun.com">猫头鹰网络云服务有限公司</a> &nbsp;
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
    <!-- BEGIN QUICK NAV -->
    <div class="quick-nav-overlay"></div>
    

</body>

</html>
