<!DOCTYPE html>
<html lang="en" >
      <link rel="shortcut icon" href="/mall/images/favicon.ico" type="image/x-icon" />
      <title>书画交易_书画臻品交易_云网传媒书画院_</title>
	<meta name="keywords" content="古董收藏,古玩收藏,字画收藏,玉器展览,艺术品鉴定,古董鉴定,古玩鉴定,玉器鉴定,书画院，深圳云网传媒有限公司">
	<meta name="description" content="深圳云网传媒有限公司是一个集艺术品甄选、鉴定、展览、拍卖等艺术品服务为一体的公司。公司秉持公平、公正、公开的原则，以诚实、守信、共赢为本，针对广大客户建立一个安全可靠的古董古玩鉴定、艺术品评估、拍卖平台">
	<link rel="stylesheet" href="/mall/css/style.css">
	<link rel="stylesheet" href="/mall/css/font.css">
	 <script src="/admin/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<head>
<meta charset="UTF-8">
<title>云网传媒</title>
</head>
<body  class="body_bg">
	    <!-- header -->
             <iframe  name="header"  th:replace="mall/base/header::page" class="page-content-wrapper" style="width:100%;background:#fff" frameborder="0">
                
            </iframe>
              <!-- content -->
             <iframe  name="content"  th:replace="${page}::page" class="page-content-wrapper" style="width:100%;background:#fff" frameborder="0">
                
            </iframe>
                <!-- footer -->
             <iframe  name="footer"  th:replace="mall/base/footer::page" class="page-content-wrapper" style="width:100%;background:#fff" frameborder="0">
             
             </iframe> 


</body>
</html>