<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <link rel="shortcut icon" href="/mall/images/favicon.ico" type="image/x-icon" />
<head>
<meta charset="UTF-8">
<title>云网传媒</title>
</head>
<body>
	    <!-- header -->
             <iframe  name="header"  th:replace="mall/base/header::html" class="page-content-wrapper" style="width:100%;background:#fff" frameborder="0">
                
            </iframe>
              <!-- content -->
             <iframe  name="content"  th:replace="${page}::html" class="page-content-wrapper" style="width:100%;background:#fff" frameborder="0">
                
            </iframe>
                <!-- footer -->
             <iframe  name="footer"  th:replace="mall/base/footer::html" class="page-content-wrapper" style="width:100%;background:#fff" frameborder="0">
             
             </iframe> 


</body>
</html>