<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="page">
<!-- 内容部分 -->
    <script src="/mall/js/about_us.js"></script>
    <div class="content_box">
        <div class="about-us-box">
        	<div class="side-left">
        		<h2><span class="icon-flag"></span>关于我们</h2>
        		<ul class="side-left-ulbox">
        			<li class="active"><a href="#aa">企业简介</a></li>
        			<li><a href="#bb">企业文化</a></li>
        			<li><a href="#cc">联系我们</a></li>
        			<!-- javascript:void(0) -->

        		</ul>
        	</div>
        	<div class="side-right">
        		<ul class="side-right-ulbox">
        			<li style="display: block">
			        	<div class="nav-about-tit">
			        		<a href="">首页</a> > <a href="">关于我们</a> > 企业简介
			        	</div>
			        	<div class="about_us_cont">
			        		<h3>一、简介</h3>
			        		<p>深圳云网文化传媒隶属于深圳云网基业电信集团旗下的深圳云网传媒有限公司。深圳云网文化传媒是以互联网+文化产业的创新型产业，拥有线下书画院和线上销售平台，以线上和线下相结合的经营模式，致力于全面搭建书画作品销售渠道。</p>
			        		<p>文化产业的每一副作品、每一件艺术品、每一款商品都有一个编码，具有唯一性、可溯源性。为书画作品、艺术家提供一个包装、推广、宣传、创作、交流以及书画作品、艺术品交易的综合性平台。</p>
			        		<p><img src="/mall/images/yunwang_qiantai.jpg" alt=""></p>
			        		<h3>二、宗旨</h3>
			        		<p>弘扬中华优秀传统文化，扶持文艺人才。</p>
			        		<!--  
			        		<p><img src="/mall/images/yunwang_shufajia.jpg" alt=""></p>
			        		-->
			        		<h3>三、经营理念</h3>
			        		<p>搭建文化交流平台，传承民间传统艺术文化；提供真迹书画、艺术作品的销售、鉴赏与交流空间；让咱老百姓也能收藏书画的平台。</p>
			        		<p><img src="/mall/images/yunwang_shuhua.jpg" alt=""></p>
			        		<h3>四、核心文化</h3>
			        		<p>心怀感恩、勇于担当、大爱无疆</p>
			        		<p><img src="/mall/images/yuwang_shuhua2.jpg" alt=""></p>
			        	</div>
        			</li>
        			<li id="bb">
        				<div class="nav-about-tit">
			        		<a href="">首页</a> > <a href="">关于我们</a> > 企业文化
			        	</div>
			        	<div class="about_us_cont">	
			        		 <p>企业核心文化（心怀感恩，勇于担当，大爱无疆）是企业的灵魂。集团公司的发展目标——打造民族百年品牌企业。为此集团大力倡导企业文化，为达成长远目标做好铺垫工作。以解决社会痛点、惠顾于民、服务第一为理念，树立核心价值观：</p>
			        		 <p>农历5月21日    云网健康日</p>
			        		 <p>关爱健康，云网人在行动。在云网健康日来临之际，全国将有数百万云网家人共同走向街头宣传：“治未病”“防患于未然”“远离三高”，拒绝“抗生素”，摆脱病痛困扰，早发现、早治疗。提高全面健康素质，并每年坚持带家人做健康全面体检。</p>
			        		 <p>农历6月6日     云网寻孤日</p>
			        		 <p>云网人只要发现身边有疑似被拐妇女、儿童、老人，便尽自己最大能力去帮助这些被拐人员。如有照片、信息或其它线索，就会发到我们的云优特平台，利用云优特自身大数据平台的优势，帮助更多失散家庭，找到曾经失去的幸福时光。</p>
			        		 <p>农历9月9日      云网爱心日</p>
			        		 <p>全国各地的云网人走进养老院，为他们送去快乐和温暖，并大力推动中国养老模式，从传统养老迈向智能化养老，让中国的养老事业领跑全世界。</p>
			        	</div>
        			</li>
        			<li id="cc">
        				<div class="nav-about-tit">
			        		<a href="">首页</a> > <a href="">关于我们</a> > 联系我们
			        	</div>
			        	<div class="about_us_cont">	
			        		<div class="customer-service">
			        			<div class="csbox">
			        				<i class="icon-phone"></i>
									<span>
										<h2>电话客服</h2>
										<p>周一到周六  9:00 - 18:00  为您服务</p>
									</span>
									<div class="boxhover">
										<div> <strong>400-900-9680</strong></div>
									</div>
			        			</div> 
			        			<div class="csbox">
			        				<i class="icon-user-tie"></i>
									<span>
										<h2>在线客服</h2>
										<p>周一到周六  9:00 - 18:00  为您服务</p>
									</span>
									<div class="boxhover">
										<div class="two"><a href="">立即咨询</a></div>
									</div>
			        			</div>  
			        			<div class="csbox">
			        				<i class="icon-bubbles"></i>
									<span>
										<h2>微信公众号</h2>
										<p>7*24小时  为您服务</p>
									</span>
									<div class="boxhover">
										<div class="three"> 
											<img src="/mall/images/erweima.jpg">
											<p class="txt-wechat">扫一扫 立即关注</p>
										</div>
									</div>
			        			</div>   
			        		</div>
			        		<h2 class="con-module-title">联系方式</h2>
			        		<div class="ci">
			        			<p>公司名称：深圳云网传媒有限公司</p>
			        			<p>联系热线：400-900-9680</p>
			        			<p>手机联系：18188637872</p>
								<p>地址：深圳龙华区龙观东路1号望成大厦5楼5818室</p>
								<p>网址：www.ywwhcm.com.cn</p>
			        		</div>
			        		<h2 class="con-module-title mb">在线地图</h2>
			        		<!--百度地图容器-->
			        		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=eFBcQj5AigbC1bQp4S99jX6UNN0rKW6C"></script>
			        		<script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=eFBcQj5AigbC1bQp4S99jX6UNN0rKW6C&amp;services=&amp;t=20180629105706"></script><script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&amp;ak=eFBcQj5AigbC1bQp4S99jX6UNN0rKW6C&amp;services=&amp;t=20180629105706"></script>
			        		<div class="map" id="map">
			        			
			        		</div>
			        		<script type="text/javascript">
			                    //创建和初始化地图函数：
			                    function initMap() {
			                        createMap();//创建地图
			                        setMapEvent();//设置地图事件
			                        addMapControl();//向地图添加控件
			                        addMapOverlay();//向地图添加覆盖物
			                    }
			                    function createMap() {
			                        map = new BMap.Map("map");
			                        map.centerAndZoom(new BMap.Point(114.044874, 22.682811), 18);
			                    }
			                    function setMapEvent() {
			                        map.enableScrollWheelZoom();
			                        map.enableKeyboard();
			                        map.enableDragging();
			                        map.enableDoubleClickZoom()
			                    }
			                    function addClickHandler(target, window) {
			                        target.addEventListener("click", function () {
			                            target.openInfoWindow(window);
			                        });
			                    }
			                    function addMapOverlay() {
			                        var markers = [
			                            {	
			                                title: "深圳云网传媒有限公司",
			                                content: "深圳龙华区龙观东路1号望城大厦5楼5818室",
			                                imageOffset: {width: 0, height: 3},
			                                position: {lat: 22.682811, lng: 114.044874}
			                            }
			                        ];
			                        for (var index = 0; index < markers.length; index++) {
			                            var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
			                            var marker = new BMap.Marker(point, {
			                                icon: new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png", new BMap.Size(20, 25), {
			                                    imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
			                                })
			                            });
			                            var label = new BMap.Label(markers[index].title, {offset: new BMap.Size(25, 5)});
			                            var opts = {
			                                width: 200,
			                                title: markers[index].title,
			                                enableMessage: false
			                            };
			                            var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
			                            marker.setLabel(label);
			                            addClickHandler(marker, infoWindow);
			                            map.addOverlay(marker);
			                        }
			                        ;
			                    }
			                    //向地图添加控件
			                    function addMapControl() {
			                        var scaleControl = new BMap.ScaleControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT});
			                        scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
			                        map.addControl(scaleControl);
			                        var navControl = new BMap.NavigationControl({
			                            anchor: BMAP_ANCHOR_TOP_LEFT,
			                            type: BMAP_NAVIGATION_CONTROL_LARGE
			                        });
			                        map.addControl(navControl);
			                        var overviewControl = new BMap.OverviewMapControl({
			                            anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
			                            isOpen: true
			                        });
			                        map.addControl(overviewControl);
			                    }
			                    var map;
			                    initMap();
			                </script>
			        	</div>
        			</li>
        		</ul>
        	</div>
        </div>
    </div>
    <!-- 内容部分结束 -->
</div>
</body>
</html>