<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>



</style>
</head>
<body>
<!-- 内容部分 -->
    <script src="/mall/js/shop_show.js"></script>
    <div class="content_box">
        <div class="shop_show">
            <div class="shop_show_header">
                <div class="header_left_img">
                    <div class="small_box">
                        <div class="mark" id="mark">
                        </div>
                        <span class="float_layer"></span>
                        <img alt="" th:src="@{${fileServicePath}+'/'+${goods.filePath.path}+'/'+${goods.filePath.fileidname}+'.'+${goods.filePath.filetype}}">
                    </div>
                    <div class="big_box">
                        <img th:src="@{${fileServicePath}+'/'+${goods.filePath.path}+'/'+${goods.filePath.fileidname}+'.'+${goods.filePath.filetype}}">
                    </div>
                </div>
                <div class="header_right_detail">
                    <h3 th:text="${goods.auth.position}+'-'+${goods.auth.authorname}+'  '+'《'+${goods.goods_name}+'》'">河北省美术家协会会员 康计永《山乡自有春意在》</h3>
                    <div class="shop_d_box">
                          
                        		<p>价格:<span class="price" th:text="'¥ '+(${goods.goodsPrice.sale}=='Y'?${goods.goodsPrice.sale_price}:${goods.goodsPrice.retail_price})">2000元</span>
                        			<span th:style="${goods.goodsPrice.sale}=='Y'?'':'display:none'" class='yuanjia'>¥<del th:text="${goods.goodsPrice.retail_price}"> </del> </span>
                        		</p>
                        		
                        <p> 作者：<span th:text="${goods.auth.authorname}">张孝勇</span></p>
                        <p>尺寸：<span th:text="${goods.goodsInfo.size}">34x136cmx4</span></p>
                    </div>
                    <div class="wuliu">
                        至全国：<span> 卖家承担运费</span>
                    </div>
                    <div class="shop_show_buy">
                        <div class="number_box">
                            <input type="number"  value="1" id="amount" name="amount">
                            <div class="pm_mix">
                                <button class="plus">+</button>
                                <button class="minus">-</button>
                            </div>
                        </div>
                        <a class="once_buy" id="once_buy" href="javascript:buy()">
                            立即购买
                        </a>
                        <div class="zixun" onclick="javascript:parent.OnlineSupport_365webcall_154247._openChatWin(0, 0);" >
                            在线咨询
                        </div>
                    </div>
                    <div class="msg_text">
                        <span th:text="'库存：'+${goods.goodsInfo.inventory.amount}">库存: 99</span>（当前库存紧张，请及时下单）
                        <p><span id="msg"></span>
                    </div>
                </div>
            </div>
            <!-- 详情展示 -->
            <div class="detail_tit">
                <ul>
                    <li class="active"><a href="#">商品详情</a></li>
                    <li><a href="#fuwu">服务保障</a></li>
                    <li><a href="#pingjia">商品评价(0)</a></li>
                    <li><a href="#zixun">购买咨询</a></li>
                </ul>
            </div>
            <div class="show_detail_box">
                <div class="show_detail_left">
                    <p class="gaikuang">基本参数</p>
                    <div class="jieshao">
                        <p>作家姓名： <span th:text="${goods.auth.authorname}">康计勇</span> </p>
                        <p>职称： <span th:text="${goods.auth.position}">地方书协美协</span></p>
                        <p>尺寸： <span th:text="${goods.goodsInfo.size}">40X16</span></p>
                        <p>平尺： <span th:text="${goods.goodsInfo.flat_feet}">4.14</span></p>
                        <p>编号: <span th:text="${goods.nickname}">D12</span></p>
                        <p>类别： <span th:text="${goods.goodsInfo.goodsCategory.category_name}">书画</span></p>
                        <p>形制：<span th:text="${goods.goodsInfo.standard}">条屏</span></p>
                        <p>装裱形式: <span th:text="${goods.goodsInfo.framed}">立轴</span></p>
                        <p>环境：<span th:text="${goods.goodsInfo.environment}">餐厅</span>
                    </div>
                    <h3 class="show_detail_tit" th:text="${goods.auth.position}+'-'+${goods.auth.authorname}+'  '+'《'+${goods.goods_name}+'》'">
						河北省美术家协会会员 康计永《山乡自有春意在》
					</h3>
                    <p class="gaikuang">作品概况</p>
                    <!-- 主图部分 -->
                    <div class="main_img">
                        <img  alt="" th:src="@{${fileServicePath}+'/'+${goods.filePath.path}+'/'+${goods.filePath.fileidname}+'.'+${goods.filePath.filetype}}">
                    </div>
                    <p class="gaikuang">细节展示</p>
                    <!-- 细节展示图部分 -->
                    <div class="main_img" th:utext="${goods.detail_describe}">
                        <img src="/mall/images/xijie.png" alt="">
                    </div>
                    <p class="gaikuang">须知</p>
                    <div class="xuzhi">
                        <p class="tit">关于色差</p>
                        <p class="cont">我站推荐手绘真迹作品所示照片均为实拍，由于分辨率的不同，图片和实物作品会有一定的色差不属质量问题。</p>
                        <p class="tit">关于装裱</p>
                        <p class="cont">一幅完整的作品，要使其更为美观，以及便于保存、流传和收藏，是离不开装裱的，但因装裱种类众多样式繁杂，本站所售作品统一为熨烫平展的宣纸画心（镜心），藏家需要依据各自喜好和环境自行装裱。本站所售作品在运输过程中会出现因挤压而产生的折痕，这一现象不会影响作品本身，更不会造成作品价值缺失，藏家可按各自喜好装裱。</p>
                        <p class="tit">关于定制</p>
                        <p class="cont">成熟的书画艺术家经历“临摹打基础→工笔练功力→小写意试意→大写意铸风格”等阶段，不仅拥有大量专业的美学和美术史知识，能够贯通描绘相同或类似的题材、形式和内容，还能形成自己与众不同的独特艺术风格以及各自喜欢和擅长的技法和表现方式。因此艺术家可以重新创作已经被购买走的同类作品，但是绝不会和原作完全相同，也会在原作基础之上修改和加减某些部分。藏友可以根据自己的喜好定制艺术家的作品，即便是已售出的作品藏友也可以邀请艺术家重新创作，让自己的收藏不留遗憾。</p>
                    </div>
                    <p class="gaikuang" id="fuwu">服务保障</p>
                    <div class="footer_baozhen w_100">
                        <img src="/mall/images/baozhen.png" alt="">
                    </div>
                    <p class="gaikuang" id="pingjia">商品评价</p>
                    <div class="pingjia_box">
                        <div class="big_show_text">
                            <h1><span>100</span>%好评</h1>
                            <p>共有<span>1</span>人参加评分</p>
                        </div>
                        <div class="pingjia">
                            <div class="pingfen">
                                <div class="text_left">
                                    好评<span>(100%)</span>
                                </div>
                                <div class="base_b">
                                    <div class="cont" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div class="pingfen">
                                <div class="text_left">
                                    中评<span>(0%)</span>
                                </div>
                                <div class="base_b">
                                    <div class="cont"></div>
                                </div>
                            </div>
                            <div class="pingfen">
                                <div class="text_left">
                                    差评<span>(0%)</span>
                                </div>
                                <div class="base_b">
                                    <div class="cont"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pingjia_list">
                        <div class="pingjia_tit">
                            <ul id="pingjia_tit">
                                <li class="active">商品评价</li>
                                <li>好评</li>
                                <li>中评</li>
                                <li>差评</li>
                            </ul>
                        </div>
                        <div class="show_pingjia">
                            <ul class="f_ul">
                                <li class="child_ul">
                                <!-- 全部评价 -->
                                    <ul>
                                        <li class="pingjia_li">
                                            <div class="yh">
                                                <img src="/mall/images/u106.png" alt="">
                                            </div>
                                            <div class="pingjia_detail">
                                                <span class="name">75***</span>
                                                <div class="detail_list">
                                                    评价详情：<span>不错哦</span>
                                                </div>
                                            </div>
                                            <div class="pingjia_time">
                                                [2018-06-01]
                                            </div>
                                        </li>
                                        <li class="pingjia_li">
                                            <div class="yh">
                                                <img src="/mall/images/u106.png" alt="">
                                            </div>
                                            <div class="pingjia_detail">
                                                <span class="name">75***</span>
                                                <div class="detail_list">
                                                    评价详情：<span>很好</span>
                                                </div>
                                            </div>
                                            <div class="pingjia_time">
                                                [2018-06-01]
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="child_ul">
                                <!-- 好评	 -->
                                    <ul>
                                        <li class="pingjia_li">
                                            <div class="yh">
                                                <img src="/mall/images/u106.png" alt="">
                                            </div>
                                            <div class="pingjia_detail">
                                                <span class="name">75***</span>
                                                <div class="detail_list">
                                                    评价详情：<span>不错哦</span>
                                                </div>
                                            </div>
                                            <div class="pingjia_time">
                                                [2018-06-01]
                                            </div>
                                        </li>
                                        <li class="pingjia_li">
                                            <div class="yh">
                                                <img src="/mall/images/u106.png" alt="">
                                            </div>
                                            <div class="pingjia_detail">
                                                <span class="name">75***</span>
                                                <div class="detail_list">
                                                    评价详情：<span>很好</span>
                                                </div>
                                            </div>
                                            <div class="pingjia_time">
                                                [2018-06-01]
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                 <li class="child_ul">
                                <!-- 中评	 -->
                                    <ul>
                                        <li class="pingjia_li">
                                            <div class="yh">
                                                <img src="/mall/images/u106.png" alt="">
                                            </div>
                                            <div class="pingjia_detail">
                                                <span class="name">75***</span>
                                                <div class="detail_list">
                                                    评价详情：<span>还行</span>
                                                </div>
                                            </div>
                                            <div class="pingjia_time">
                                                [2018-06-01]
                                            </div>
                                        </li>
                                        <li class="pingjia_li">
                                            <div class="yh">
                                                <img src="/mall/images/u106.png" alt="">
                                            </div>
                                            <div class="pingjia_detail">
                                                <span class="name">75***</span>
                                                <div class="detail_list">
                                                    评价详情：<span>一般</span>
                                                </div>
                                            </div>
                                            <div class="pingjia_time">
                                                [2018-06-01]
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="child_ul">
                                <!-- 差评	 -->
                                    <ul>
                                        <li class="pingjia_li">
                                            <div class="yh">
                                                <img src="/mall/images/u106.png" alt="">
                                            </div>
                                            <div class="pingjia_detail">
                                                <span class="name">75***</span>
                                                <div class="detail_list">
                                                    评价详情：<span>不好</span>
                                                </div>
                                            </div>
                                            <div class="pingjia_time">
                                                [2018-06-01]
                                            </div>
                                        </li>
                                        <li class="pingjia_li">
                                            <div class="yh">
                                                <img src="/mall/images/u106.png" alt="">
                                            </div>
                                            <div class="pingjia_detail">
                                                <span class="name">75***</span>
                                                <div class="detail_list">
                                                    评价详情：<span>很差</span>
                                                </div>
                                            </div>
                                            <div class="pingjia_time">
                                                [2018-06-01]
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="gaikuang" id="zixun">购买咨询</p>
                    <div class="fuwubaozhang">
                        <div class="fuwu_tit">
                            购买通知
                        </div>
                        <div class="zixun_text_box">
                            <div class="zixun_text">
                                <p>温馨提示</p>
                                <p>投资有风险，请您在购买藏品前酌情考虑，勿盲目进行收藏。 因厂家更改商品包装、场地、附配件等不做提前通知，且每位咨询者购买、提问时间等不同。为此，客服给到的回复仅对提问者3天内有效，其他网友仅供参考！给您带来的不便还请谅解，谢谢！
                                </p>
                            </div>
                            <div class="zixun_btn">
                                <a>立即咨询</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="show_detail_right">
                    <h3>艺术家</h3>
                    <div class="show_mingjia_box">
                        <img class="mingjia"  alt="" th:each="entry : ${goods.auth.filePath}"  th:src="@{${fileServicePath}+'/'+${entry.path}+'/'+${entry.fileidname}+'.'+${entry.filetype}}">
                        <p class="name_mingjia" th:text="${goods.auth.authorname}">康计永</p>
                        <p th:text="${goods.auth.position}">河北省美术家协会会员</p>
                        <p>在售作品15件</p>
                        <p>已售作品5件</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容部分结束 -->
     <div class="footer_baozhen">
        <img src="/mall/images/baozhen.png" alt="">
    </div>
	<script type="text/javascript" th:inline="javascript">
	function buy(){
		var goods=[[${goods}]];
		//验证商品库存信息
		$.post("/mall/inventory/retrieve",{productNumber:goods.goods_id,amount:$("#amount").val()},function(data){
			console.log(data);
			if(data!=null&&data.res=="1"){
				//有库存
				window.location.href="/mall/order?goods_id="+goods.goods_id+"&amount="+$("#amount").val();
			}else{
				//库存不足
				$("#msg").text("库存不足！");
			}
		})
	}
	
	</script>
</body>
</html>