<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<!-- 内容部分 -->
	<script src="/mall/js/shop_index.js"></script>
	<div class="content_box">
		<div class="shop_index_box">
			<div class="left_menu_box">
				<!-- <dl class="menu_dl">
					<dt>中国绘画</dt>
					<dd> href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>
				</dl>
				<dl class="menu_dl">
					<dt>中国绘画</dt>
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>
				</dl>
				<dl class="menu_dl">
					<dt>中国绘画</dt>
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>
				</dl>
				<dl class="menu_dl">
					<dt>中国绘画</dt>
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>
				</dl>
 -->			</div>
			<!-- 幻灯片内容 -->
			<div class="right_slide_box" id="playBox">
				<div class="pre">&lt;</div>
      			<div class="next">&gt;</div>
				<ul class="slide_cont">
					<li th:each="ad:${adList}"><a href="" th:href="@{${ad.url}}">
						<img th:src="@{${fileServicePath}+'/'+${ad.filePath.path}+'/'+${ad.filePath.fileidname}+'.'+${ad.filePath.filetype}}"></a>
					</li>
					
				</ul>
				<div class="smalltitle">
					<ul class="tab_bar"> 
						<li th:each="ad,item:${adList}" th:text="${item.index+1}">1</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="shop_classify_min">
			<div class="shop_tab_box">
				<ul>
					<li class="active">新品字画</li>
					<li>人气字画</li>
					<li>精品字画</li>
					<li>特惠字画</li>
					
				</ul>
			</div>
			<div class="show_cont_box">
				<ul class="father_tab_box">
					<li class="c_box">
						<ul class="child_ul">
							<li th:each="a:${newGoods}">
								<span class="sPic">
									<a href=""th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">
		                           		 <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}" th:alt="'《'+${a.goods_name}+'》'" th:title="'《'+${a.goods_name}+'》'">
		                            </a>
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
						</ul>
						<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
					</li>
					<!-- 新品end -->
					<li class="c_box">
						<ul class="child_ul">
							<li th:each="a:${POPGoods}">
								<span class="sPic">
									<a href="" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">
		                           		 <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}" th:alt="'《'+${a.goods_name}+'》'" th:title="'《'+${a.goods_name}+'》'">
		                       	    </a>
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
						</ul>
						<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
					</li>
					<li class="c_box">
						<ul class="child_ul">
							<li th:each="a:${classicGoods}">
								<span class="sPic">
									<a href="" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">
		                           		 <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}" th:alt="'《'+${a.goods_name}+'》'" th:title="'《'+${a.goods_name}+'》'">
		                            </a>
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
						</ul>
						<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
					</li>
					<li class="c_box">
						<ul class="child_ul">
							<li th:each="a:${saleGoods}">
								<span class="sPic">
									<a href="" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">
		                            	<img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}" th:alt="'《'+${a.goods_name}+'》'" th:title="'《'+${a.goods_name}+'》'">
		                            </a>
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
						</ul>
						<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
					</li>
					
				</ul>
			</div>

			<!-- 推荐商品 -->
			<div class="shop_list_box">
				<div class="img_tit">
					<img src="/mall/images/tuijianshangpin.png" alt="">
				</div>
				<div class="shop_box">
					<ul class="">
							<li th:each="a:${RecGoods}">
								<span class="sPic">
									<a href="" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">
		                            	<img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}" th:alt="'《'+${a.goods_name}+'》'" th:title="'《'+${a.goods_name}+'》'">
		                            </a>
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
		                   
					</ul>
					<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
				</div>
			</div>
			<!-- 热卖商品 -->
			<div class="shop_list_box">
				<div class="img_tit">
					<img src="/mall/images/remaishangpin.png" alt="">
				</div>
				<div class="shop_box">
					<ul class="">
							<li th:each="a:${SEGoods}">
								<span class="sPic">
									<a href=""  th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">
		                          	  	<img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}" th:alt="'《'+${a.goods_name}+'》'" th:title="'《'+${a.goods_name}+'》'">
		                            </a>
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
		                   
					</ul>
					<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
				</div>
			</div>
			<!-- 艺术家推荐 -->
			<div class="mingjiatuijian">
				<div class="img_tit">
					<img src="/mall/images/yishujiatuijian.png" alt="">
				</div>
				<div class="mingjia_box">
				
					<div class="tuijian" >
						<img src="/mall/images/mingjia.png" alt="">
						<a href="">某某某</a>	
					</div>
					 
					<div class="mingjia_list" >
						<div class="mingjia_list_ground" th:each="a:${auth}">
							<a href="" th:each="entry:${a.filePath}"  th:href="@{/mall/cms/authcontent.do(Pid=MJHC,id=${a.id})}">
								<img  alt="" th:src="@{${fileServicePath}+'/'+${entry.path}+'/'+${entry.fileidname}+'.'+${entry.filetype}}" th:alt="${a.authorname}" th:title="${a.authorname}">
							</a>	
							<a href="" class="a_tit" th:text="${a.authorname}" th:href="@{/mall/cms/authcontent.do(Pid=MJHC,id=${a.id})}">某某某</a>	
						</div>
						
					</div>
				</div>
			</div>
			<!-- 私人定制 -->
			<div class="sirendingzhi">
				<a href="">
					<img src="/mall/images/sirendingzhi.png" alt="">
				</a>
			</div>

			<div class="footer_baozhen">
				<img src="/mall/images/baozhen.png" alt="">
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
	//首页分类
	var ca=[[${goodsCategoryList}]];
	$(".left_menu_box").html(buildMenu(ca));

	
	$(".menu_dl>dd>a").hover(function(){
		$(".menu_three").hide();
		if($(this).next().html()!==''){ 
			$(this).next().show();
		}
		})
	$(".menu_three").mouseleave(function(){
		$(".menu_three").hide();
	});

	function buildMenu(obj,tier){
		 var str ='';
		 var tier= tier ? tier : 1;
         tier++;
		 for(index in obj){
      	    if (typeof(obj[index].goodsCategoryList) ==="object") {
          	   
          	  if(obj[index].parent_id==''){
          	     str += '<dl class="menu_dl">';
          		 str += '<dt><a href="/mall/goods/list?goodsInfo.category_id='+obj[index].category_id+'">'+ obj[index].category_name+'';
                 str += "</a></dt>";

                 str += buildMenu(obj[index].goodsCategoryList); 
                 str += '</dl>';

              	}else{
                  	if(tier>=3){
                  			str += '<a href="/mall/goods/list?goodsInfo.category_id='+obj[index].category_id+'">'+ obj[index].category_name+'';	
                  			str += '</a>';
                          	
                    }else if(tier=2){
                    	str += '<dd><a href="/mall/goods/list?goodsInfo.category_id='+obj[index].category_id+'">'+ obj[index].category_name+'';
                  		str += '</a>';
                  		if(typeof(obj[index].goodsCategoryList) ==="object"){
                    		str += '<div class="menu_three">';
                      		str += buildMenu(obj[index].goodsCategoryList,tier); 
                      		str += '</div>';
                        }
                  		str += '<dd>|';
                    }
                }
      		   }
	

		 }
		
		
		 return str;

	}
	
	
	</script>
	<!-- 内容部分结束 -->

</body>
</html>