<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		<!-- 内容部分 -->
	<script src="/mall/js/shop_index.js"></script>
	<div class="content_box">
		<div class="shop_index_box">
			<div class="left_menu_box">
				<dl class="menu_dl">
					<dt>中国绘画</dt>
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>
				</dl>
				<dl class="menu_dl">
					<dt>中国绘画</dt>
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>
				</dl>
				<dl class="menu_dl">
					<dt>中国绘画</dt>
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>
				</dl>
				<dl class="menu_dl">
					<dt>中国绘画</dt>
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>|
					<dd><a href="">山水</a></dd>
				</dl>
			</div>
			<!-- 幻灯片内容 -->
			<div class="right_slide_box" id="playBox">
				<div class="pre">&lt;</div>
      			<div class="next">&gt;</div>
				<ul class="slide_cont">
					<li><a href=""><img src="/mall/images/lunbotu.png" alt=""></a></li>
					<li><a href=""><img src="/mall/images/lunbotu.png" alt=""></a></li>
					<li><a href=""><img src="/mall/images/lunbotu.png" alt=""></a></li>
					<li><a href=""><img src="/mall/images/lunbotu.png" alt=""></a></li>
				</ul>
				<div class="smalltitle">
					<ul class="tab_bar"> 
						<li class="active">1</li>
						<li>2</li>
						<li>3</li>
						<li>4</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="shop_classify_min">
			<div class="shop_tab_box">
				<ul>
					<li class="active">新品字画</li>
					<li>人气字画</li>
					<li>精品字画</li>
					<li>特惠字画</li>
					
				</ul>
			</div>
			<div class="show_cont_box">
				<ul class="father_tab_box">
					<li class="c_box">
						<ul class="child_ul">
							<li th:each="a:${RecGoods}">
								<span class="sPic">
		                            <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}">
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
						</ul>
						<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
					</li>
					<!-- 新品end -->
					<li class="c_box">
						<ul class="child_ul">
							<li th:each="a:${RecGoods}">
								<span class="sPic">
		                            <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}">
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
						</ul>
						<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
					</li>
					<li class="c_box">
						<ul class="child_ul">
							<li th:each="a:${RecGoods}">
								<span class="sPic">
		                            <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}">
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
						</ul>
						<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
					</li>
					<li class="c_box">
						<ul class="child_ul">
							<li th:each="a:${RecGoods}">
								<span class="sPic">
		                            <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}">
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
						</ul>
						<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
					</li>
					
				</ul>
			</div>

			<!-- 推荐商品 -->
			<div class="shop_list_box">
				<div class="img_tit">
					<img src="/mall/images/tuijianshangpin.png" alt="">
				</div>
				<div class="shop_box">
					<ul class="">
							<li th:each="a:${RecGoods}">
								<span class="sPic">
		                            <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}">
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
		                   
					</ul>
					<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
				</div>
			</div>
			<!-- 热卖商品 -->
			<div class="shop_list_box">
				<div class="img_tit">
					<img src="/mall/images/remaishangpin.png" alt="">
				</div>
				<div class="shop_box">
					<ul class="">
							<li th:each="a:${RecGoods}">
								<span class="sPic">
		                            <img alt=""  th:src="@{${fileServicePath}+'/'+${a.filePath.path}+'/'+${a.filePath.fileidname}+'.'+${a.filePath.filetype}}">
		                        </span>
		                        <p><a  th:text="${a.auth.position}+'-'+${a.auth.authorname}">中国美术家协会会员 楚英</a></p>
		                        <p><a href="" th:text="'《'+${a.goods_name}+'》'" th:href="@{/mall/goods/detail(goods_id=${a.goods_id})}">《新华一角》</a></p>
		                        <div class="price">
		                            ￥<span th:text="${a.goodsPrice.retail_price}">2000.00</span>
		                        </div>
		                    </li>
		                   
					</ul>
					<div class="more_btn"><a href="/mall/goods/list">查看更多</a></div>
				</div>
			</div>
			<!-- 艺术家推荐 -->
			<div class="mingjiatuijian">
				<div class="img_tit">
					<img src="/mall/images/yishujiatuijian.png" alt="">
				</div>
				<div class="mingjia_box">
				
					<div class="tuijian" >
						<img src="/mall/images/mingjia.png" alt="">
						<a href="">某某某</a>	
					</div>
					 
					<div class="mingjia_list" >
						<div class="mingjia_list_ground" th:each="a:${auth}">
							<img  alt="" th:each="entry:${a.filePath}" th:src="@{${fileServicePath}+'/'+${entry.path}+'/'+${entry.fileidname}+'.'+${entry.filetype}}">
							<a href="" th:text="${a.authorname}" th:href="@{/mall/cms/authcontent.do(Pid=MJHC,id=${a.id})}">某某某</a>	
						</div>
						
					</div>
				</div>
			</div>
			<!-- 私人定制 -->
			<div class="sirendingzhi">
				<a href="">
					<img src="/mall/images/sirendingzhi.png" alt="">
				</a>
			</div>

			<div class="footer_baozhen">
				<img src="/mall/images/baozhen.png" alt="">
			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
	var ca=[[${goodsCategoryList}]];
	console.log(ca);
	
	</script>
	<!-- 内容部分结束 -->

</body>
</html>