<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 内容部分 -->
    <div class="content_box">
        <div class="ncc-main">
            <div class="ncc-title">
                <h3>填写核对购物信息</h3>
                <h5>请仔细核对填写收货、发票等信息，以确保物流快递及时准确投递。</h5>
            </div>
            <div class="ncc-receipt-info" id="address_box">
                <div class="ncc-receipt-info-title">
                    <h3>收货人信息</h3>
                    <a href="javascript:Modifyaddress()" id="edit_reciver" style="display: block;">[修改]</a>
                </div>
                <div class="ncc-candidate-items">
                    <ul id="address_list">
                        <li >
                            <span class="true-name" id='add_name'>李先生</span>
                            <span class="address"  id="add_address">广东  深圳市  南山区&nbsp;南山区</span>
                            <span class="phone" id="add_phone">13823595212</span>
                            <span id="add_id" style="display:none"></span>
                        </li>
                        

                    </ul>
                    <div id="add_addr_box">
                            <div class="ncc-form-default">
                                <form method="POST" id="addr_form" action="">
                                    <input type="hidden" value="buy" name="act">
                                    <input type="hidden" value="add_addr" name="op">
                                    <input type="hidden" name="form_submit" value="ok">
                                    <dl>
                                      <dt><i class="required">*</i>收货人姓名：</dt>
                                      <dd>
                                        <input type="text" class="w100" name="true_name" id="true_name" value="">
                                      </dd>
                                    </dl>
                                    <dl>
                                      <dt><i class="required">*</i>所在地区：</dt>
                                      <dd>
                                        <div id="region">
                                          
                                          <select name="province" id="address_province" class="w110"></select>
											<select name="city" id="address_city" class="w110">
											</select><select name="area" id="address_area" class="w110"></select>
                                        </div>
                                      </dd>
                                    </dl>
                                    <dl>
                                      <dt><i class="required">*</i>详细地址：</dt>
                                      <dd>
                                        <input type="text" class="text w500" name="address" id="address_street" maxlength="80" value="">
                                        <p class="hint">请填写真实地址，不需要重复填写所在地区</p>
                                      </dd>
                                    </dl>
                                    <dl>
                                      <dt> <i class="required">*</i>手机号码：</dt>
                                      <dd>
                                        <input type="text" class="text w200" name="mob_phone" id="mob_phone" maxlength="15" value="">
                                      </dd>
                                    </dl>
                                  </form>
                            </div>
                        </div>
                    <div class="hr16" id="save_add">
                        <a id="hide_addr_list" class="ncc-btn ncc-btn-red" href="javascript:addUserAddress();">保存收货人信息</a>
                    </div>
                </div>
            </div>
            <!-- 支付方式 -->
            <div class="ncc-receipt-info mt0">
                <div class="zhifu">
                    <h3>支付方式</h3>
                    <div class="ncc-zhifu" id="payment">
                        在线支付
                    </div>
                    <input style="display:none" id= "payment_id" value="">
                </div>
            </div>
            <!-- 商品清单 -->
            <div class="shangpinqingdan">
                <h3>商品清单</h3>
                <table class="ncc-table-style">
                    <thead>
                          <tr>
                            <th class="w60"></th>
                            <th>商品</th>
                            <th class="w120">单价(元)</th>
                            <th class="w120">数量</th>
                            <th class="b_r w120">小计(元)</th>
                          </tr>
                    </thead>
                    <tbody>
                   		 <div th:each="goods:${list}">
                        <tr>
                            <td class="w60"><a href="#" target="_blank" class="ncc-goods-thumb"><img   th:src="@{${fileServicePath}+'/'+${goods.filePath.path}+'/'+${goods.filePath.fileidname}+'.'+${goods.filePath.filetype}}" th:alt="${goods.auth.position}+'-'+${goods.auth.authorname}+'  '+'《'+${goods.goods_name}+'》'"></a></td>
                            <td class="t-l"><a href="" th:text="${goods.auth.position}+'-'+${goods.auth.authorname}+'  '+'《'+${goods.goods_name}+'》'"> 
                                中国国典书画院会员 石俊海《正气》</a>
                            </td>
                            <td th:text="${goods.goodsPrice.sale=='Y'}?${goods.goodsPrice.sale_price}:${goods.goodsPrice.retail_price}" >199.00</td>
                            <td th:text="${amount}">1</td>
                            <td class="b_r" th:text="${goods.goodsPrice.sale=='Y'}?${goods.goodsPrice.sale_price*amount}:${goods.goodsPrice.retail_price*amount}" >199.00</td>
                        </tr>
                        <tr>
                            <td class="tl" colspan="5">是否包邮？<span th:text="${goods.goodsInfo.ext1=='Y'}?'是':'否'"></span>&nbsp&nbsp&nbsp&nbsp支持快递：<span th:text="${goods.goodsInfo.ext2}"></span>
                            </td>
                            
                        </tr>
                        </div>
                        <tr>
                            <td class="tl" colspan="5">买家留言：
                              <textarea class="ncc-msg-textarea" placeholder="选填：对本次交易的说明（建议填写已经和商家达成一致的说明）" title="选填：对本次交易的说明（建议填写已经和商家达成一致的说明）" maxlength="150" id="comment"></textarea>
                            </td>
                        </tr>
                        <tr>
                        <td class="tr" colspan="20">
                            <div class="ncc-store-account">
                                <dl class="freight">
                                  <dt>运费：</dt>
                                  <dd><em id="postage_amount" >0.00</em>元</dd>
                                </dl>
                                <dl>
                                  <dt>商品金额：</dt>
                                  <dd><em id="paid_amount" >199.00</em>元</dd>
                                </dl>
                                <dl class="total">
                                  <dt>合计：</dt>
                                  <dd><em  id="total_amount">199.00</em>元</dd>
                                </dl>
                          </div>
                          </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="20">
                            <div class="ncc-all-account" >订单总金额：<em id="sum_amount">199.00</em>元
                            </div></td>
                      </tr>
                    </tfoot>
                </table>
            </div>
             <div class="msg_text"><span id="msg"></span></div>
            <div class="ncc-bottom">
            <!-- javascript:void(0) -->
                <a href="javascript:submitForm()"
                 class="ncc-btn-acidblue">提交订单</a> 
            </div>
        </div>
    </div>
    <!-- 内容部分结束 -->
    <div class="footer_baozhen">
        <img src="/mall/images/baozhen.png" alt="">
    </div>
    <script type="text/javascript" src="/mall/js/PCASClass.js"></script>
    <script type="text/javascript" th:inline="javascript">
    //设置AJAX同步
    $.ajaxSetup({
    	  async: false
    	  });
	//修改收货人地址
    	function Modifyaddress(){
    		var address=[[${address}]];
    		var addlist=new Array()
    		for(var i=0;i<address.length;i++){
    			addlist.push({name:address[i].name,address:address[i].province+address[i].city+address[i].area+address[i].street,phone:address[i].phone,id:address[i].id})
    		}
    		

    		var items='';

    		for(var i=0;i<addlist.length;i++){
    			items+='<li><input type="radio" id="'+addlist[i].id+'" name="addr" value="'+addlist[i].id+'" onclick="select_address(this)">'+
    			'<label for="'+addlist[i].id+'">'+
    			        '<span class="true-name">'+addlist[i].name+'</span>'+
    			        '<span class="address">'+addlist[i].address+'</span>'+
    			        '<span class="phone">'+addlist[i].phone+'</span>'+
    			       
    			'</label><a href="javascript:void(0);" onclick="del(\''+addlist[i].id+'\',this)" class="del">[ 删除 ]</a></li>';

    		}

    		items+='<li><input type="radio" id="new_add" name="addr" value="new">'+
    	           '<label for="new_add"><span class="true-name">'+
    	                        '使用新地址</span></label></li>';
    		$("#address_list").html(items)

    		$("#save_add").show();
    		$("#address_box").addClass('current_box');

    		$(":input[name=addr]").change(function(value,a){
    			if($(this).val()=='new'){
    				$("#add_addr_box").show();
    			}else{
    				$("#add_addr_box").hide();
    			}
    		})
    	}
    	
    function del(id,obj){
    	
    	$.post('/mall/order/address/delete',{id:id},function(data){
    		console.log(data);
    		if(data!=null&&data.res=='1'){
    			
    			//删除成功
    			$(obj).parent().remove();
    		}
    	})
    	console.log(id);
    }
    function select_address(obj){
    	var id=$(obj).val();
    	var name = $(obj).next().children(".true-name").text();
    	var address=$(obj).next().children(".address").text();
    	var phone=$(obj).next().children(".phone").text();
    	var item=" <li ><span class='true-name'>"+name+"</span><span class='address'  >"+address+"</span>"
				+"<span class='phone' >"+phone+"</span>"
	   			 +"<span id='add_id' style='display:none'>"+id+"</span></li>"
	    
	    $("#address_list").html(item);
	    $("#save_add").hide();
	    $("#address_box").removeClass('current_box');
	    $("#add_addr_box").hide();
    	
    }
    function addUserAddress(){
    	//验证表单数据
    	//保存数据
    	$.post("/mall/order/address/add",
    			{
    			name:$("#true_name").val(),
    			phone:$("#mob_phone").val(),
    			province:$("#address_province").val(),
    			city:$("#address_city").val(),
    			area:$("#address_area").val(),
    			street:$("#address_street").val()
    			
		    	},
		    	function(data){
		    		if(data!=null&&data.res=='1'){
		    			console.log(data);
		    			//成功
		    			var address=$("#address_province").val()+$("#address_city").val()+$("#address_area").val()+$("#address_street").val();
		    			var item=" <li ><span class='true-name'>"+$("#true_name").val()+"</span><span class='address'  >"+address+"</span>"
		    					+"<span class='phone' >"+$("#mob_phone").val()+"</span>"
                            +"<span id='add_id' style='display:none'>"+data.obj.id+"</span></li>"
                            
                            $("#address_list").html(item);
                            $("#save_add").hide();
                            $("#address_box").removeClass('current_box');
                            $("#add_addr_box").hide();
		    			}
    		
    	});
    	
    }
    function submitForm(){
    	var list=[[${list}]];
    	var amount=[[${amount}]]

		//有库存,提交订单
		//订单信息
		var receive_id =$("#add_id").text();
		var comment=$("#comment").text();
		//订单详情
		//多商品未定义
		var num =amount;
		
	
		form = $("<form></form>")
        form.attr('action',"/mall/order/pay")
        form.attr('method','post')
		input1 = $("<input type='text' name='receive_id' value='"+receive_id+"'/>");
		input2 = $("<input type='text' name='comment' value='"+comment+"'/>");
		var  flg=true;
		for(var i=0;i<list.length;i++){
			//验证商品库存信息
			$.post("/mall/inventory/retrieve",{productNumber:list[i].goods_id,amount:amount},function(data){
				console.log(data);
				if(data!=null&&data.res=="1"){
					
				}else{
					//库存不足
					$("#msg").text(list[i].goods_name+"库存不足！");
					flg=false;
					return;
				}
			})
			input3 = $("<input type='text' name='orderDetailsList["+i+"].goods_id' value='"+list[i].goods_id+"'/>");
			input4 = $("<input type='text' name='orderDetailsList["+i+"].num' value='"+num+"'/>");
			form.append(input3);
	        form.append(input4);
		}
		if(flg){
			form.append(input1);
	        form.append(input2);
	        form.appendTo("body")
	        form.css('display','none')
			form.submit()
		}
	}
    function toLong(obj){
    	 reg=/^\d+(\.\d){0,1}/;    
         if(reg.test(obj)){    
        	var data= obj.split(".");
        	return data[0];
         }else{
        	 return 0;
         }
    }
    function sumTotalAmount(){
    	var list=[[${list}]];
    	var postage_amount=0.00;
    	var total_amount=0.00;
    	var paid_amount=0.00;
    	for(var i=0;i<list.length;i++){
    		if(list[i].goodsPrice.sale=='Y'){
    			//优惠
    			paid_amount=paid_amount+list[i].goodsPrice.sale_price;
    		}else{
    			paid_amount=paid_amount+list[i].goodsPrice.retail_price;
    		}
    		//邮费
    		if(list[i].goodsInfo.ext1=='N'){
    			//不包邮
    			postage_amount=postage_amount+list[i].goodsInfo.ext3
    		}
    	}
    	total_amount=parseFloat(postage_amount)+parseFloat(paid_amount);
    	//商品总价
    	$("#paid_amount").text(toDecimal(paid_amount));
    	//邮费
    	$("#postage_amount").text(toDecimal(postage_amount));
    	//总计
    	$("#total_amount").text(total_amount);
    	$("#sum_amount").text(total_amount);
    	
    }
  	//保留两位小数 
    //功能：将浮点数四舍五入，取小数点后2位 
    function toDecimal(x) { 
     var f = parseFloat(x); 
     if (isNaN(f)) { 
      return; 
     } 
     f = Math.round(x*100)/100; 
     return f; 
    } 
    $(function(){
    	//初始化显示默认地址
    	var address=[[${address}]];
		if(address==null){
			Modifyaddress();
		}else{
			var flg=true;
			for(var i=0;i<address.length;i++){
	    		if(address[i].thedefault=='Y'){
	    			flg=false;
	    			$("#add_name").text(address[i].name);
	    			$("#add_address").text(address[i].province+address[i].city+address[i].area+address[i].street);
	    			$("#add_phone").text(address[i].phone);
	    			$("#add_id").text(address[i].id);
	    		}
	    	}
			if(flg){
				$("#add_name").text(address[0].name);
				$("#add_address").text(address[0].province+address[0].city+address[0].area+address[0].street);
				$("#add_phone").text(address[0].phone);
				$("#add_id").text(address[0].id);
			}
		}
		
		//初始化地址下拉框
		new PCAS("province","city","area");
		//初始化支付方式
		var payment=[[${payment}]];
		console.log(payment);
		for(var i=0;i<payment.length;i++){
			if(payment[i].isGeneral){
				
				$("#payment").text(payment[i].name);
				$("#payment_id").attr("value",payment[i].payment_id);
			}
		}
		sumTotalAmount();
    	
    });
    
    </script>

</body>
</html>