<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <!-- 内容部分 -->
    <script src="/mall/js/shop_show.js"></script>
    <div class="content_box">
        <div class="ncc-main">
            <div class="ncc-title">
                <h3>支付提交</h3>
                <h5>订单详情内容可通过查看<a href="">我的订单</a>进行核对处理。</h5>
                <h5><strong>请在10分钟内完成支付！</strong></h5>
            </div>
            <div class="ncc-receipt-info">
                <div class="ncc-receipt-info-title">
                    <h3>请您及时付款，以便订单尽快处理！ 需支付金额：<strong th:text="'￥'+${order.total_amount}">￥199</strong></h3>
                </div>
                <table class="ncc-table-style m_t10">
                    <thead>
                      <tr>
                        <th class="w200 tl">订单号</th>
                        <th class="tl">金额(元)</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                        <td class="tl" th:text="${order.order_number}">1000000034108001</td>
                        <td class="tl" th:text="'￥'+${order.total_amount}">￥199.00</td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <!-- 微信扫码支付 -->
            <div class="wxpayment">
                <div class="pay-weixin">
                    <div class="p-w-hd">微信支付</div>
                    <div class="p-w-bd">
                        <div class="p-w-box">
                            <div class="pw-box-hd"> 
                                <img width="298px" th:src="@{/wxpay/precreate(order_number=${order.order_number})}"> 
                            </div>
                            <div class="pw-box-ft">
                                  <p>请使用微信扫一扫</p>
                                  <p>扫描二维码支付</p>
                            </div>
                        </div>
                        <div class="p-w-sidebar">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 内容部分结束 -->
    <div class="footer_baozhen">
        <img src="/mall/images/baozhen.png" alt="">
    </div>
	<script type="text/javascript" th:inline="javascript">
		var order=[[${order}]]
		function queryOrderPaymentStatus(){
			//查询订单支付状态
			$.get('/wxpay/precreate/orderQuery',{},function(data){
				console.log(data);
				if(data!=null&&data.return_code=='SUCCESS'&&data.result_code=='SUCCESS'&&data.trade_state=='SUCCESS'){
					window.location.href='/mall/user/order/details?order_number='+order.order_number;
				}
				 
			});
				
		}
		//100S获取支付缓存，缓存失效跳转到订单详情界面
		function queryOrderCache(){
			$.get("/wxpay/precreate/cachelive",{order_number:order.order_number},function(data){
				if(data!=null&&data=='0'){
					//支付超时
					window.location.href='/mall/user/order/details?order_number='+order.order_number;
				}
			})
		}
		$(function(){
			var i= setInterval('queryOrderPaymentStatus();',3000);
			var j= setInterval('queryOrderCache();',100000);
		})
		
		
	</script>
</body>
</html>