<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 内容部分 -->
    <script src="/mall/js/shop_show.js"></script>
    <div class="content_box">
        <div class="ncc-main">
            <div class="ncc-title">
                <h3>支付提交</h3>
                <h5>订单详情内容可通过查看<a href="">我的订单</a>进行核对处理。</h5>
            </div>
            <div class="ncc-receipt-info">
                <div class="ncc-receipt-info-title">
                    <h3>请您及时付款，以便订单尽快处理！ 需支付金额：<strong>￥199</strong></h3>
                </div>
                <table class="ncc-table-style m_t10">
                    <thead>
                      <tr>
                        <th class="w200 tl">订单号</th>
                        <th class="tl w150">支付方式</th>
                        <th class="tl">金额</th>
                        <th class="w150">物流</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr>
                        <td class="tl">1000000034108001</td>
                        <td class="tl">在线支付</td>
                        <td class="tl">￥199.00</td>
                        <td class="tl">快递</td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <!-- 支付方式 -->
            <div class="ncc-receipt-info mt0">
                <div class="zhifu">
                    <h3>支付平台</h3>
                    <div class="ncc-zhifu">
                        <div class="weixin">
                            <img src="/mall/images/wxpay_logo.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ncc-bottom">
            <!-- javascript:void(0) -->
                <a href="/mall/order/real"
                 class="ncc-btn-green" >确认提交支付</a> 
            </div>
        </div>
    </div>
    <!-- 内容部分结束 -->
    <div class="footer_baozhen">
        <img src="/mall/images/baozhen.png" alt="">
    </div>

</body>
</html>