<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.inventory.InventoryMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.inventory.Inventory">
    <id column="inventoryid" jdbcType="VARCHAR" property="inventoryid" />
    <result column="StoreHouseNumber" jdbcType="VARCHAR" property="storeHouseNumber" />
    <result column="ProductNumber" jdbcType="VARCHAR" property="productNumber" />
    <result column="Amount" jdbcType="INTEGER" property="amount" />
    <result column="InStockTime" jdbcType="TIMESTAMP" property="inStockTime" />
  </resultMap>
  <sql id="Base_Column_List">
    inventoryid, StoreHouseNumber, ProductNumber, Amount, InStockTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_inventory
    where inventoryid = #{inventoryid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_inventory
    where inventoryid = #{inventoryid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mall.entity.inventory.Inventory">
    insert into t_inventory (inventoryid, StoreHouseNumber, ProductNumber, 
      Amount, InStockTime)
    values (#{inventoryid,jdbcType=VARCHAR}, #{storeHouseNumber,jdbcType=VARCHAR}, #{productNumber,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{inStockTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.inventory.Inventory">
    insert into t_inventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inventoryid != null">
        inventoryid,
      </if>
      <if test="storeHouseNumber != null">
        StoreHouseNumber,
      </if>
      <if test="productNumber != null">
        ProductNumber,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="inStockTime != null">
        InStockTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inventoryid != null">
        #{inventoryid,jdbcType=VARCHAR},
      </if>
      <if test="storeHouseNumber != null">
        #{storeHouseNumber,jdbcType=VARCHAR},
      </if>
      <if test="productNumber != null">
        #{productNumber,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="inStockTime != null">
        #{inStockTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.inventory.Inventory">
    update t_inventory
    <set>
      <if test="storeHouseNumber != null">
        StoreHouseNumber = #{storeHouseNumber,jdbcType=VARCHAR},
      </if>
      <if test="productNumber != null">
        ProductNumber = #{productNumber,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="inStockTime != null">
        InStockTime = #{inStockTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where inventoryid = #{inventoryid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.inventory.Inventory">
    update t_inventory
    set StoreHouseNumber = #{storeHouseNumber,jdbcType=VARCHAR},
      ProductNumber = #{productNumber,jdbcType=VARCHAR},
      Amount = #{amount,jdbcType=INTEGER},
      InStockTime = #{inStockTime,jdbcType=TIMESTAMP}
    where inventoryid = #{inventoryid,jdbcType=VARCHAR}
  </update>
  <!-- 检索商品库存 -->
  <select id="inventoryRetrieve" parameterType="com.mall.entity.inventory.Inventory" resultMap="BaseResultMap">
  	SELECT
	t_inventory.ProductNumber,
	t_inventory.Amount 
	FROM
		t_inventory 
	WHERE
		t_inventory.ProductNumber = #{productNumber}
  
  
  </select>
  <update id="updateInventory" parameterType="com.mall.entity.inventory.Inventory">
  insert into t_inventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="inventoryid != null">
        inventoryid,
      </if>
      <if test="storeHouseNumber != null">
        StoreHouseNumber,
      </if>
      <if test="productNumber != null">
        ProductNumber,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="inStockTime != null">
        InStockTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="inventoryid != null">
        #{inventoryid,jdbcType=VARCHAR},
      </if>
      <if test="storeHouseNumber != null">
        #{storeHouseNumber,jdbcType=VARCHAR},
      </if>
      <if test="productNumber != null">
        #{productNumber,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="inStockTime != null">
        #{inStockTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  
  </update>
</mapper>