<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.inventory.InventoryDeiveryMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.inventory.InventoryDeivery">
    <id column="delivery_id" jdbcType="INTEGER" property="delivery_id" />
    <result column="delivery_number" jdbcType="VARCHAR" property="delivery_number" />
    <result column="order_id" jdbcType="INTEGER" property="order_id" />
    <result column="order_number" jdbcType="VARCHAR" property="order_number" />
    <result column="user_id" jdbcType="VARCHAR" property="user_id" />
    <result column="receive_id" jdbcType="INTEGER" property="receive_id" />
    <result column="shipping_id" jdbcType="INTEGER" property="shipping_id" />
    <result column="shipping_name" jdbcType="VARCHAR" property="shipping_name" />
    <result column="action_user" jdbcType="VARCHAR" property="action_user" />
    <result column="postage_action_id" jdbcType="INTEGER" property="postage_action_id" />
    <result column="invoice_no" jdbcType="VARCHAR" property="invoice_no" />
    <result column="logistics_state" jdbcType="TINYINT" property="logistics_state" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>
  <sql id="Base_Column_List">
    delivery_id, delivery_number, order_id, order_number, user_id, receive_id, shipping_id, 
    shipping_name, action_user, postage_action_id, invoice_no, logistics_state, status, 
    create_time
  </sql>
  <!-- 重写，通过发货单号获取 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_inventory_deivery
    where 
    	 delivery_number = #{delivery_number}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_inventory_deivery
    where delivery_id = #{delivery_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mall.entity.inventory.InventoryDeivery">
    insert into t_inventory_deivery (delivery_id, delivery_number, order_id, 
      order_number, user_id, receive_id, 
      shipping_id, shipping_name, action_user, 
      postage_action_id, invoice_no, logistics_state, 
      status, create_time)
    values (#{delivery_id,jdbcType=INTEGER}, #{delivery_number,jdbcType=VARCHAR}, #{order_id,jdbcType=INTEGER}, 
      #{order_number,jdbcType=VARCHAR}, #{user_id,jdbcType=INTEGER}, #{receive_id,jdbcType=INTEGER}, 
      #{shipping_id,jdbcType=INTEGER}, #{shipping_name,jdbcType=VARCHAR}, #{action_user,jdbcType=VARCHAR}, 
      #{postage_action_id,jdbcType=INTEGER}, #{invoice_no,jdbcType=VARCHAR}, #{logistics_state,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{create_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.inventory.InventoryDeivery" useGeneratedKeys="true" keyProperty="delivery_id">
    insert into t_inventory_deivery
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="delivery_id != null">
        delivery_id,
      </if>
      <if test="delivery_number != null">
        delivery_number,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
      <if test="order_number != null">
        order_number,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="receive_id != null">
        receive_id,
      </if>
      <if test="shipping_id != null">
        shipping_id,
      </if>
      <if test="shipping_name != null">
        shipping_name,
      </if>
      <if test="action_user != null">
        action_user,
      </if>
      <if test="postage_action_id != null">
        postage_action_id,
      </if>
      <if test="invoice_no != null">
        invoice_no,
      </if>
      <if test="logistics_state != null">
        logistics_state,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="delivery_id != null">
        #{delivery_id,jdbcType=INTEGER},
      </if>
      <if test="delivery_number != null">
        #{delivery_number,jdbcType=VARCHAR},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=INTEGER},
      </if>
      <if test="order_number != null">
        #{order_number,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="receive_id != null">
        #{receive_id,jdbcType=INTEGER},
      </if>
      <if test="shipping_id != null">
        #{shipping_id,jdbcType=INTEGER},
      </if>
      <if test="shipping_name != null">
        #{shipping_name,jdbcType=VARCHAR},
      </if>
      <if test="action_user != null">
        #{action_user,jdbcType=VARCHAR},
      </if>
      <if test="postage_action_id != null">
        #{postage_action_id,jdbcType=INTEGER},
      </if>
      <if test="invoice_no != null">
        #{invoice_no,jdbcType=VARCHAR},
      </if>
      <if test="logistics_state != null">
        #{logistics_state,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.inventory.InventoryDeivery">
    update t_inventory_deivery
    <set>
      <if test="delivery_number != null">
        delivery_number = #{delivery_number,jdbcType=VARCHAR},
      </if>
      <if test="order_id != null">
        order_id = #{order_id,jdbcType=INTEGER},
      </if>
      <if test="order_number != null">
        order_number = #{order_number,jdbcType=VARCHAR},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=VARCHAR},
      </if>
      <if test="receive_id != null">
        receive_id = #{receive_id,jdbcType=INTEGER},
      </if>
      <if test="shipping_id != null">
        shipping_id = #{shipping_id,jdbcType=INTEGER},
      </if>
      <if test="shipping_name != null">
        shipping_name = #{shipping_name,jdbcType=VARCHAR},
      </if>
      <if test="action_user != null">
        action_user = #{action_user,jdbcType=VARCHAR},
      </if>
      <if test="postage_action_id != null">
        postage_action_id = #{postage_action_id,jdbcType=INTEGER},
      </if>
      <if test="invoice_no != null">
        invoice_no = #{invoice_no,jdbcType=VARCHAR},
      </if>
      <if test="logistics_state != null">
        logistics_state = #{logistics_state,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where delivery_id = #{delivery_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.inventory.InventoryDeivery">
    update t_inventory_deivery
    set delivery_number = #{delivery_number,jdbcType=VARCHAR},
      order_id = #{order_id,jdbcType=INTEGER},
      order_number = #{order_number,jdbcType=VARCHAR},
      user_id = #{user_id,jdbcType=VARCHAR},
      receive_id = #{receive_id,jdbcType=INTEGER},
      shipping_id = #{shipping_id,jdbcType=INTEGER},
      shipping_name = #{shipping_name,jdbcType=VARCHAR},
      action_user = #{action_user,jdbcType=VARCHAR},
      postage_action_id = #{postage_action_id,jdbcType=INTEGER},
      invoice_no = #{invoice_no,jdbcType=VARCHAR},
      logistics_state = #{logistics_state,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where delivery_id = #{delivery_id,jdbcType=INTEGER}
  </update>
  <resultMap  id="orderResultMap" extends="BaseResultMap" type="com.mall.entity.inventory.InventoryDeivery">
  	<association property="orderAddress" javaType="com.mall.entity.order.OrderAddress">
	  	<id column="id_oa" jdbcType="INTEGER" property="id" />
	    <result column="user_id_oa" jdbcType="VARCHAR" property="user_id" />
	    <result column="name" jdbcType="VARCHAR" property="name" />
	    <result column="phone" jdbcType="VARCHAR" property="phone" />
	    <result column="province" jdbcType="VARCHAR" property="province" />
	    <result column="city" jdbcType="VARCHAR" property="city" />
	    <result column="area" jdbcType="VARCHAR" property="area" />
	    <result column="street" jdbcType="VARCHAR" property="street" />
	    <result column="status_oa" jdbcType="VARCHAR" property="status" />
	    <result column="thedefault" jdbcType="VARCHAR" property="thedefault" />
	    <result column="create_time_oa" jdbcType="TIMESTAMP" property="create_time" />
  	</association>
  	<association property="userInfo" javaType="com.mall.entity.user.UserInfo">
  		<id column="id_u" jdbcType="VARCHAR" property="id" />
	    <result column="user_name_u" jdbcType="VARCHAR" property="user_name" />
	    <result column="name_u" jdbcType="VARCHAR" property="name" />
	    <result column="Sex" jdbcType="VARCHAR" property="sex" />
	    <result column="Phone_u" jdbcType="VARCHAR" property="phone" />
	    <result column="email_u" jdbcType="VARCHAR" property="email" />
	    <result column="qq_u" jdbcType="VARCHAR" property="qq" />
	    <result column="address_province" jdbcType="VARCHAR" property="address_province" />
	    <result column="address_city" jdbcType="VARCHAR" property="address_city" />
	    <result column="address_area" jdbcType="VARCHAR" property="address_area" />
	    <result column="address_street" jdbcType="VARCHAR" property="address_street" />
	    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
	    <result column="Create_at_u" jdbcType="TIMESTAMP" property="create_at" />
	    <result column="Update_time_u" jdbcType="TIMESTAMP" property="update_time" />
	    <result column="LastSign_time_u" jdbcType="TIMESTAMP" property="lastSign_time" />
  	</association>
  </resultMap>
  <!-- 订单列表 -->
  <select id="getPageFront" parameterType="com.mall.entity.inventory.InventoryDeivery" resultMap="orderResultMap">
  select A.*, H.user_name user_name_u,H.NAME name_u,
		H.Sex,
		H.Phone Phone_u,
		H.email email_u,
		H.qq qq_u,
		H.address_province,
		H.address_city,
		H.address_area,
		H.address_street,
		H.headimgurl,
		H.Create_at Create_at_u,
		H.Update_time Update_time_u,
		H.LastSign_time LastSign_time_u
   FROM(
  	SELECT
	T1.delivery_id,
	T1.delivery_number,
	T1.order_id,
	T1.order_number,
	T1.user_id,
	T1.receive_id,
	T1.shipping_id,
	T1.shipping_name,
	T1.action_user,
	T1.postage_action_id,
	T1.invoice_no,
	T1.logistics_state,
	T1. STATUS,
	T1.create_time,
	T2.user_id user_id_oa,
	T2. NAME,
	T2.phone,
	T2.province,
	T2.city,
	T2.area,
	T2.street
FROM
	t_inventory_deivery T1
LEFT JOIN t_order_address T2 ON T1.receive_id = T2.id
<where>
	<if test="logistics_state!=null and logistics_state!='' and logistics_state!='-1'">
	  T1.logistics_state=#{logistics_state}
	</if>
	<if test="orderAddress!=null and orderAddress.name!=null and orderAddress.name!=''">
	and T2.name like CONCAT('%',#{orderAddress.name},'%')
	</if>
	<if test="delivery_number!=null and delivery_number!=''">
	T1.delivery_number=#{delivery_number}
	</if>
	<if test="order_number!=null and order_number!=''">
	T1.order_number=#{order_number}
	</if>
	<if test="status!=null and status!='' and status!='-1'">
		T1.status=#{status}
	</if>
</where>
) A LEFT JOIN t_sys_user_info H ON A.user_id=H.user_name
  ORDER BY A.create_time DESC
  </select>
  <!-- 修改发货单状态 -->
  <update id="updateDeiveryStatus" parameterType="com.mall.entity.inventory.InventoryDeivery">
  	 update t_inventory_deivery
  	 <set>
  	 	<if test="status!=null and status!=''">
  	 		status=#{status},
  	 	</if>
  	 	<if test="logistics_state!=null and logistics_state!=''">
  	 		logistics_state=#{logistics_state},
  	 	</if>
  	 	<if test="invoice_no!=null and invoice_no!=''">
  	 		invoice_no=#{invoice_no},
  	 	</if>
  	 	<if test="shipping_id!=null and shipping_id!=''">
  	 		shipping_id=#{shipping_id},
  	 	</if>
  	 	<if test="shipping_name!=null and shipping_name!=''">
  	 		shipping_name=#{shipping_name}
  	 	</if>
  	 </set>
  	where delivery_number=#{delivery_number}
  </update>
  <!-- 通过发货单号\订单号获取 -->
  <select id="selectByNumber" parameterType="com.mall.entity.inventory.InventoryDeivery" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_inventory_deivery
    where 
    <if test="delivery_number!=null and delivery_number!=''">
    	 delivery_number = #{delivery_number}
    </if>
    <if test="order_number!=null and order_number!=''">
    	order_number=#{order_number}
    	and status='1'
    </if>
    
   
  </select>
</mapper>