<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
<div class="footer_box">
		<div class="footer_img">
			<img src="images/footer_img_bg.png" alt="">
		</div>
		<div class="footer_cont">
			<ul class="footer_list_box">
				<li class="f_li">
					<h3>购物指南</h3>
					<ul class="c_ui">
						<li><a href="">会员注册</a></li>
						<li><a href="">购物流程</a></li>
						<li><a href="">服务声明</a></li>
					</ul>
				</li>
				<li class="f_li">
					<h3>售后服务</h3>
					<ul class="c_ui">
						<li><a href="">退换货政策</a></li>
						<li><a href="">退换货流程</a></li>
						<li><a href="">正品保证</a></li>
						<li><a href="">服务承诺</a></li>
					</ul>
				</li>
				<li class="f_li">
					<h3>关于我们</h3>
					<ul class="c_ui">
						<li><a href="">企业介绍</a></li>
						<li><a href="">服务宗旨</a></li>
						<li><a href="">经营理念</a></li>
						<li><a href="">核心文化</a></li>
					</ul>
				</li>
				<li class="f_li">
					<h3>服务中心</h3>
					<ul class="c_ui">
						<li><a href="">订单列表</a></li>
						<li><a href="">订单详情</a></li>
						<li><a href="">订单评价</a></li>
					</ul>
				</li>
				<li class="f_li">
					<h3>客服中心</h3>
					<ul class="c_ui">
						<li><a href="">联系我们</a></li>
						<li><a href="">修改收货地址</a></li>
						<li><a href="">会员资料修改</a></li>
					</ul>
				</li>
			</ul>
			<div class="lianxi_box">
				<div class="p_box">
					全国免费热线： 400-900-9680 
				</div>
				<div class="phone_icon_box">
					<img src="images/phone_icon.png" alt="">
					<div class="phone_right">	
						<p class="p_t">售后投诉热线:</p>
						<p class="p_b">400-900-9680 </p>
						<p class="p_b">18188637872</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bar">
			<div>Copyright 2018 云网传媒有限公司 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17088014号-2 </a></div>
			<div>公司名称: 深圳云网传媒有限公司   地址：深圳市龙华区龙观东路1号望城大厦5楼5818室   网址：www.ywwhcm.com.cn</div>
			<div>
				联系热线：400-900-9680  手机联系：18188637872
			</div>
		</div>
	</div>

</body>
</html>

</body>
</html>