<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>内容列表页面</title>
	<link rel="stylesheet" href="/mall/css/style.css">
</head>
<body class="body_bg">
	<!-- 头部 -->
	<div class="header_top_img">
		<img src="/mall/images/top_fangding.png" alt="">
	</div>
	<div class="head_login">
		<div class="head_login_box">
			<img class="user_img_min" src="/mall/images/touxiang.png" alt="">
			<span>&nbsp;&nbsp;<a href="">sdfsadf</a>  </span>
			<span>&nbsp;&nbsp;<a href="">请登录</a>  /</span>  
			<span>&nbsp;&nbsp;<a href="">注册</a>  /</span>
			<span>&nbsp;&nbsp;<a href="">个人中心</a>  /</span>
		</div>
	</div>
	<div class="header_box">
		<div class="logo_box">
			<div class="logo_left"><img src="/mall/images/logo.png" alt=""></div>
			<div class="logo_right">
				<div class="serach_box">
					<input type="text" placeholder="大家都在搜： 国画">
					<button class="search_btn"></button>
				</div>
				<div class="header_erweima">
					<img src="/mall/images/erweima.jpg" alt="">
					<p>订阅号</p>
				</div>
				<div class="header_erweima mg_10">
					<img src="/mall/images/erweima.jpg" alt="">
					<p>服务号</p>
				</div>
			</div>
		</div>
		<div class="top_nav_box">
			<ul class="top_nav">
				<li><a href="">首页</a></li>
				<li><a href="">在线商城</a></li>
				<li><a href="">拍卖中心</a></li>
				<li><a href="">限时秒杀</a></li>
				<li><a href="">名家荟萃</a></li>
				<li><a class="active" href="">作品锦集</a></li>
				<li><a href="">传统文化</a></li>
				<li><a href="">资讯中心</a></li>
				<li><a href="">关于我们</a></li>
			</ul>
		</div>
	</div>
	        
 </body>
 </html>