<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8">
	<title>云网传媒</title>
	<link rel="stylesheet" href="/mall/css/style.css">
	<link rel="stylesheet" href="/mall/css/font.css">
	 <script src="/admin/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
</head>
<body class="body_bg">
	<!-- 头部 -->
	<div class="header_top_img">
		<img src="/mall/images/top_fangding.png" alt="">
	</div>
	<div class="head_login">
		<div class="head_login_box">
			<div th:style="${session.user!=null}?'':'display: none'">
			<img class="user_img_min" th:attr="src=${session.user!=null&&session.user.filePath!=null}?'':'/mall/images/u106.png'" alt="">
			<span>&nbsp;&nbsp;<a href="" th:text="${session.user!=null}?${session.user.userInfo.name}:''">sdfsadf</a> / </span>
			<span>&nbsp;&nbsp;<a href="/mall/user/manager">个人中心</a> / </span>
			<span>&nbsp;&nbsp;<a href="javascript:loginOut();">注销</a>  </span>
			</div >
			<div  th:style="${session.user==null}?'':'display: none'">
			<span>&nbsp;&nbsp;<a href="/user/login.do">请登录</a> / </span>  
			<span>&nbsp;&nbsp;<a href="/user/register.do">注册</a>  </span>
			</div>
			
		</div>
	</div>
	<div class="header_box">
		<div class="logo_box">
			<div class="logo_left"><img src="/mall/images/logo.png" alt=""></div>
			<div class="logo_right">
				<div class="serach_box">
				
				<form method="get" action="/mall/goods/list">
					<input type="text" name="goods_name" placeholder="大家都在搜： 国画">
					<button class="search_btn"></button>	
				</form>
				</div>
				<div class="header_erweima">
					<img src="/mall/images/erweima.jpg" alt="">
					<p>订阅号</p>
				</div>
				<div class="header_erweima mg_10">
					<img src="/mall/images/erweima.jpg" alt="">
					<p>服务号</p>
				</div>
			</div>
		</div>
		<div class="top_nav_box">
			<ul class="top_nav">
				<li><a href="/" id='home' >首页</a></li>
				<li><a href="/mall/goods" id="mall" >在线商城</a></li>
				<!--  
				<li><a href="" id="auction" >拍卖中心</a></li>
				<li><a href="" id="seckill" >限时秒杀</a></li>
				-->
				<li><a href="/mall/cms/authlist.do?Pid=MJHC" id="auth" >名家荟萃</a></li>
				<li><a href="/mall/cms/list.do?Pid=ZPJJ" id='works' >作品锦集</a></li>
				<li><a href="/mall/cms/list.do?Pid=CTWH" id='culture' >传统文化</a></li>
				<li><a href="/mall/cms/list.do?Pid=ZXZX" id='news' >资讯中心</a></li>
				<li><a href="/mall/about" id='about' >关于我们</a></li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		$(function(){
			
			var Pid=[[${Pid}]]
			console.log(Pid);
			switch(Pid)
			{
			case "MJHC":
				 $("#auth").attr("class","active")
			  break;
			case "ZPJJ":
				 $("#works").attr("class","active")
			  break;
			case "CTWH":
				 $("#culture").attr("class","active")
				  break;
			case "ZXZX":
				 $("#news").attr("class","active")
				  break;
			default:
			 
			}
		})
		function loginOut(){
		$.post("/user/loginout",{},function(data){
			if(data!=null && data.res=='1')
			{
				location.reload();
			}
		})
	}
	
	</script>
	  <div style="position:absolute;top:-1000px;left:-1000px;">
	  <a href="http://www.365webcall.com/">在线客服 客服软件</a></div><script type='text/javascript' src='http://www.365webcall.com/IMMe1.aspx?settings=mw7m7X0N6PNmPIz3A76760z3Am0bNbPz3AX6mmP0&LL=0'></script><div style="position:absolute;top:-1100px;left:-1100px;"><a href="http://www.365webcall.com/">在线客服系统</a></div>
 </body>
 </html>