<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.login.UserMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.login.User">
    <id column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="rand" jdbcType="VARCHAR" property="rand" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="userinfo_id" jdbcType="VARCHAR" property="userinfo_id" />
    <result column="create_at" jdbcType="TIMESTAMP" property="create_at" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="del_status" jdbcType="VARCHAR" property="del_status" />
  </resultMap>
  <sql id="Base_Column_List">
    user_name, password, rand, status, userinfo_id, create_at, update_time, del_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user_localauth
    where user_name = #{user_name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_user_localauth
    where user_name = #{user_name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mall.entity.login.User">
    insert into t_sys_user_localauth (user_name, password, rand, 
      status, userinfo_id, create_at, 
      update_time, del_status)
    values (#{user_name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{rand,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{userinfo_id,jdbcType=VARCHAR}, #{create_at,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP}, #{del_status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.login.User">
    insert into t_sys_user_localauth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_name != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="rand != null">
        rand,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="userinfo_id != null">
        userinfo_id,
      </if>
      <if test="create_at != null">
        create_at,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="del_status != null">
        del_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_name != null">
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="rand != null">
        #{rand,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userinfo_id != null">
        #{userinfo_id,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null">
        #{create_at,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="del_status != null">
        #{del_status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.login.User">
    update t_sys_user_localauth
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="rand != null">
        rand = #{rand,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userinfo_id != null">
        userinfo_id = #{userinfo_id,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null">
        create_at = #{create_at,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="del_status != null">
        del_status = #{del_status,jdbcType=VARCHAR},
      </if>
    </set>
    where user_name = #{user_name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.login.User">
    update t_sys_user_localauth
    set password = #{password,jdbcType=VARCHAR},
      rand = #{rand,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      userinfo_id = #{userinfo_id,jdbcType=VARCHAR},
      create_at = #{create_at,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      del_status = #{del_status,jdbcType=VARCHAR}
    where user_name = #{user_name,jdbcType=VARCHAR}
  </update>
  <!-- 关联用户信息表查询 -->
  <resultMap extends="BaseResultMap" id="orderResultMap" type="com.mall.entity.login.User">
    <association property="userInfo" javaType="com.mall.entity.login.UserInfo">
            <id column="id" jdbcType="VARCHAR" property="id" />
		    <result column="user_name_c" jdbcType="VARCHAR" property="user_name" />
		    <result column="name" jdbcType="VARCHAR" property="name" />
		    <result column="Sex" jdbcType="VARCHAR" property="sex" />
		    <result column="Phone" jdbcType="VARCHAR" property="phone" />
		    <result column="email" jdbcType="VARCHAR" property="email" />
		    <result column="qq" jdbcType="VARCHAR" property="qq" />
		    <result column="address_province" jdbcType="VARCHAR" property="address_province" />
		    <result column="address_city" jdbcType="VARCHAR" property="address_city" />
		    <result column="address_area" jdbcType="VARCHAR" property="address_area" />
		    <result column="address_street" jdbcType="VARCHAR" property="address_street" />
		    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
		    <result column="Create_at_c" jdbcType="TIMESTAMP" property="create_at" />
		    <result column="Update_time_c" jdbcType="TIMESTAMP" property="update_time" />
		    <result column="LastSign_time_c" jdbcType="TIMESTAMP" property="lastSign_time" />
     </association>
     <association property="filePath" javaType="com.mall.entity.cms.FilePath">
            <id column="fileid" jdbcType="VARCHAR" property="fileid" />
		    <result column="belongid" jdbcType="VARCHAR" property="belongid" />
		    <result column="path" jdbcType="VARCHAR" property="path" />
		    <result column="fileidname" jdbcType="VARCHAR" property="fileidname" />
		    <result column="filename" jdbcType="VARCHAR" property="filename" />
		    <result column="filetype" jdbcType="VARCHAR" property="filetype" />
		    <result column="filesize" jdbcType="VARCHAR" property="filesize" />
		    <result column="status_c" jdbcType="VARCHAR" property="status" />
		    <result column="createby" jdbcType="VARCHAR" property="createby" />
		    <result column="createat" jdbcType="TIMESTAMP" property="createat" />
     </association>
  </resultMap>
  <!-- login -->
  <select id="Login" parameterType="com.mall.entity.login.User" resultMap="orderResultMap">
  	
select a.*,b.fileid, b.belongid, b.path, b.fileidname, b.filename, b.filetype, b.filesize, b.status status_c, b.createby, 
    b.createat
from (
SELECT
	t1.*,
	t2.id,
	t2.user_name user_name_c,
	t2.NAME,
	t2.Sex,
	t2.Phone,
	t2.email,
	t2.qq,
	t2.address_province,
	t2.address_city,
	t2.address_area,
	t2.address_street,
	t2.headimgurl,
	t2.Create_at Create_at_c,
	t2.Update_time Update_time_c,
	t2.LastSign_time LastSign_time_c
	
FROM
	t_sys_user_localauth t1,
	t_sys_user_info t2 
	
WHERE
	t1.userinfo_id = t2.id 
	AND t1.user_name = #{user_name}  
	
	)a left join t_file_path b on  a.headimgurl = b.fileid
  </select>
  <!-- 获取列表 -->
  <select id="getPageFront" parameterType="com.mall.entity.login.User" resultMap="orderResultMap">
  	select a.*,b.fileid, b.belongid, b.path, b.fileidname, b.filename, b.filetype, b.filesize, b.status status_c, b.createby, 
    b.createat
from (
SELECT
	t1.*,
	t2.id,
	t2.user_name user_name_c,
	t2.NAME,
	t2.Sex,
	t2.Phone,
	t2.email,
	t2.qq,
	t2.address_province,
	t2.address_city,
	t2.address_area,
	t2.address_street,
	t2.headimgurl,
	t2.Create_at Create_at_c,
	t2.Update_time Update_time_c,
	t2.LastSign_time LastSign_time_c
	
FROM
	t_sys_user_localauth t1,
	t_sys_user_info t2 
	
WHERE
	t1.userinfo_id = t2.id 
	
	)a left join t_file_path b on  a.headimgurl = b.fileid
  
  
  
  </select>
</mapper>