<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.dao.login.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.mall.entity.login.UserInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="user_name" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="Sex" jdbcType="VARCHAR" property="sex" />
    <result column="Phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="address_province" jdbcType="VARCHAR" property="address_province" />
    <result column="address_city" jdbcType="VARCHAR" property="address_city" />
    <result column="address_area" jdbcType="VARCHAR" property="address_area" />
    <result column="address_street" jdbcType="VARCHAR" property="address_street" />
    <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
    <result column="Create_at" jdbcType="TIMESTAMP" property="create_at" />
    <result column="Update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="LastSign_time" jdbcType="TIMESTAMP" property="lastSign_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, name, Sex, Phone, email, qq, address_province, address_city, address_area, 
    address_street, headimgurl, Create_at, Update_time, LastSign_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_user_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mall.entity.login.UserInfo">
    insert into t_sys_user_info (id, user_name, name, 
      Sex, Phone, email, 
      qq, address_province, address_city, 
      address_area, address_street, headimgurl, 
      Create_at, Update_time, LastSign_time
      )
    values (#{id,jdbcType=VARCHAR}, #{user_name,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{address_province,jdbcType=VARCHAR}, #{address_city,jdbcType=VARCHAR}, 
      #{address_area,jdbcType=VARCHAR}, #{address_street,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, 
      #{create_at,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{lastSign_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mall.entity.login.UserInfo">
    insert into t_sys_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user_name != null">
        user_name,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        Sex,
      </if>
      <if test="phone != null">
        Phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="address_province != null">
        address_province,
      </if>
      <if test="address_city != null">
        address_city,
      </if>
      <if test="address_area != null">
        address_area,
      </if>
      <if test="address_street != null">
        address_street,
      </if>
      <if test="headimgurl != null">
        headimgurl,
      </if>
      <if test="create_at != null">
        Create_at,
      </if>
      <if test="update_time != null">
        Update_time,
      </if>
      <if test="lastSign_time != null">
        LastSign_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="user_name != null">
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address_province != null">
        #{address_province,jdbcType=VARCHAR},
      </if>
      <if test="address_city != null">
        #{address_city,jdbcType=VARCHAR},
      </if>
      <if test="address_area != null">
        #{address_area,jdbcType=VARCHAR},
      </if>
      <if test="address_street != null">
        #{address_street,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null">
        #{create_at,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSign_time != null">
        #{lastSign_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.login.UserInfo">
    update t_sys_user_info
    <set>
      <if test="user_name != null">
        user_name = #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        Sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="address_province != null">
        address_province = #{address_province,jdbcType=VARCHAR},
      </if>
      <if test="address_city != null">
        address_city = #{address_city,jdbcType=VARCHAR},
      </if>
      <if test="address_area != null">
        address_area = #{address_area,jdbcType=VARCHAR},
      </if>
      <if test="address_street != null">
        address_street = #{address_street,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null">
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null">
        Create_at = #{create_at,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        Update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="lastSign_time != null">
        LastSign_time = #{lastSign_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.entity.login.UserInfo">
    update t_sys_user_info
    set user_name = #{user_name,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      address_province = #{address_province,jdbcType=VARCHAR},
      address_city = #{address_city,jdbcType=VARCHAR},
      address_area = #{address_area,jdbcType=VARCHAR},
      address_street = #{address_street,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      Create_at = #{create_at,jdbcType=TIMESTAMP},
      Update_time = #{update_time,jdbcType=TIMESTAMP},
      LastSign_time = #{lastSign_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>