<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/admin/assets/layouts/layout/css/style.css">
<link rel="stylesheet" href="/admin/assets/layouts/layout/css/yunwang.css">
</head>
<body>
<div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
      <div class="page-content">
	<div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>分类管理</span>
                </li>
            </ul>
        </div>
	
	<span id='msg' style="color:red"></span>
     <!-- 内容展示 -->
        <div class="row">
		    <div class="col-md-12">
		        <div class="portlet light bordered">
		            <div class="portlet-body">
		                <div class="table-toolbar">
		                    <div class="row">
		                    <div class="form-group m_b_0">
		                    <table class="table_class_tit">
		                    	<tr>
		                    		<th width="100px">顶级</th>
		                    		<th width="280px">子分类名称</th>
		                    		<th width="80px;">排序</th>
		                    		<th>操作</th>
		                    	</tr>
		                    </table>
		                    </div>
		                    
		                    <div class="form-group"  id="menu"></div>
		                	</div>
		            	</div>
		        	</div>
		    	</div>
			</div>
        </div>
        </div>
        </div>
		<script src="/admin/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/admin/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>

        <script type="text/javascript" th:inline="javascript">
            $(function(){
                
               //分类信息
               var list=[[${goodsCategoryList}]];
               console.log(list);
               
               $("#menu").html(buildMenu(list));

              // ----category_id= '+ obj[index].category_id+'</span>'+'<span>---parent_id='+obj[index].parent_id+'</span>';
               function buildMenu(obj,ulcss,tier) {
            	   var ulcss = ulcss ? ulcss : 'classify_list';
            	   var tier= tier ? tier : 1;
                   tier++;
                   var str = "<ul class='"+ulcss+"'>";
                   for(index in obj){
                	   if (typeof(obj[index].goodsCategoryList) ==="object") {
                    	   if(obj[index].parent_id==''){
                        	   //一级分类
                    		   str += "<li class='f_list'><span>"+ obj[index].category_name+"</span><i class='btn add_child add_c_m ad_child_b' data-id='"+obj[index].category_id+"'>新增子分类</i>"
                    		   str += buildMenu(obj[index].goodsCategoryList,'c_list'); //递归判断是不是object,直到不是li 
                               str += "</li>";
                           }else{
                               if(tier>=3){
									//如果3级菜单则不需要
                            	   str += '<li> <span class="left_textbody" contenteditable="true">'+obj[index].category_name+
                            	   		 '</span><span class="f_r"><span class="btn green c_btn amend_btn" data-id="'+ obj[index].category_id+'">修改</span>&nbsp;<span class="btn red c_btn delete_btn" data-id="'+obj[index].category_id+'">删除</span></span>'+
                            	   		'<span contenteditable="true" class="paixu">'+obj[index].priority+'</span></li>'
                            	   str += buildMenu(obj[index].goodsCategoryList,'c_list',tier); //递归判断是不是object,直到不是li 
                                   str += "</li>";

                               }else{

                            	   str += '<li> <span class="left_textbody" contenteditable="true">'+obj[index].category_name+
                            	   		 '</span><span class="f_r"><span class="btn green c_btn amend_btn" data-id="'+ obj[index].category_id+'">修改</span>&nbsp;<span class="btn green c_btn amend_btns add_c" data-id="'+obj[index].category_id+'">新增子类</span>&nbsp;<span class="btn red c_btn delete_btn" data-id="'+obj[index].category_id+'">删除</span></span>'+
                            	   		'<span contenteditable="true" class="paixu">'+obj[index].priority+'</span></li>'
                            	   str += buildMenu(obj[index].goodsCategoryList,'c_list',tier); //递归判断是不是object,直到不是li 
                                   str += "</li>";
								
                                }
                           }
                               
                               
                               
                       }
                	   else {
                               str += "<li>" + index + "</li>" 
                       }
                   }
                   
               
                   
                   str += "</ul>";
                   return str;

               }

               

               $(".ad_child_b").click(function(){
                   //新增
                   var parent_id=$(this).data('id');
                  $(this).parent('.f_list').children('.c_list').append('<li ><span class="left_textbody" contenteditable="true" >新增子分类</span><span class="f_r"><span class="btn c_btn queding_add" data-id="'+parent_id+'">确定</span>&nbsp;<span class="btn red c_btn quxiao">取消</span></span><span contenteditable="true" class="paixu">99</span></li>');
                  $(this).parent('.f_list').children('.c_list').children("li:last-child").find('.left_textbody').focus();
				
                //新增请求
                  $(".queding_add").click(function(){
                     
                      var parmet={
                    	    parent_id:$(this).data('id'),
          		   			category_name:$(this).parent().parent().find('.left_textbody').text(),
          		   			priority:$(this).parent().parent().find('.paixu').text()
                          }
                      
                	   $.post("/admin/goods/category/save",
                			   parmet,
                		   		function(date){
                		   			if(date.res=='1'){
                		   				//成功
                		   				$("#msg").text('新增成功,一秒跳转');
                		   				setTimeout(function(){
                    		   				window.location.reload();
                    		   				},1000)
                		   			}else{
                		   				$("#msg").text(adte.msg);
                		   			}
                		   		},'json'
                			   )  
                    })

                    //取消
                    $(".quxiao").click(function(){
                    	$(this).parent().parent().remove();
                       })
                   	

               })

                $(".add_c").click(function(){
                   //新增
                   var parent_id=$(this).data('id');
                  $(this).parent().parent().append('<ul class="c_list"><li ><span class="left_textbody" contenteditable="true">新增子分类</span><span class="f_r"><span class="btn c_btn queding_add" data-id="'+parent_id+'">确定</span>&nbsp;<span class="btn red c_btn quxiao">取消</span></span><span contenteditable="true" class="paixu">99</span></li></ul>');
                  $(this).parent().parent().children('.c_list').find('.left_textbody').focus();

                  //新增请求
                  $(".queding_add").click(function(){
                     
                      var parmet={
                    	    parent_id:$(this).data('id'),
          		   			category_name:$(this).parent().parent().find('.left_textbody').text(),
          		   			priority:$(this).parent().parent().find('.paixu').text()
                          }
                      
                	  $.post("/admin/goods/category/save",
                			   parmet,
                		   		function(date){
                		   			if(date.res=='1'){
                		   				//成功
                		   			  bootbox.alert("新增成功,一秒跳转");
                		   				setTimeout(function(){
                    		   				window.location.reload();
                    		   				},1000)
                		   			}else{
                		   				$("#msg").text(adte.msg);
                		   			}
                		   		},'json'
                			   )   
                    })

                    //取消
                    $(".quxiao").click(function(){
                       $(this).parent().parent().remove();
                       })
               })
               
               	//数据修改
               	 $(".amend_btn").click(function(){
                    $(this).prev().text()
                    var parmet={
                    	category_id:$(this).data('id'),
                    	category_name:$(this).parent().prev().text(),
                    	priority:$(this).parent().next().text()
                      }
                    $.post("/admin/goods/category/update",
             			   parmet,
             		   		function(date){
             		   			if(date.res=='1'){
             		   				//成功
             		   			bootbox.alert("修改成功");
             		   			setTimeout(function(){
             		   				bootbox.hideAll();
        		   				},800)
             		   			 
             		   			}else{
             		   				$("#msg").text(adte.msg);
             		   			}
             		   		},'json'
             			   )  
                    
                })
                
                
                //删除数据
               	 $(".delete_btn").click(function(){
               		var parmet={
                        	category_id:$(this).data('id')
                    }
               		 bootbox.confirm("删除将不可恢复，你娶定要删除?", function(result) {
                        if(result){
                        	console.log(parmet)
                        	$.post("/admin/goods/category/delete",
                      			   parmet,
                      		   		function(date){
                        				console.log(date);
                      		   			if(date.res=='1'){
                      		   				//成功
                      		   			bootbox.alert("删除成功,1秒跳转");
                      		   		   setTimeout(function(){
                		   			    	window.location.reload();
                		   				},1000)
                      		   			 
                      		   			}else{
                      		   				$("#msg").text(adte.msg);
                      		   			}
                      		   		},'json'
                      			   )  
                        }else{
                        	bootbox.hideAll();
                        	return false;
                         } 
                    }); 
   
                    
                })
                
                
               

               //监听回车不可用或者触发保存
                $(".left_textbody").keypress(function(e){
                	if(e.which==13){
                		//此处可以调用保存方法
                		$(this).blur();
                		return false;
                	}
                })

             

            })
        </script>
</body>
</html>