<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<!-- 内容部分 -->
	<div class="content_box">
		<div class="cms_show_box">
			<div class="content_bar">
				您所在的位置：<span>传统文化</span>->
				<span>内容页</span>		
			</div>
			<div class="content_left">
				<!-- 文章内容 -->
				<div class="content_text">
					<h4 class="cont_text_tit">只靠画鸡成为国礼大师的王世军（下）
					</h4>
					<div class="cont_text_bar">
						作者：<span>云网传媒</span>
						发布时间: <span>2018-05-09</span>
						浏览: <span>500</span>
						点赞: <span>20</span>
					</div>
					<div class="cont_text_main">
						<!-- 此处为内容详情 -->
						<p>王世军的国画艺术创作，不仅在于工笔重彩，画技超群，更在于他通透以写意，意境深邃。  </p>
						<p>王世军的国画艺术创作，不仅在于工笔重彩，画技超群，更在于他通透以写意，意境深邃。 王世军的国画艺术创作，不
						仅在于工笔重彩，画技超群，更在于他通透以写意，意境深邃。王世军的国画艺术创作，不仅在于工笔重彩，画技超群，
						更在于他通透以写意，意境深邃。 </p>
						<p>王世军的国画艺术创作，不仅在于工笔重彩，画技超群，更在于他通透以写意，意境深邃。 王世军的国画艺术创作，不
						仅在于工笔重彩，画技超群，更在于他通透以写意，意境深邃。王世军的国画艺术创作，不仅在于工笔重彩，画技超群，
						更在于他通透以写意，意境深邃。 王世军的国画艺术创作，不仅在于工笔重彩，画技超群，更在于他通透以写意，意境
						深邃。 王世军的国画艺术创作，不仅在于工笔重彩，画技超群，</p>
						<!-- 此处为内容详情 -->
					</div>
				</div>
				<!-- 文章内容结束 -->
				<div class="content_zan">
					<span id="cont_zan" class="zan zan_active"></span>
					<span>点赞</span>
				</div>
				<!-- 评论 -->
				<!--PC版-->
				<div id="SOHUCS" ></div>
				<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
				<script type="text/javascript">
				window.changyan.api.config({
				appid: 'cyrROqif2',
				conf: 'prod_479d8f87cc744adaac89cfe8051df96b'
				});
				</script>
			</div>
			<!-- 左侧内容结束 -->
			<!-- 右侧内容 -->
			<div class="content_right">
				<div class="cms_tuijian">
					<div class="cms_tuijian_tit">
						精彩推荐
					</div>
					<div class="cms_tuijian_list">
						<ul>
							<li><a href="#">[艺术]  在古画中寻找消失的亭台楼阁</a></li>
							<li><a href="#">[艺术]  在古画中寻找消失的亭台楼阁</a></li>
							<li><a href="#">[艺术]  在古画中寻找消失的亭台楼阁</a></li>
							<li><a href="#">[艺术]  在古画中寻找消失的亭台楼阁</a></li>
							<li><a href="#">[艺术]  在古画中寻找消失的亭台楼阁</a></li>
							<li><a href="#">[艺术]  在古画中寻找消失的亭台楼阁</a></li>
							<li><a href="#">[艺术]  在古画中寻找消失的亭台楼阁</a></li>
							<li><a href="#">[艺术]  在古画中寻找消失的亭台楼阁</a></li>
						</ul>
					</div>
				</div>
				<!-- 排行 -->
				<div class="cms_paihang">
					<div class="cms_paihang_tit">
						热门文章排行
					</div>
					<div class="cms_paihang_list">
						<ul>
							<li>
								<a href="">
									<img src="images/noimg.png" alt="">
									<div class="f_r">纯粹的个人主义同他的由于一般
									极具欧洲特色</div>
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/noimg.png" alt="">
									<div class="f_r">纯粹的个人主义同他的由于一般
									极具欧洲特色</div>
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/noimg.png" alt="">
									<div class="f_r">纯粹的个人主义同他的由于一般
									极具欧洲特色</div>
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/noimg.png" alt="">
									<div class="f_r">纯粹的个人主义同他的由于一般
									极具欧洲特色</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容部分结束 -->
</body>
</html>