<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="page">
	<!-- 内容部分 -->
	<div class="content_box">
		<div class="cms_show_box">
			<div class="content_bar">
				您所在的位置：<span>艺术名家</span>	
			</div>
			<div class="mingjia_bar">
				 <div class="mingjia_bar_ground">
				 	<span class="m_t">艺术分类:</span>
				 	<ul>
				 		<li th:each="ca:${Category}"><a href="" class="active" th:href="@{/mall/cms/authlist.do(Pid=${Pid},classification=${ca.id})}" th:text="${ca.ladelname}">国画</a></li>
				 		
				 	</ul>
				 </div>
				 <div class="mingjia_bar_ground">
				 	<span class="m_t">名家地区:</span>
				 	<ul>
				 		<li th:each="a:${address}"><a href="" class="active"  th:href="@{/mall/cms/authlist.do(Pid=${Pid},address=${a.address})}" th:text="${a.address}">湖南</a></li>
				 		
				 		
				 	</ul>
				 </div>
				 <div class="mingjia_bar_ground">
				 	<span class="m_t">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位:</span>
				 	<ul>
				 		<li th:each="a:${position}"><a href="" class="active"  th:href="@{/mall/cms/authlist.do(Pid=${Pid},position=${a.position})}" th:text="${a.position}">八大美院</a></li>
				 		
				 	</ul>
				 </div>
				 <div class="mingjia_serach_box">
				 	<input type="text" placeholder="艺术名家" id="queryAuthName">
				 	<a href="" class="search_btn" id='queryByName'><span></span>搜索</a>
				 </div>
			</div>
			<!-- 名家列表内容 -->
			<div class="mingjia_cont_box">
				<a href="#" class="mingjia_ground"  th:each="a:${list.dataList}" th:href="@{/mall/cms/authcontent.do(Pid=${Pid},id=${a.id})}">
					<img src="/mall/images/mingjia.png" alt="" th:each="entry : ${a}==null?'':${a.filePath}" th:attr="src=${a}==null?'':${fileServicePath}+'/'+${entry.path}+'/'+${entry.fileidname}+'.'+${entry.filetype}">
					<p th:text="${a.authorname}">焕春英</p>
					<p th:text="${a.position}">国家一级美术师</p>	
				</a>
				
				<!-- clear -->
				<div class="clear"></div>
				<!-- 分页 -->
				<div class="pagination_Box">
						<ul>
							<li><a href="" class="demo" th:href="@{/mall/cms/authlist.do(Pid=${Pid},pageNo=${1})}">首页</a></li>
							<li><a href=""  class="demo" th:href="@{/mall/cms/authlist.do(Pid=${Pid},pageNo=${list.pageNo}-1>0?${list.pageNo}-1:1)}">上一页</a></li>
							<li class="active" id="activepage">
								<a  th:text="${list.pageNo}">1</a>
							</li>
							<li>
								<a href="" th:href="@{/mall/cms/authlist.do(Pid=${Pid},pageNo=${list.pageNo}==${list.pages}?${list.pages}:${list.pageNo}+1)}">下一页</a>
							</li>
							<li>
								<a  href="" th:href="@{/mall/cms/authlist.do(Pid=${Pid},pageNo=${list.pages})}"><i class="fa fa-angle-double-right">末页</a>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>
	<div class="footer_baozhen">
		<img src="/mall/images/baozhen.png" alt="">
	</div>
	<!-- 内容部分结束 -->
	<script type="text/javascript" th:inline="javascript">
		
		$(function(){
			var Pid=[[${Pid}]];
			
			$('#queryAuthName').on('input',function(){
				console.log($('#queryAuthName').val());
			   $('#queryByName').attr('href','/mall/cms/authlist.do?Pid='+Pid+'&authorname='+$('#queryAuthName').val());
			})
			//添加分页
			var pageNo=[[${list.pageNo}]];
        	var pages=[[${list.pages}]];
        	
    		for(var i=2;i>0;i--){
    			var pag=pageNo-i;
    			if(pageNo-i>0){
    				var dome="<li><a  href='/admin/goods/list?pageNo="+pag+"'>"+pag+"</a></li>";
        			$("#activepage").before(dome);
    			}
    			
    		}
    		for(var i=2;i>0;i--){
    			var pag=pageNo+i;
    			if(pageNo+i<=pages){
    				var dome="<li><a  href='/admin/goods/list?pageNo="+pag+"'>"+pag+"</a></li>";
        			$("#activepage").after(dome);
    			}
    			
    		}
			
		})
		</script>
		</div>

</body>
</html>