<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 内容部分 -->
	<div class="content_box">
		<div class="cms_show_box">
			<div class="content_bar">
				您所在的位置：<span>艺术名家</span>	
			</div>
			<div class="mingjia_bar">
				 <div class="mingjia_bar_ground">
				 	<span class="m_t">艺术分类:</span>
				 	<ul>
				 		<li><a href="" class="active">国画</a></li>/
				 		<li><a href="">油画</a></li>/
				 		<li><a href="">书法</a></li>/
				 		<li><a href="">版画</a></li>/
				 	</ul>
				 </div>
				 <div class="mingjia_bar_ground">
				 	<span class="m_t">名家地区:</span>
				 	<ul>
				 		<li><a href="" class="active">湖南</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
						<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 		<li><a href="">湖北</a></li>/
				 	</ul>
				 </div>
				 <div class="mingjia_bar_ground">
				 	<span class="m_t">职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位:</span>
				 	<ul>
				 		<li><a href="" class="active">八大美院</a></li>/
				 		<li><a href="">民间大家</a></li>/
				 	</ul>
				 </div>
				 <div class="mingjia_serach_box">
				 	<input type="text" placeholder="艺术名家">
				 	<a href="" class="search_btn"><span></span>搜索</a>
				 </div>
			</div>
			<!-- 名家列表内容 -->
			<div class="mingjia_cont_box">
				<a href="#" class="mingjia_ground">
					<img src="images/mingjia.png" alt="">
					<p>焕春英</p>
					<p>国家一级美术师</p>	
				</a>
				<a href="#" class="mingjia_ground">
					<img src="images/mingjia.png" alt="">
					<p>焕春英</p>
					<p>国家一级美术师</p>	
				</a>
				<a href="#" class="mingjia_ground">
					<img src="images/mingjia.png" alt="">
					<p>焕春英</p>
					<p>国家一级美术师</p>	
				</a>
				<a href="#" class="mingjia_ground">
					<img src="images/mingjia.png" alt="">
					<p>焕春英</p>
					<p>国家一级美术师</p>	
				</a>
				<a href="#" class="mingjia_ground">
					<img src="images/mingjia.png" alt="">
					<p>焕春英</p>
					<p>国家一级美术师</p>	
				</a>
				<a href="#" class="mingjia_ground">
					<img src="images/mingjia.png" alt="">
					<p>焕春英</p>
					<p>国家一级美术师</p>	
				</a>
				<!-- clear -->
				<div class="clear"></div>
				<!-- 分页 -->
				<div class="pagination_Box">
						<ul>
							<li><a href="" class="demo">首页</a></li>
							<li><a href=""  class="demo">上一页</a></li>
							<li class="active">
								<a  href="">1</a>
							</li>
							<li>
								<a  href="">2</a>
							</li>
							<li>
								<a  href="">3</a>
							</li>
							<li>
								<a  href="">4</a>
							</li>
							<li>
								<a href="">下一页</a>
							</li>
							<li>
								<a  href="">末页</a>
							</li>
						</ul>
					</div>
			</div>
		</div>
	</div>
	<div class="footer_baozhen">
		<img src="images/baozhen.png" alt="">
	</div>
	<!-- 内容部分结束 -->
	

</body>
</html>