<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!-- 内容部分 -->
	<div class="content_box">
		<div class="cms_show_box">
			<div class="ming_detail_header">
				<p class="name" th:text="${auth.authorname}">宋高金</p>
				<p class="sign"><span th:text="${auth.position}">山东美术协会会员</span> <span th:text="${auth.address}">山东省</span> <span th:text="${auth.atticleldCategory.ladelname}">国画</span></p>
				<div class="mingjia_jianjie">
					<div class="mingjia_img">
						<img src="/mall/images/mingjia.png" alt="">
					</div>
					<div class="mingjia_text" th:text="${auth.introduction}">
						名家简介，国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家
						国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家一级美术师国家

					</div>
					
				</div>
			</div>

			<div class="mingjia_detail_body">
				<h3>艺术家年表</h3>
				<div class="mingjia_detail_text" th:utext="${auth.content}">
					-- 2008年获中国水墨画研究院第三届（2008）年度创作展银奖。<br>
					-- 2008年获中国水墨画研究院第三届（2008）年度创作展银奖。<br>
					-- 2008年获中国水墨画研究院第三届（2008）年度创作展银奖。<br>
				</div>
			</div>

			<script type="text/javascript" src="/mall/js/jquery-1.10.2.mins.js"></script>
			<div class="dSmallPicBox">

				<h3>艺术作品</h3>
           		 <div class="dSmallPic">
               		 <ul class="ulSmallPic" style="left:0px" rel="stop">

               		 <!-- li是循环出来的只需要一个就行 -->
                    <li>
                        <span class="sPic">
                            <img alt="" src="/mall/images/mingjia_art.jpg">
                        </span>
                        <p><a href="#">中国美术家协会会员 楚英</a></p>
                        <p><a href="">《新华一角》</a></p>
                        <div class="price">
                            ￥<span>2000.00</span>
                        </div>
                    </li>
                    <!-- li是循环出来的只需要一个就行 -->
                    <li>
                        <span class="sPic">
                            <img alt="" src="/mall/images/mingjia_art.jpg">
                        </span>
                        <p><a href="#">中国美术家协会会员 楚英</a></p>
                        <p><a href="">《新华一角》</a></p>
                        <div class="price">
                            ￥<span>2000.00</span>
                        </div>
                    </li>
                    <li>
                        <span class="sPic">
                            <img alt="" src="/mall/images/mingjia_art.jpg">
                        </span>
                        <p><a href="#">中国美术家协会会员 楚英</a></p>
                        <p><a href="">《新华一角》</a></p>
                        <div class="price">
                            ￥<span>2000.00</span>
                        </div>
                    </li>
                    <li>
                        <span class="sPic">
                            <img alt="" src="/mall/images/mingjia_art.jpg">
                        </span>
                        <p><a href="#">中国美术家协会会员 楚英</a></p>
                        <p><a href="">《新华一角》</a></p>
                        <div class="price">
                            ￥<span>2000.00</span>
                        </div>
                    </li>
                    <li>
                        <span class="sPic">
                            <img alt="" src="/mall/images/mingjia_art.jpg">
                        </span>
                        <p><a href="#">中国美术家协会会员 楚英</a></p>
                        <p><a href="">《新华一角》</a></p>
                        <div class="price">
                            ￥<span>2000.00</span>
                        </div>
                    </li>
                    <li>
                        <span class="sPic">
                            <img alt="" src="/mall/images/mingjia_art.jpg">
                        </span>
                        <p><a href="#">中国美术家协会会员 楚英</a></p>
                        <p><a href="">《新华一角》</a></p>
                        <div class="price">
                            ￥<span>2000.00</span>
                        </div>
                    </li>
                    <li>
                        <span class="sPic">
                            <img alt="" src="/mall/images/mingjia_art.jpg">
                        </span>
                        <p><a href="#">中国美术家协会会员 楚英</a></p>
                        <p><a href="">《新华一角》</a></p>
                        <div class="price">
                            ￥<span>2000.00</span>
                        </div>
                    </li>
                    <li>
                        <span class="sPic">
                            <img alt="" src="/mall/images/mingjia_art.jpg">
                        </span>
                        <p><a href="#">中国美术家协会会员 楚英</a></p>
                        <p><a href="">《新华一角》</a></p>
                        <div class="price">
                            ￥<span>2000.00</span>
                        </div>
                    </li>
                
                </ul>
            </div>
            <span id="sLeftBtnB" class="sLeftBtnBBan"></span>
            <span id="sRightBtnB" class="sRightBtnB"></span>
        </div>
		    <script type="text/javascript" src="/mall/js/list.js"></script>
		</div>
	</div>

	<div class="footer_baozhen">
		<img src="/mall/images/baozhen.png" alt="">
	</div>

</body>
</html>