<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
	<!-- 内容部分 -->
	<div class="content_box">
		<div class="login_box">
			<div class="inputAreaBg">
				<img src="/mall/images/loginbgimg.png" alt="">
				<div class="inputArea">
					<div class="textDiv">
						<div class="loginText">
							用户登录
						</div>
						<div class="registerText">
							<a href="/user/register.do">用户注册</a>
						</div>
					</div>
					<div class="msg" style="display:none">
						
					</div>
					<div class="nickNameDiv">
						<input type="text" class="textInput" placeholder="手机号码" id="user_name">	
					</div>
					<div class="passwordDiv">
						<input type="password" class="textInput" placeholder="密码" id="password">	
					</div>
					<div class="autoLoginDiv">
						<input type="checkbox" class="rememberMe" id="autoLogin">
						 <label for="autoLogin">自动登录</label> 
					</div>
					<div class="loginBtn" id="login">
						登  录
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 内容部分结束 -->
	<script type="text/javascript">
		function chickform(){
			var username=$("#user_name").val();
			var psd=$("#password").val();
			if(username!=null&&psd!=null){
				return true;
			}
			return false;
		}
		$("#login").click(function(){
			if(!chickform()){
				$(".msg").show();
				$(".msg").text("账号密码不能为空！");
				return;
			}
			$.post('/user/login',
					{user_name:$("#user_name").val(),
					password:$("#password").val()},
					function(data){
				if(data!=null&&data.res=="1"){
					//登录成功
					$(".msg").show();
					$(".msg").text("登录成功！");
					console.log("js获取上(前)一页url"+document.referrer);
					setTimeout('goback()',1000);
				}else{
					//登录失败
					$(".msg").show();
					$(".msg").text(data.msg);
				}
				
			});
			
		});
		//跳转到上一页
		function goback(){
			if(document.referrer==window.location.href||document.referrer==""||document.referrer.indexOf("register.do")!=-1){
				window.location.href="/";
			}else{
				
				window.location.href=document.referrer;
			}
			
		}
		

	
	</script>
</body>
</html>