<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<head>
<meta charset="UTF-8">
</head>
<body >
	<!-- 用户信息 -->
	
	<div class="my_right_box" th:fragment="info">
		<div class="my_right_tit">
			个人信息
		</div>
		<span id="msg"></span>
		<div class="my_rt_b">
			<div class="my_form_box">
				<div class="form_ground">
					<label for="">登录帐号</label>
					<div class="input_box">
						<input type="text" th:value="${session.user.user_name}" >
					</div>
				</div>
				<div class="form_ground f_r">
					<label for="">真实姓名</label>
					<div class="input_box">
						<input type="text" value="阿杰" th:value="${session.user.userInfo.name}" id="name">
					</div>
				</div>
				<div class="form_ground">
					<label for="">性别</label>
					<div class="input_box">
						<select name="sex" id="sex" >
							<option value="1" th:selected="${session.user.userInfo.sex=='1'}">男</option>
							<option value="0" th:selected="${session.user.userInfo.sex=='0'}">女</option>
						</select>
					</div>
				</div>
				<div class="form_ground f_r">
					<label for="">邮箱</label>
					<div class="input_box">
						<input type="text" value="770637705@qq.com" th:value="${session.user.userInfo.email}" id="email">
					</div>
				</div>
				<div class="form_ground">
					<label for="">电话</label>
					<div class="input_box">
						<input type="text" value="13823595211" th:value="${session.user.userInfo.phone}" id="phone">
					</div>
				</div>
				<div class="form_ground  f_r">
					<label for="">QQ</label>
					<div class="input_box">
						<input type="text" value="770637705" th:value="${session.user.userInfo.qq}" id="qq">
					</div>
				</div>
				<div class="form_ground">
					<label for="">所在地</label>
					<div>
					<select name="province" id="address_province" class="w110"></select>
					<select name="city" id="address_city" class="w110">
					</select><select name="area" id="address_area" class="w110"></select>
					</div>
				</div>
				<div class="form_ground_t">
					<label for="">地址</label>
					<div class="input_box">
						<textarea name="" id="address_street" cols="30" rows="10" th:text="${session.user.userInfo.address_street}"></textarea>
						<span id="headimgurl"></span>
					</div>
				</div>
				<div class="save_btn">
					<input type="submit" value="保存" id="submit" />
				</div>
				
			</div>
			<div class="my_img">
				<div class="my_header_img">
					<img th:attr="src=${session.user!=null&&session.user.filePath!=null}?'':'/mall/images/u106.png'" alt="">
				</div>
				<div class="filed_btn">上传头像</div>
			</div>
		</div>
		<script type="text/javascript" src="/mall/js/PCASClass.js"></script>
		<script type="text/javascript" th:inline="javascript">
		  $(function(){
			  
			  	var userinfo =[[${session.user.userInfo}]];
				new PCAS("province","city","area",userinfo.address_province,userinfo.address_city,userinfo.address_area);
			  	$("#submit").click(function(){
			  		console.log($("#address_street").val());
				  		$.post('/user/chengeuserinfo',
					  			{
					  			 name:$("#name").val(),
					  			 sex:$("#sex").val(),
					  			 phone:$("#phone").val(),
					  			email:$("#email").val(),
					  			qq:$("#qq").val(),
					  			address_province:$("#address_province").val(),
					  			address_city:$("#address_city").val(),
					  			address_area:$("#address_area").val(),
					  			address_street:$("#address_street").val(),
					  			headimgurl:$("#headimgurl").text()
					  			 },
					  			function(data){
					  				if(data!=null&&data.res=="1"){
					  					//修改成功
					  					$("#msg").text(data.msg);
					  					setTimeout('location.reload()',1000);
					  				}else{
					  					//失败
					  					$("#msg").text(data.msg);
					  				}
					  		
					  	})
			  	});
			  	
		  })
			
			
			</script>
	</div>
	
	<!-- 用户信息end -->
	<!-- 密码修改 -->
	<div class="my_right_box" th:fragment="modify_pwd_verify">
		<div class="my_right_tit">
			密码修改
		</div>
		<div class="my_rt_b">
			<div class="alert-success">
				<h4>操作提示：</h4>
				<ul>
					<li>1. 请正确输入下方图形验证码，如看不清可点击图片进行更换，输入完成后进行下一步操作。</li>
					<li>2.收到安全验证码后，请在30分钟内完成验证。</li>
				</ul>
			</div>
			<div class="ncm-default-form">
				<dl>
					<dt><i class="required">*</i>选择身份认证方式：</dt>
					<dd>
						<p><select name="auth_type" id="auth_type" class="valid">
								<option value="mobile">手机 [138****5211]</option>
                         </select><a href="javascript:getphonecode();" id="send_auth_code" class="ncm-btn"><span id="sending" style="display:none">正在</span><span class="send_success_tips" style="display: none;"><strong id="show_times" class="red mr5"></strong>秒后再次</span>获取安全验证码</a></p>
                         <p id="send_success_tips" class="send_success_tips" style="display: none;">“安全验证码”已发出，请注意查收，请在<strong>“30分种”</strong>内完成验证。</p>
					</dd>
				</dl>
				<dl>
		        	<dt><i class="required">*</i>请输入安全验证码：</dt>
			        <dd>
			          <input type="text" class="text" maxlength="6" value="" name="auth_code" size="10" id="phonecode" autocomplete="off">
			          <label for="email" generated="true" class="error"></label>
			        </dd>
		      </dl>
		      <dl>
		        	<dt><i class="required">*</i>图形验证码：</dt>
		        <dd>
		          <input type="text" name="captcha" class="text" id="imgcode" maxlength="4" size="10" autocomplete="off">
		          <a href="#" onclick="changeImg()">
		         <img src="/img/getcode" class="vm" id="imgObj" alt="点击更换验证码" >
		         </a>
		          <label for="captcha" generated="true" class="error"></label>
		        </dd>
		      </dl>
		      <span id="msg"></span>
		      <dl class="bottom">
		        <dt>&nbsp;</dt>
		        <dd>
		          <label class="submit-border">
		            <input type="button" class="submit" value="确认，进入下一步" id="submit">
		          </label>
		        </dd>
		      </dl>
			</div>

		</div>
		<script type="text/javascript" th:inline="javascript">
		var user =[[${session.user}]];
		function changeImg() {        
	        var imgSrc = $("#imgObj");    
	        imgSrc.attr("src", chgUrl());
		}
		// 时间戳
		// 为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳
		function chgUrl() {
		    var timestamp = (new Date()).valueOf();
		    var url='/img/getcode'+"?timestamp=" + timestamp;
		    return url;
		}
		function getphonecode(){
			console.log(user.user_name);
			
			$.post('/sms/getCheckcode',{phone:user.user_name},function(data){
				console.log(data!=null);
				console.log(data.code);
				console.log(data);
				if(data!=null&&data.code=='Ok'){
					//短信发送成功
					
					console.log(1111111111);
					$("#send_success_tips").attr('style',"");
				}else{
					//短信发送失败
					console.log(222222222);
				}
			});
			
		}
		$("#submit").click(function(){
			$.post("/user/checkCode",
					{imgcode:$("#imgcode").val(),
					phonecode:$("#phonecode").val()
					
					},
					function(data){
				if(data!=null&&data.res=="1"){
					//成功
					window.location.href="/user/modify_pwd"
				}else{
					//失败
					$("#msg").text(data.msg);
				}
			})
		})
		</script>
	</div>
	<div class="my_right_box" th:fragment="modify_pwd">
		<div class="my_right_tit">
			密码修改
		</div>
		<div class="my_rt_b">
			<form action="/user/modify">
			<div class="ncm-default-form">
				<dl>
			        <dt><i class="required">*</i>设置新密码：</dt>
			        <dd>
			          <input type="password" maxlength="40" class="text" name="password" id="password">
			          <label for="password" generated="true" class="error"></label>
			          <p class="hint">6-20位字符，可由英文、数字及标点符号组成。</p>
			         </dd>
		      </dl>
		      <dl>
		        <dt><i class="required">*</i>确认新密码：</dt>
		        <dd>
		          <input type="password" maxlength="40" class="text"  id="confirm_password">
		          <label for="confirm_password" generated="true" class="error"></label>
		        </dd>
		      </dl>
		      <dl class="bottom">
		        <dt>&nbsp;</dt>
		        <dd><label class="submit-border">
		          <input type="submit" class="submit" value="确认提交" id="submit"></label>
		        </dd>
		      </dl>
			</div>
			</form>
		</div>
		<script type="text/javascript">
		//密码一致性校验
		
		
		</script>
	</div>
	<!-- 密码修改end -->
	<!-- 收货地址 -->
	<div th:fragment="address">
	<div class="my_right_box">
		<div class="my_right_tit">
			收货地址
		</div>
		<div class="my_rt_b bg_w posi_re">
			<div class="btn_add_address">新增地址</div>
			<div class="alert alert-success">
			    <h4>操作提示：</h4>
			    <ul>
			      <li>最多可保存20个有效地址</li>
			    </ul>
			</div>
		  <table class="ncm-default-table">
		    <thead>
		      <tr>
		        <th class="w80">收货人</th>
		        <th class="w150">所在地区</th>
		        <th class="tl">街道地址</th>
		        <th class="w120">电话/手机</th>
		        <th class="w150"></th>
		        <th class="w110">操作</th>
		      </tr>
		    </thead>
		    	<script type="text/javascript" th:inline="javascript">
		    	console.log([[${address}]]);
		    	</script>
		        <tbody id="tbody_add">
		        	 <tr th:each="a,iterStat:${address}">
				        <td th:text="${a.name}" th:id="'name'+${iterStat.index}">爱迪生</td>
				        <td th:text="${a.province}+'  '+${a.city}+'  '+${a.area}" th:id="'address'+${iterStat.index}">天津	天津市	和平区</td>
				        <td class="tl" th:text="${a.street}" th:id="'street'+${iterStat.index}"><em class="delivery" ></em>天津朋友家</td>
				        <td><p><i class="icon-phone" th:text="${a.phone}" th:id="'phone'+${iterStat.index}"></i></p>
				        <td></td>
				        <td class="ncm-table-handle"><span>
		                    <a  class="btn-blue" th:href="@{'javascript:editAddress(this,'+${a.id}+','+${iterStat.index}+');'}"><i class="icon-pencil2" ></i>
				          <p>编辑</p>
				          </a>
		                    </span> <span><a  class="btn-red" th:href="@{'javascript:deleteAddress(this,'+${a.id}+');'}"><i class="icon-trash" ></i>
				          <p>删除</p>
				          </a></span></td>
				      </tr>
				      
				</tbody>
		  </table>
		</div>

		<!-- 弹出框 -->
		<div class="modal_far_box"></div>
		<div class="add_modal_box">
			<h3 class="dialog_head">
				<span class="dialog_title">
					<span class="dialog_title_icon" id="title-add">新增地址</span></span>
				<span class="dialog_close_button">X</span>
			</h3>
			<div class="eject_con">
				<input style="display:none" id="id" value="">
				<dl>
					<dt><i class="required">*</i>收货人：</dt>
					<dd><input type="text" class="text w100" name="true_name" value="" id="true_name">
			          <p class="hint" >请填写您的真实姓名</p>
			        </dd>
				</dl>
				<dl>
					<dt><i class="required">*</i>收货地址：</dt>
					<dd>
						<select name="province" id="address_province" class="w100"></select>
						<select name="city" id="address_city" class="w100">
						</select><select name="area" id="address_area" class="w100"></select>
			          <p class="hint">请选择收货地址</p>
			        </dd>
				</dl>
				<dl>
			        <dt><i class="required">*</i>街道地址：</dt>
			        <dd>
			          <input class="text w300" type="text" name="street" value="" id="street">
			          <p class="hint">不必重复填写地区</p>
			        </dd>
			    </dl>
			    <dl>
			        <dt><i class="required">*</i>手机号码：</dt>
			        <dd>
			          <input type="text" class="text w200" name="tel_phone" value="" id="tel_phone">
			        </dd>
			    </dl>
			    <dl>
			        <dt><em class="pngFix"></em>设为默认地址：</dt>
			        <dd>
			          <input type="checkbox" name="thedefault" id="thedefault" value="Y" >
			          <label for="is_default">设置为默认收货地址</label>
			        </dd>
			    </dl>
			    <div class="bottom">
			        <label class="submit-border">
			          <input type="button" class="submit" value="新增地址" id="button-add" onclick="javascript:addUserAddress();">
			        </label>
			        <a class="ncm-btn ml5" href="javascript:DialogManager.close('my_address_edit');">取消</a>
			    </div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/mall/js/PCASClass.js"></script>
	<script  type="text/javascript" th:inline="javascript">
		$(function(){
			//初始化地址下拉框
			new PCAS("province","city","area");
			$(".modal_far_box,.dialog_close_button").click(function(){
				$(".modal_far_box,.add_modal_box").hide();
			})
			$(".btn_add_address").click(function(){
				$(".modal_far_box,.add_modal_box").show();
			})
		})
		var address=[[${address}]];
		var i=0;
		
		function editAddress(obj,id,index){
			
			var ad=address[index];
			i=index;
			$("#id").val(ad.id);
			$("#true_name").val(ad.name);
			$("#street").val(ad.street);
			$("#tel_phone").val(ad.phone);
			if(ad.thedefault=="Y"){
				$("#thedefault").attr("checked", true);
			}
			new PCAS("province","city","area",ad.province,ad.city,ad.area);
			$("#button-add").val("修改地址")
			$("#title-add").val("修改地址")
			$(".modal_far_box,.add_modal_box").show();
			
			
		}
		function deleteAddress(obj,id){
			$.post('/mall/order/address/delete',{id:id},function(data){
	    		console.log(data);
	    		if(data!=null&&data.res=='1'){
	    			
	    			//删除成功
	    			$(obj).parent().parent().remove();
	    		}
	    	})
			
		}
		$("#button-add").click(function(){
			
		})
		function addUserAddress(){
    	//验证表单数据
    	//保存数据
    	$.post("/mall/order/address/add",
    			{
    			id:$("#id").val(),
    			name:$("#true_name").val(),
    			phone:$("#tel_phone").val(),
    			province:$("#address_province").val(),
    			city:$("#address_city").val(),
    			area:$("#address_area").val(),
    			street:$("#street").val(),
    			thedefault:$('input:checkbox[name="thedefault"]:checked').val()==""?'N':$("#thedefault").val()
    			
		    	},
		    	function(data){
		    		if(data!=null&&data.res=='1'){
		    			console.log(data);
		    			if($("#id").val()==""){
		    				//添加成功
			    			address.push(data.obj);
			    			items='<tr >'+
						       ' <td  id="name+'+address.length+'">'+data.obj.name+'</td>'+
						        '<td id="address+'+address.length+'">'+data.obj.province+"&nbsp&nbsp"+data.obj.city+"&nbsp&nbsp"+data.obj.area+'</td>'+
						        '<td class="tl" id="street+'+address.length+'">'+data.obj.street+'</td>'+
						        '<td><p><i class="icon-phone" id="phone+'+address.length+'">'+data.obj.phone+'</i></p>'+
						        '<td></td>'+
						        '<td class="ncm-table-handle"><span>'+
				                 '   <a  class="btn-blue" href="javascript:editAddress(this,'+data.obj.id+','+address.length+');"><i class="icon-pencil2" ></i>'+
						          '<p>编辑</p>'+
						          '</a>'+
				                  '  </span> <span><a  class="btn-red" href="javascript:deleteAddress(this,'+data.obj.id+');"><i class="icon-trash" ></i>'+
						          '<p>删除</p>'+
						          '</a></span></td>'+
						      '</tr>'
			    			$("#tbody_add").append(items);
		    			}else{
		    				//修改成功
		    				address[i]=data.obj;
		    				$("#name"+i).text(data.obj.name);
		    				$("#address"+i).text(data.obj.province+'&nbsp&nbsp'+data.obj.city+'&nbsp&nbsp'+data.obj.area);
		    				$("#street"+i).text(data.obj.street);
		    				$("#phone"+i).text(data.obj.phone);
		    				
		    				
		    			}
		    			$(".modal_far_box,.add_modal_box").hide();
		    			}
		    		$("#button-add").val("新增地址")
					$("#title-add").val("新增地址")
    		
    	});
    	
    }
	</script>
	</div>
	<!-- 收货地址 end -->
	<!-- 我的订单 -->
	<div>
	<div class="my_right_box" th:fragment="order">
	<script src="/mall/js/flatpickr.js"></script>
		<div class="my_right_tit">
			我的订单
		</div>
		<div class="my_rt_b bg_w">
			<div class="my_header_bar">
				<div class="ground_bar">
					<label for="">订单状态</label>
					<select name="" id="">
						<option value="">所有订单</option>
				        <option value="">待付款</option>
				        <option value="">待发货</option>
				        <option value="">待收货</option>
				        <option value="">已完成</option>
				        <option value="">待评价</option>
				        <option value="">已取消</option>
					</select>
				</div>
				<div class="ground_time">
					<label for="">订单时间</label>
					<input type="text" id="star_time">~
					<input type="text" id="end_time">
				</div>
				<div class="ground_searche">
					<label for="">订单号</label>
					<input type="text">
					<button class="butn">搜索</button>
				</div>

			</div>
			<!-- 表格 -->
			<table class="order_table">
				<thead class="thead">
					<tr>
						<th>商品</th>
						<th>单价(元)</th>
						<th>数量</th>
						<th>订单金额</th>
						<th>交易状态</th>
						<th>交易操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="tb_tit">
						<td colspan="6" >
							订单号：<span class="order_num">1000000033710601</span>
							下单时间：<span>2018-06-06 19:26:39</span>
						</td>
					</tr>
					<tr class="t_p"><td colspan="6"></td></tr>
					<tr>
						<td width="300px">
							<div class="shop_img">
								<div class="img_link">
									<a href="">
									<img src="images/u137.png" alt="">	
									</a>
								</div>
								<div class="shop_tit">
									<a href="">职业画家 李忠明《水仙》</a>
								</div>
							</div>
						</td>
						<td>120</td>
						<td>1</td>
						<td class="order_price">
							<p class="price">140.00</p>
							<p>(含运费20.00)</p>
							<p>在线付款</p>
						</td>
						<td class="order_state">
							<p>待付款</p>
							<p class="a_link"><a href="">查看详情</a></p>
						</td>
						<td>
							<div class="order_btn">
								<div class="btn order_pay">
									订单支付
								</div>
								<div class="btn order_cancel">
									取消支付
								</div>
							</div>
						</td>
					</tr>
				</tbody>
				<tbody>
					<tr class="tb_tit">
						<td colspan="6" >
							订单号：<span class="order_num">1000000033710601</span>
							下单时间：<span>2018-06-06 19:26:39</span>
						</td>
					</tr>
					<tr class="t_p"><td colspan="6"></td></tr>
					<tr>
						<td width="300px">
							<div class="shop_img">
								<div class="img_link">
									<a href="">
									<img src="images/u137.png" alt="">	
									</a>
								</div>
								<div class="shop_tit">
									<a href="">职业画家 李忠明《水仙》</a>
								</div>
							</div>
						</td>
						<td>120</td>
						<td>1</td>
						<td class="order_price">
							<p class="price">140.00</p>
							<p>(含运费20.00)</p>
							<p>在线付款</p>
						</td>
						<td class="order_state">
							<p>待付款</p>
							<p class="a_link"><a href="">查看详情</a></p>
						</td>
						<td>
							<div class="order_btn">
								<div class="btn order_pay">
									订单支付
								</div>
								<div class="btn order_cancel">
									取消支付
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="pagination_Box">
				<ul>
					<li><a href="" class="demo">首页</a></li>
					<li><a href=""  class="demo">上一页</a></li>
					<li class="active">
						<a  href="">1</a>
					</li>
					<li>
						<a  href="">2</a>
					</li>
					<li>
						<a  href="">3</a>
					</li>
					<li>
						<a  href="">4</a>
					</li>
					<li>
						<a href="">下一页</a>
					</li>
					<li>
						<a  href="">末页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script>
		$(function(){
			$("#star_time").flatpickr();
			$("#end_time").flatpickr();
		})
	</script>
	
	</div>
	<!-- 我的订单 end -->
	
</body>
</html>