<!DOCTYPE html>
<html lang="en" >
<head>
<head>
<meta charset="UTF-8">
</head>
<body >
	<!-- 用户信息 -->
	
	<div class="my_right_box" th:fragment="info">
		<div class="my_right_tit">
			个人信息
		</div>
		<span id="msg"></span>
		<div class="my_rt_b">
			<div class="my_form_box">
				<div class="form_ground">
					<label for="">登录帐号</label>
					<div class="input_box">
						<input type="text" th:value="${session.user.user_name}" >
					</div>
				</div>
				<div class="form_ground f_r">
					<label for="">真实姓名</label>
					<div class="input_box">
						<input type="text" value="阿杰" th:value="${session.user.userInfo.name}" id="name">
					</div>
				</div>
				<div class="form_ground">
					<label for="">性别</label>
					<div class="input_box">
						<select name="sex" id="sex" >
							<option value="1" th:selected="${session.user.userInfo.sex=='1'}">男</option>
							<option value="0" th:selected="${session.user.userInfo.sex=='0'}">女</option>
						</select>
					</div>
				</div>
				<div class="form_ground f_r">
					<label for="">邮箱</label>
					<div class="input_box">
						<input type="text" value="770637705@qq.com" th:value="${session.user.userInfo.email}" id="email">
					</div>
				</div>
				<div class="form_ground">
					<label for="">电话</label>
					<div class="input_box">
						<input type="text" value="13823595211" th:value="${session.user.userInfo.phone}" id="phone">
					</div>
				</div>
				<div class="form_ground  f_r">
					<label for="">QQ</label>
					<div class="input_box">
						<input type="text" value="770637705" th:value="${session.user.userInfo.qq}" id="qq">
					</div>
				</div>
				<div class="form_ground">
					<label for="">所在地</label>
					<div>
					<select name="province" id="address_province" class="w110"></select>
					<select name="city" id="address_city" class="w110">
					</select><select name="area" id="address_area" class="w110"></select>
					</div>
				</div>
				<div class="form_ground_t">
					<label for="">地址</label>
					<div class="input_box">
						<textarea name="" id="address_street" cols="30" rows="10" th:text="${session.user.userInfo.address_street}"></textarea>
						<span id="headimgurl"></span>
					</div>
				</div>
				<div class="save_btn">
					<input type="submit" value="保存" id="submit" />
				</div>
				
			</div>
			<div class="my_img">
				<div class="my_header_img">
					<img th:attr="src=${session.user!=null&&session.user.filePath!=null}?'':'/mall/images/u106.png'" alt="">
				</div>
				<div class="filed_btn">上传头像</div>
			</div>
			<!-- 上传头像 -->
			<div class="header-img-box">
				<div class="info-box">
					<span class="close">X</span>
					<div class="form-top">
						<div class="img_show">
							<label for="show_img">
								<img src="/mall/images/u106.png" alt="">
							</label>
						</div>
						<div class="img_show_rt">	
							<p>注：（请上传不超过2M 正方形的图片）</p>
							<input type="file" name="show_img" id="show_img"><br>
							<button class="btn_sub">上传</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<script type="text/javascript" src="/mall/js/PCASClass.js"></script>
		 <script src="/admin/assets/global/plugins/ajaxfileupload.js" type="text/javascript"></script>
		<script type="text/javascript" th:inline="javascript">
		  $(function(){
			  
			  	var userinfo =[[${session.user.userInfo}]];
				new PCAS("province","city","area",userinfo.address_province,userinfo.address_city,userinfo.address_area);
			  	$("#submit").click(function(){
			  		console.log($("#address_street").val());
				  		$.post('/mall/user/chengeuserinfo',
					  			{
					  			 name:$("#name").val(),
					  			 sex:$("#sex").val(),
					  			 phone:$("#phone").val(),
					  			email:$("#email").val(),
					  			qq:$("#qq").val(),
					  			address_province:$("#address_province").val(),
					  			address_city:$("#address_city").val(),
					  			address_area:$("#address_area").val(),
					  			address_street:$("#address_street").val(),
					  			headimgurl:$("#headimgurl").text()
					  			 },
					  			function(data){
					  				if(data!=null&&data.res=="1"){
					  					//修改成功
					  					$("#msg").text(data.msg);
					  					setTimeout('location.reload()',1000);
					  				}else{
					  					//失败
					  					$("#msg").text(data.msg);
					  				}
					  		
					  	})
			  	});
			  	
			  	 //上传头像
			  	 $(".filed_btn").click(function(){
			  		 $(".header-img-box").show();
			  	 })
			  	 $(".close").click(function(){
			  		$(".header-img-box").hide();	  
			  	 })
			  	 
			  	 $(".btn_sub").click(function(){
			  		 var file=$("#show_img")[0].files[0];
			  		 $.ajaxFileUpload({
	                     url:"/ueditor/uploade",
	                     fileElementId: "show_img", //文件上传域的ID，这里是input的ID，而不是img的
	                     type:"POST",
	     	             dataType:"json",
	                     async : true,   //是否是异步
	                     success: function (data) {
	                         console.log(data)
	                   
	                         
	                     }            

	                 });
			  		 
			  	 })

			  	
		  })
			
			
			</script>
	</div>
	
	<!-- 用户信息end -->
	<!-- 密码修改 -->
	<div class="my_right_box" th:fragment="modify_pwd_verify">
		<div class="my_right_tit">
			密码修改
		</div>
		<div class="my_rt_b">
			<div class="alert-success">
				<h4>操作提示：</h4>
				<ul>
					<li>1. 请正确输入下方图形验证码，如看不清可点击图片进行更换，输入完成后进行下一步操作。</li>
					<li>2.收到安全验证码后，请在30分钟内完成验证。</li>
				</ul>
			</div>
			<div class="ncm-default-form">
				<dl>
					<dt><i class="required">*</i>选择身份认证方式：</dt>
					<dd>
						<p><select name="auth_type" id="auth_type" class="valid">
								<option value="mobile" th:text="'手机 ['+${#strings.substring(session.user.user_name,0,3)}+'****'+${#strings.substring(session.user.user_name,7,11)}+']'">手机 [138****5211]</option>
                         </select><a href="javascript:getphonecode();" id="send_auth_code" class="ncm-btn"><span id="sending" style="display:none">正在</span><span class="send_success_tips" style="display: none;"><strong id="show_times" class="red mr5"></strong>秒后再次</span>获取安全验证码</a></p>
                         <p id="send_success_tips" class="send_success_tips" style="display: none;">“安全验证码”已发出，请注意查收，请在<strong>“30分种”</strong>内完成验证。</p>
					</dd>
				</dl>
				<dl>
		        	<dt><i class="required">*</i>请输入安全验证码：</dt>
			        <dd>
			          <input type="text" class="text" maxlength="6" value="" name="auth_code" size="10" id="phonecode" autocomplete="off">
			          <label for="email" generated="true" class="error"></label>
			        </dd>
		      </dl>
		      <dl>
		        	<dt><i class="required">*</i>图形验证码：</dt>
		        <dd>
		          <input type="text" name="captcha" class="text" id="imgcode" maxlength="4" size="10" autocomplete="off">
		          <a href="#" onclick="changeImg()">
		         <img src="/img/getcode" class="vm" id="imgObj" alt="点击更换验证码" >
		         </a>
		          <label for="captcha" generated="true" class="error"></label>
		        </dd>
		      </dl>
		      <span id="msg"></span>
		      <dl class="bottom">
		        <dt>&nbsp;</dt>
		        <dd>
		          <label class="submit-border">
		            <input type="button" class="submit" value="确认，进入下一步" id="submit">
		          </label>
		        </dd>
		      </dl>
			</div>

		</div>
		<script type="text/javascript" th:inline="javascript">
		var user =[[${session.user}]];
		function changeImg() {        
	        var imgSrc = $("#imgObj");    
	        imgSrc.attr("src", chgUrl());
		}
		// 时间戳
		// 为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳
		function chgUrl() {
		    var timestamp = (new Date()).valueOf();
		    var url='/img/getcode'+"?timestamp=" + timestamp;
		    return url;
		}
		function getphonecode(){
			console.log(user.user_name);
			
			$.post('/sms/getCheckcode',{phone:user.user_name},function(data){
				console.log(data!=null);
				console.log(data.code);
				console.log(data);
				if(data!=null&&data.code=='Ok'){
					//短信发送成功
					
					console.log(1111111111);
					$("#send_success_tips").attr('style',"");
				}else{
					//短信发送失败
					console.log(222222222);
				}
			});
			
		}
		$("#submit").click(function(){
			$.post("/mall/user/checkCode",
					{imgcode:$("#imgcode").val(),
					phonecode:$("#phonecode").val()
					
					},
					function(data){
				if(data!=null&&data.res=="1"){
					//成功
					window.location.href="/mall/user/modify_pwd"
				}else{
					//失败
					$("#msg").text(data.msg);
				}
			})
		})
		</script>
	</div>
	<div class="my_right_box" th:fragment="modify_pwd">
		<div class="my_right_tit">
			密码修改
		</div>
		<div class="my_rt_b">
			<form action="/mall/user/modify" method="post" id="chengePassword">
			<div class="ncm-default-form">
				<dl>
			        <dt><i class="required">*</i>设置新密码：</dt>
			        <dd>
			          <input type="password" maxlength="40" class="text" name="password" id="password">
			          <label for="password" generated="true" class="error"></label>
			          <p class="hint">8-16位字符，可由英文、数字及标点符号组成。</p>
			         </dd>
		      </dl>
		      <dl>
		        <dt><i class="required">*</i>确认新密码：</dt>
		        <dd>
		          <input type="password" maxlength="40" class="text"  id="confirm_password">
		          <label for="confirm_password" generated="true" class="error"></label>
		        </dd>
		      </dl>
		      <dl class="bottom">
		        <dt>&nbsp;</dt>
		        <dd><label class="submit-border">
		          <input type="submit" class="submit" value="确认提交" id="submit" style="pointer-events:none;"></label>
		        </dd>
		      </dl>
			</div>
			</form>
		</div>
		<script type="text/javascript">
		//密码一致性校验
		$("#chengePassword").validate({
				rules:{
					password:{
						required:true,
						rangelength:[8,16] 
					},
					Inputagain:{
						required:true,
						equalTo:"#password" 
					}
					
					
				},
				messages:{
					password:{
						required:"密码不得为空！",
						rangelength:"密码长度为8~16个字符！"
					},
					Inputagain:{
						required:"请再次输入密码！",
						equalTo:"两次密码输入不一致！" 
					}
					
					
				}
				
				
			});
		function chickForm(){
			
			
			var cb = $("#chengePassword").validate().form();
			return cb;
		}
		$("input").blur(function(){
				if(chickForm()){
					$("input").css("pointer-events","auto");
				}
			  
		});
		
		
		
		</script>
	</div>
	<!-- 密码修改end -->
	<!-- 收货地址 -->
	<div th:fragment="address">
	<div class="my_right_box">
		<div class="my_right_tit">
			收货地址
		</div>
		<div class="my_rt_b bg_w posi_re">
			<div class="btn_add_address">新增地址</div>
			<div class="alert alert-success">
			    <h4>操作提示：</h4>
			    <ul>
			      <li>最多可保存20个有效地址</li>
			    </ul>
			</div>
		  <table class="ncm-default-table">
		    <thead>
		      <tr>
		        <th class="w80">收货人</th>
		        <th class="w150">所在地区</th>
		        <th class="tl">街道地址</th>
		        <th class="w120">电话/手机</th>
		        <th class="w150"></th>
		        <th class="w110">操作</th>
		      </tr>
		    </thead>
		    	<script type="text/javascript" th:inline="javascript">
		    	console.log([[${address}]]);
		    	</script>
		        <tbody id="tbody_add">
		        	 <tr th:each="a,iterStat:${address}">
				        <td th:text="${a.name}" th:id="'name'+${iterStat.index}">爱迪生</td>
				        <td th:text="${a.province}+'  '+${a.city}+'  '+${a.area}" th:id="'address'+${iterStat.index}">天津	天津市	和平区</td>
				        <td class="tl" th:text="${a.street}" th:id="'street'+${iterStat.index}"><em class="delivery" ></em>天津朋友家</td>
				        <td><p><i class="icon-phone" th:text="${a.phone}" th:id="'phone'+${iterStat.index}"></i></p>
				        <td></td>
				        <td class="ncm-table-handle"><span>
		                    <a  class="btn-blue" th:href="@{'javascript:editAddress(this,'+${a.id}+','+${iterStat.index}+');'}"><i class="icon-pencil2" ></i>
				          <p>编辑</p>
				          </a>
		                    </span> <span><a  class="btn-red" th:href="@{'javascript:deleteAddress(this,'+${a.id}+');'}"><i class="icon-trash" ></i>
				          <p>删除</p>
				          </a></span></td>
				      </tr>
				      
				</tbody>
		  </table>
		</div>

		<!-- 弹出框 -->
		<div class="modal_far_box"></div>
		<div class="add_modal_box">
			<h3 class="dialog_head">
				<span class="dialog_title">
					<span class="dialog_title_icon" id="title-add">新增地址</span></span>
				<span class="dialog_close_button">X</span>
			</h3>
			<div class="eject_con">
				<form id="address_form">
				<input style="display:none" id="id" value="">
				<dl>
					<dt><i class="required">*</i>收货人：</dt>
					<dd><input type="text" class="text w100" name="true_name" value="" id="true_name">
			          <p class="hint" >请填写您的真实姓名</p>
			        </dd>
				</dl>
				<dl>
					<dt><i class="required">*</i>收货地址：</dt>
					<dd>
						<select name="province" id="address_province" class="w100"></select>
						<select name="city" id="address_city" class="w100">
						</select><select name="area" id="address_area" class="w100"></select>
			          <p class="hint">请选择收货地址</p>
			        </dd>
				</dl>
				<dl>
			        <dt><i class="required">*</i>街道地址：</dt>
			        <dd>
			          <input class="text w300" type="text" name="street" value="" id="street">
			          <p class="hint">不必重复填写地区</p>
			        </dd>
			    </dl>
			    <dl>
			        <dt><i class="required">*</i>手机号码：</dt>
			        <dd>
			          <input type="text" class="text w200" name="tel_phone" value="" id="tel_phone">
			        </dd>
			    </dl>
			    <dl>
			        <dt><em class="pngFix"></em>设为默认地址：</dt>
			        <dd>
			          <input type="checkbox" name="thedefault" id="thedefault" value="Y" >
			          <label for="is_default">设置为默认收货地址</label>
			        </dd>
			    </dl>
			    <div class="bottom">
			        <label class="submit-border">
			          <input type="button" class="submit" value="新增地址" id="button-add" onclick="javascript:addUserAddress();">
			        </label>
			        <a class="ncm-btn ml5" href="javascript:$('.modal_far_box,.add_modal_box').hide();">取消</a>
			    </div>
			    </form>
			</div>
		</div>
	</div>
	<script src="/admin/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/mall/js/PCASClass.js"></script>
	<script  type="text/javascript" th:inline="javascript">
	//设置AJAX同步
	    $.ajaxSetup({
	    	  async: false
	    	  });
		$(function(){
			//初始化地址下拉框
			new PCAS("province","city","area");
			$(".modal_far_box,.dialog_close_button").click(function(){
				$(".modal_far_box,.add_modal_box").hide();
			})
			$(".btn_add_address").click(function(){
				$(".modal_far_box,.add_modal_box").show();
			})
		})
		var address=[[${address}]];
		var i=0;
		
		function editAddress(obj,id,index){
			
			var ad=address[index];
			i=index;
			$("#id").val(ad.id);
			$("#true_name").val(ad.name);
			$("#street").val(ad.street);
			$("#tel_phone").val(ad.phone);
			if(ad.thedefault=="Y"){
				$("#thedefault").attr("checked", true);
			}
			new PCAS("province","city","area",ad.province,ad.city,ad.area);
			$("#button-add").val("修改地址")
			$("#title-add").val("修改地址")
			$(".modal_far_box,.add_modal_box").show();
			
			
		}
		 function chickAddAddressFrom(){
		    	//验证
				$("#address_form").validate({
					rules:{
						true_name:{
							required:true
						},
						street:{
							required:true
						},
						tel_phone:{
							required:true,
							userTel:true
						}
						
						
					},
					messages:{
						true_name:{
							required:"收货人姓名不能为空！"
						},
						street:{
							required:"收货人地址不能为空！"
						},
						tel_phone:{
							required:"收货人联系方式不能为空！"
							
						}
						
						
					}
					
					
				});
				$.validator.addMethod("userTel",function(value,element,params){
					 var pattern = /^1[34578]\d{9}$/;
		           return this.optional(element)||pattern.test(value)
		       },"请输入正确的手机号！");
				var cb = $("#address_form").validate().form();
				return cb;
		    }
		function deleteAddress(obj,id){
			$.post('/mall/order/address/delete',{id:id},function(data){
	    		console.log(data);
	    		if(data!=null&&data.res=='1'){
	    			//删除成功
	    			location.reload();
	    		}
	    	})
			
		}
		$("#button-add").click(function(){
			
		})
		function addUserAddress(){
    	//验证表单数据
			if(!chickAddAddressFrom()){
	    		return;
	    	}
	    	//保存数据
	    	$.post("/mall/order/address/add",
    			{
    			id:$("#id").val(),
    			name:$("#true_name").val(),
    			phone:$("#tel_phone").val(),
    			province:$("#address_province").val(),
    			city:$("#address_city").val(),
    			area:$("#address_area").val(),
    			street:$("#street").val(),
    			thedefault:$('input:checkbox[name="thedefault"]:checked').val()==""?'N':$("#thedefault").val()
    			
		    	},
		    	function(data){
		    		if(data!=null&&data.res=='1'){
		    			console.log(data);
		    			if($("#id").val()==""){
		    				console.log(data.obj);
		    				//添加成功
			    			address.push(data.obj);
			    			items='<tr >'+
						       ' <td  id="name'+address.length+'">'+data.obj.name+'</td>'+
						        '<td id="address'+address.length+'">'+data.obj.province+"&nbsp&nbsp"+data.obj.city+"&nbsp&nbsp"+data.obj.area+'</td>'+
						        '<td class="tl" id="street'+address.length+'">'+data.obj.street+'</td>'+
						        '<td><p><i class="icon-phone" id="phone'+address.length+'">'+data.obj.phone+'</i></p>'+
						        '<td></td>'+
						        '<td class="ncm-table-handle"><span>'+
				                 '   <a  class="btn-blue" href="javascript:editAddress(this,'+data.obj.id+','+address.length+');"><i class="icon-pencil2" ></i>'+
						          '<p>编辑</p>'+
						          '</a>'+
				                  '  </span> <span><a  class="btn-red" href="javascript:deleteAddress(this,'+data.obj.id+');"><i class="icon-trash" ></i>'+
						          '<p>删除</p>'+
						          '</a></span></td>'+
						      '</tr>'
			    			$("#tbody_add").append(items);
		    			}else{
		    				console.log(i);
		    				//修改成功
		    				address[i]=data.obj;
		    				$("#name"+i).text(data.obj.name);
		    				$("#address"+i).text(data.obj.province+'&nbsp&nbsp'+data.obj.city+'&nbsp&nbsp'+data.obj.area);
		    				$("#street"+i).text(data.obj.street);
		    				$("#phone"+i).text(data.obj.phone);
		    				
		    				
		    			}
		    			$(".modal_far_box,.add_modal_box").hide();
		    			}
		    		$("#button-add").val("新增地址")
					$("#title-add").val("新增地址")
    		
    	});
    	
    }
	</script>
	</div>
	<!-- 收货地址 end -->
	<!-- 我的订单 -->
	<div>
	<div class="my_right_box" th:fragment="order">
	<script src="/mall/js/flatpickr.js"></script>
		<div class="my_right_tit">
			我的订单
		</div>
		<div class="my_rt_b bg_w">
		<form class="form-inline" action="/mall/user/order" id="selectform" style="display:block">
			<div class="my_header_bar">
						
                        <div class="ground_bar">
                            <label for="">付款状态 </label>
                            <select class="form-control" name="pay_state" >
                                <option value="-1">请选择...</option>
                                <option value="1" th:selected="${orderentity!=null and orderentity.pay_state=='1'}">待付款</option>
                                <option value="2" th:selected="${orderentity!=null and orderentity.pay_state=='2'}">已付款</option>
                            </select>
                        </div>
                        <div class="ground_bar">
                        	<label for="">发货状态 </label>
                            <select class="form-control" name="logistics_state" >
                                <option value="-1">请选择...</option>
                                <option value="1" th:selected="${orderentity!=null and orderentity.logistics_state=='1'}">待发货</option>
                                <option value="4" th:selected="${orderentity!=null and orderentity.logistics_state=='4'}">部分发货</option>
                                <option value="2" th:selected="${orderentity!=null and orderentity.logistics_state=='2'}">已发货</option>
                                <option value="3" th:selected="${orderentity!=null and orderentity.logistics_state=='3'}">已确认收货</option>
                                <option value="5" th:selected="${orderentity!=null and orderentity.logistics_state=='5'}">退货</option>
                            </select>
                            
                        </div>
                        <div class="ground_bar">
                        	<label for="">订单状态 </label>
                            <select class="form-control" name="del_state" >
                                <option value="-1">请选择...</option>
                                <option value="1" th:selected="${orderentity!=null and orderentity.del_state=='1'}">待确认</option>
                                <option value="2" th:selected="${orderentity!=null and orderentity.del_state=='2'}">取消</option>
                                <option value="3" th:selected="${orderentity!=null and orderentity.del_state=='3'}">无效</option>
                                <option value="4" th:selected="${orderentity!=null and orderentity.del_state=='4'}">已完成</option>
                            </select>
                            
                        </div>
                        <div class="ground_searche">
                            <label for="">订单号</label>
                            <input type="text" class="form-control" placeholder="订单号" name="order_number" th:value="${orderentity!=null }?${orderentity.order_number}:''">
                            <button class="butn" type="submit">搜索</button>
                        </div>      
					
			</div>
			</form>
			<!-- 表格 -->
			<table class="order_table">
				<thead class="thead">
					<tr>
						<th>商品</th>
						<th>单价(元)</th>
						<th>数量</th>
						<th>订单金额</th>
						<th>交易状态</th>
						<th>交易操作</th>
					</tr>
				</thead>
				<tbody th:each="a:${list.dataList}">
					<tr class="tb_tit">
						<td colspan="6" >
							订单号：<span class="order_num" th:text="${a.order_number}">1000000033710601</span>
							下单时间：<span  th:text="${#dates.format(a.create_time,'yyyy-MM-dd HH:mm:ss')}">2018-06-06 19:26:39</span>
						</td>
					</tr>
					<tr class="t_p"><td colspan="6" ></td></tr>
					<tr th:each="d:${a.orderDetailsList}">
						<td width="300px">
							<div class="shop_img">
								<div class="img_link">
									<a href="">
									<img  alt="" height="120"  th:src="@{${fileServicePath}+'/'+${d.filePath.path}+'/'+${d.filePath.fileidname}+'.'+${d.filePath.filetype}}" >	
									</a>
								</div>
								<div class="shop_tit">
									<a th:href="@{/mall/goods/detail(goods_id=${d.goods_id})}" th:text="${d.goods_name}">职业画家 李忠明《水仙》</a>
								</div>
							</div>
						</td>
						<td th:text="${d.details_amount}">120</td>
						<td th:text="${d.num}">1</td>
						<td class="order_price">
						   <p class="price" th:text="${a.total_amount}">140.00</p>
						   <p th:text="'含运费:'+${a.postage_amount}">(含运费20.00)</p>
							<p >在线付款</p>
						</td>
						<td class="order_state">
							<span th:text="${a.pay_state}=='2'?'已付款':(${a.pay_state}=='3'?'退款':'未付款')"></span>-
			                 <span th:text="${a.del_state}=='4'?'已完成':(${a.del_state}=='3'?'取消':(${a.del_state}=='2'?'无效':'待确认'))"></span>-
			                 <span th:text="${a.logistics_state}=='3'?'已确认收货':(${a.logistics_state}=='2'?'已发货':(${a.logistics_state}=='4'?'部分发货':(${a.logistics_state}=='5'?'退货':待发货)))"></span>
							<p class="a_link"><a href="" th:href="@{/mall/user/order/details(order_number=${a.order_number})}">查看详情</a></p>
						</td>
						<td>
							<div class="order_btn">
								<div class="btn order_pay"  th:attr="style=(${a.pay_state}=='1' and ${a.del_state}!='3')?'':'display:none'">
									<a th:href="@{/mall/order(order_number=${a.order_number})}">订单支付</a>
									
								</div>
								<div class="btn order_pay"   th:attr="style=(${a.pay_state}=='2' and ${a.logistics_state}=='2' and ${a.del_state}=='2')?'':'display:none'">
									<a  >查看物流</a>
									
								</div>
								
								<div class="btn order_pay"   th:attr="style=(${a.pay_state}=='2' and ${a.logistics_state}=='2' and ${a.del_state}=='2')?'':'display:none'">
									<a  th:href="@{'javascript:confirmTake('+${a.order_number}+')'}">确认收货</a>
									
								</div>
								<div class="btn order_pay"   th:attr="style=(${a.pay_state}=='2' and ${a.logistics_state}=='3' and ${a.del_state}=='5')?'':'display:none'">
									<a  >评价</a>
									
								</div>
								<div class="btn order_pay"   th:attr="style=(${a.pay_state}=='2' and ${a.logistics_state}=='3' and ${a.del_state}=='5')?'':'display:none'">
									<a  >退货</a>
									
								</div>
								<div class="btn order_pay"   th:attr="style=${a.pay_state}=='2'?'':'display:none'">
									<a  th:href="@{/mall/user/service/edit(order_number=${a.order_number})}">售后服务</a>
									
								</div>
								
								<div class="btn order_cancel"   th:attr="style=(${a.pay_state}=='1' and ${a.del_state}!='3')?'':'display:none'">
									<a th:href="@{'javascript:quxiao('+${a.order_number}+')'}">取消订单</a>
									
								</div>
								
							</div>
						</td>
					</tr>
					
				</tbody>
				
			</table>
			
			<div class="pagination_Box">
				<ul>
					<li><a href="" class="demo" th:href="'javascript:toPage(1)'">首页</a></li>
					<li><a href=""  class="demo" title="Prev" th:href="'javascript:toPage('+(${list.pageNo}-1>0?${list.pageNo}-1:1)+')'">上一页</a></li>
					<li class="active" id="activepage">
						<a  href="">1</a>
					</li>
					
					<li>
						<a href="" th:href="'javascript:toPage('+(${list.pageNo}==${list.pages}?${list.pages}:${list.pageNo}+1)+')'">下一页</a>
					</li>
					<li>
						<a  href="" th:href="'javascript:toPage('+${list.pages}+')'">末页</a>
					</li>
				</ul>
			</div>
		</div>
		<script th:inline="javascript">
		//设置AJAX同步
	    $.ajaxSetup({
	    	  async: false
	    	  });
		$(function(){
			$("#star_time").flatpickr();
			$("#end_time").flatpickr();
			var pageNo=[[${list.pageNo}]];
        	var pages=[[${list.pages}]];
        	var list=[[${list.dataList}]];
        	console.log(list);
        	
    		for(var i=2;i>0;i--){
    			var pag=pageNo-i;
    			if(pageNo-i>0){
    				var dome="<li><a  href='javascript:toPage("+pag+")'>"+pag+"</a></li>";
        			$("#activepage").before(dome);
    			}
    			
    		}
    		for(var i=2;i>0;i--){
    			var pag=pageNo+i;
    			if(pageNo+i<=pages){
    				var dome="<li><a   href='javascript:toPage("+pag+")'>"+pag+"</a></li>";
        			$("#activepage").after(dome);
    			}
    			
    		}
    		
		})
		function toPage(num){
        		var item="<input type='hidden' name='pageNo' value='"+num+"'>"
        		$('#selectform').append(item);
        		$('#selectform').submit();
        	}
		//取消订单
		function quxiao(num){
			var r=confirm("是否取消订单："+num+'?');
			if (r==false)
			  {
				return;
			  }
			var data={order_number:num,del_state:'3'}
			//修改订单状态
			if(chengeStatus(data)){
				//成功
				location.reload();
			}
	    	
		}
		//确认收货
		function confirmTake(num){
			var data={order_number:num,del_state:'5',logistics_state:'3'}
			if(chengeStatus(data)){
				//成功
				location.reload();
			}
		}
		
		function chengeStatus(data){
			var flg=false;
			$.post('/order/chengeStatus',data,function(data){
	    		if(data!=null&&data.res=='1'){
	    			flg=true;
	    		}
	    	})
	    	return flg;
		}
		
	</script>
	
	</div>

	
	</div>
	<!-- 我的订单 end -->
	<!-- 订单详情 -->
	<div class="my_right_box" th:fragment="orderdetails">
		<div class="my_right_tit">
			订单详情
		</div>
		<div class="my_rt_b bg_w">
			<div class="order_state_tit">
				<span>订单状态：</span>
				<span th:text="${entity.pay_state}=='2'?'已付款':'待付款'"></span>-
                 <span th:text="${entity.del_state}=='4'?'已完成':(${entity.del_state}=='3'?'取消':(${entity.del_state}=='2'?'无效':'待确认'))"></span>-
                 <span th:text="${entity.logistics_state}=='3'?'已确认收货':(${entity.logistics_state}=='2'?'已发货':(${entity.logistics_state}=='4'?'部分发货':(${entity.logistics_state}=='5'?'退货':待发货)))"></span>
			</div>
			<div class="order_detail_tit">
				订单信息
			</div>
			<div class="order_detail_box">
				<div class="order_detail_addss">
					<p>收货地址：<span th:text="${entity.orderAddress.name}"></span>
						<span th:text="${entity.orderAddress.phone}"></span>
						<span th:text="'['+${entity.orderAddress.province}+' '+${entity.orderAddress.city}+' '+${entity.orderAddress.area}+']'"></span>
						<span th:text="${entity.orderAddress.street}"></span></p>
					<p>订单编号：<span th:text="${entity.order_number}"></span></p>
					<p>支付方式：<span th:text="${entity.paymentMethod.name}"></span>-<span >微信支付</span></p>
					<p>下单时间: <span th:text="${#dates.format(entity.create_time,'yyyy-MM-dd HH:mm:ss')}"></span></p>
					<p>商      家：<span>云网文化传媒</span></p>
				</div>
			</div>
			<table class="order_detail_table">
				<thead>
					<tr>
						<th>商品名称</th>
						<th>单价（元）</th>
						<th>数量</th>
						<th>订单金额</th>
						<th>交易状态</th>
						<th>订单操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="tb_tit">
						<td colspan="6" >
							订单号：<span class="order_num" th:text="${entity.order_number}"></span>
							下单时间：<span th:text="${#dates.format(entity.create_time,'yyyy-MM-dd HH:mm:ss')}"></span>
						</td>
					</tr>
					<tr class="t_p"><td colspan="6"></td></tr>
					<tr th:each="d:${entity.orderDetailsList}">
						<td width="300px">
							<div class="shop_img">
								<div class="img_link">
									<a href="">
									<img  alt="" height="120"  th:src="@{${fileServicePath}+'/'+${d.filePath.path}+'/'+${d.filePath.fileidname}+'.'+${d.filePath.filetype}}" >	
									</a>
								</div>
								<div class="shop_tit">
									<a th:href="@{/mall/goods/detail(goods_id=${d.goods_id})}" th:text="${d.goods_name}">职业画家 李忠明《水仙》</a>
								</div>
							</div>
						</td>
						<td th:text="${d.details_amount}">120</td>
						<td th:text="${d.num}">1</td>
						<td class="order_price">
						   <p class="price" th:text="${entity.total_amount}">140.00</p>
						   <p th:text="'含运费:'+${entity.postage_amount}">(含运费20.00)</p>
							<p >在线付款</p>
						</td>
						<td class="order_state">
							<span th:text="${entity.pay_state}=='2'?'已付款':'待付款'"></span>-
                 <span th:text="${entity.del_state}=='4'?'已完成':(${entity.del_state}=='3'?'取消':(${entity.del_state}=='2'?'无效':'待确认'))"></span>-
                 <span th:text="${entity.logistics_state}=='3'?'已确认收货':(${entity.logistics_state}=='2'?'已发货':(${entity.logistics_state}=='4'?'部分发货':(${entity.logistics_state}=='5'?'退货':待发货)))"></span>
							
						</td>
						<td>
							<div class="order_btn">
								<div class="btn order_pay"  th:attr="style=(${entity.pay_state}=='1' and ${entity.del_state}!='3')?'':'display:none'">
									<a th:href="@{/mall/order(order_number=${entity.order_number})}">订单支付</a>
									
								</div>
								<div class="btn order_pay"   th:attr="style=(${entity.pay_state}=='2' and ${entity.logistics_state}=='2' and ${entity.del_state}=='2')?'':'display:none'">
									<a  >查看物流</a>
									
								</div>
								
								<div class="btn order_pay"   th:attr="style=(${entity.pay_state}=='2' and ${entity.logistics_state}=='2' and ${entity.del_state}=='2')?'':'display:none'">
									<a  th:href="@{'javascript:confirmTake('+${entity.order_number}+')'}">确认收货</a>
									
								</div>
								<div class="btn order_pay"   th:attr="style=(${entity.pay_state}=='2' and ${entity.logistics_state}=='3' and ${entity.del_state}=='5')?'':'display:none'">
									<a  >评价</a>
									
								</div>
								<div class="btn order_pay"   th:attr="style=(${entity.pay_state}=='2' and ${entity.logistics_state}=='3' and ${entity.del_state}=='5')?'':'display:none'">
									<a  >退货</a>
									
								</div>
								<div class="btn order_pay"   th:attr="style=${entity.pay_state}=='2'?'':'display:none'">
									<a  th:href="@{/mall/user/service/edit(order_number=${entity.order_number})}">售后服务</a>
									
								</div>
								<div class="btn order_cancel"   th:attr="style=(${entity.pay_state}=='1' and ${entity.del_state}!='3')?'':'display:none'">
									<a th:href="@{'javascript:quxiao('+${entity.order_number}+')'}">取消订单</a>
									
								</div>
								
							</div>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6">
							<div class="table_footer">
								<p class="gray_text">运费：<span th:text="${entity.postage_amount}"></span>元</p>
								<p class="red_big_text">订单应付金额：<span th:text="${entity.total_amount}">140.00</span>元</p>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
			<!-- 订单快递查询 -->
		<div>
			 <link rel="stylesheet" href="/mall/kdniao/KDNWidget.css" />
			 <div id="demoID"></div>
                      <script src="/mall/kdniao/KDNWidget.js"></script>
                      <script>
                          window.onload = function () {
                              KDNWidget.run({
                                  serviceType: "B",
                                  expCode:"ZTO",
                                  expNo:"219258755329",
                                  showType:"normal",
                                  container: "demoID"
                              })
                          }
                    </script>	
		</div>
		</div>
		
	</div>
	<!-- 售后编辑 -->
	<div class="my_right_box" th:fragment="serviceEdit">
        <div class="my_right_tit">
            售后申请
        </div>
        <div class="my_rt_b bg_w">
            <div class="mod-main mod-comm">
                <div class="mc">
                    <table class="tb-void mb10">
                        <thead>
                            <tr>
                                <th>商品</th>
                                <th>购买价格</th>
                                <th>购买数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="d:${entity.orderDetailsList}">
                                <td>
                                    <ul class="list-proinfo">
                                        <li class="fore1">
                                            <a  target="_blank" th:href="@{/mall/goods/detail(goods_id=${d.goods_id})}" >
                                                <img height="100" width="100" title="" th:src="@{${fileServicePath}+'/'+${d.filePath.path}+'/'+${d.filePath.fileidname}+'.'+${d.filePath.filetype}}"  alt=""> 
											<span th:text="${d.goods_name}"></span>
											</a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <p class="price" th:text="${entity.total_amount}">140.00</p>
								   <p th:text="'含运费:'+${entity.postage_amount}">(含运费20.00)</p>
									<p >在线付款</p>
                                </td>
                                <td th:text="${d.num}">1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form class="form" action="/mall/order/serve/save" method="post" id="serviceForm">
                	 <input type="hidden"  name="order_number"  hidden="" th:value="${entity.order_number}">
                    <div class="item kfarea" id="sellerPrompt">
                        <div class="ml20"> <span><em>*</em><span style="color: red; "> 温馨提示：</span></span>
                            <label><span style="color: red; ">仅退款： </span>未收到货/未签收，或与卖家协商同意前提下</label>
                            <label><span style="color: red; ">退货退款： </span>已收到货，需要退换已收到的货物</label>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <div class="repair-steps">
                        <div class="repair-step repair-step-curr pt10 mb10">
                            <div class="item"> <span class="label"> <em> * </em> 服务类型： </span>
                                <div class="clr">
                                    <ul class="list-type list-type-new">
                                        <li tvalue="0" class="selected">
                                            <a href="javascript:void(0);">仅退款<b></b> </a>
                                        </li>
                                        <li tvalue="1" class="">
                                            <a href="javascript:void(0);">退货退款<b></b> </a>
                                        </li>
                                        <input type="hidden" id="type_reido" name="type" value="0" hidden="">
                                    </ul>
                                </div>
                            </div>
                            <div class="item"> <span class="label"> <em> * </em> 货物状态： </span>
                                <div class="clr">
                                <label for="" class="clr_unfinished" id="shouhuotext">未收到货</label>
                                <input type="hidden" name="receive" id="receive">
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="item" id="yundanbox"> 
                            	<span class="label"> <em> * </em> 运单号： </span>
                            	<input type="text" id="yundanhao" class="yundan" name="awb">
                            </div>
                            <div class="item"> <span class="label"> <em> * </em> 提交原因： </span>
                                <div class="fl">
                                    <select class="select" id="reason" name="cause" style="padding-right: 0px">
                                        <option value="">请选择</option>
                                        <option value="不想买了">不想买了</option>
                                        <option value="快递物流一直未送到">快递物流一直未送到</option>
                                        <option value="质量问题">质量问题</option>
                                        <option value="商品与描述不符">商品与描述不符</option>
                                        <option value="误购（不喜欢/大小不合适）">误购（不喜欢/大小不合适）</option>
                                        <option value="卖家发错货">卖家发错货</option>
                                        <option value="发票问题">发票问题</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                                <div class="clr">请注意保持商品的完好，建议您先与卖家沟通</div>
                            </div>
                            <div id="miaoShuDiv" style="">
                                <div class="item"> <span class="label"> <em> * </em> 问题描述： </span>
                                    <div class="fl">
                                        <textarea name="cause_instructions" id="describe" cols="" rows="" class="area" maxlength="500"></textarea>
                                        <div class="msg-text-01"> 请您如实填写申请原因及商品情况，字数在10-500字内。 </div>
                                    </div>
                                    <div class="clr"> </div>
                                </div>
                            </div>
                        </div>
                        <div id="defaultQueRenDiv" style="" class="repair-step">
                            <div class="mt-10"> <strong>确认信息</strong></div>
                            <div class="item" style="display: block;"> <span class="label"><em>*</em>客服电话：</span>
                                <div class="fl">400-900-9680</div>
                                <div class="clr"></div>
                            </div>
                            <div class="item" style="display: block;"> <span class="label"><em>*</em>收货地址：</span>
                                <div class="fl">
                                <span th:text="'['+${entity.orderAddress.province}+' '+${entity.orderAddress.city}+' '+${entity.orderAddress.area}+']'"></span>
								<span th:text="${entity.orderAddress.street}"></span>
								</div>
                                <div class="clr"></div>
                            </div>
                            <div class="item" style="display: block;"> <span class="label"><em>*</em>顾客姓名：</span>
                                <div class="fl">
                               
                                    <input type="text" name="contact"  th:value="${entity.orderAddress.name}">
                                </div>
                                <div class="clr"></div>
                            </div>
                            <div class="item" style="display: block;"> <span class="label"><em>*</em>联系号码：</span>
                                <div class="fl">
                                    <input type="text" name="phone" maxlength="15"  th:value="${entity.orderAddress.phone}">
                                </div>
                                <div class="clr">提交服务单后，售后专员可能与您电话沟通，请保持手机畅通</div>
                            </div>
                        </div>
                        <div class="item" id="submitDiv" style=""><span class="label">&nbsp;</span>
                            <div class="fl" name="divSubmit">
                                <div name="submitTips" style="display:none"></div>
                                <a href="javascript:submit_form();" class="btn btn-7" name="btnSubmit">
                                    <s></s>确认提交</a>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </form>
                </div>
            </div>
            <script type="text/javascript">
			$(function(){
				$(".list-type-new >li").click(function(){
					var index=$(this).attr("tvalue");
					$(this).addClass('selected').siblings().removeClass('selected');
					if(index==0){
						$("#shouhuotext").text('未收到货');
						$("#receive").val('未收到货');
						$("#yundanbox").hide();
						$("#type_reido").attr("value","0");
					}else if(index==1){
						$("#yundanbox").show();
						$("#receive").val('已收到货');
						$("#shouhuotext").text('已收到货');
						$("#type_reido").attr("value","1");
					}
				})
		
			})
		
			function submit_form(){
					if($("#receive").val()=='已收到货'){
						if($("#yundanhao").val()==''){
							$("#yundanhao").after('<span class="err">请输入运输单号</span>');
							return false;
						}
					}
					if($("#reason").val()=='请选择'||$("#reason").val()==''){
						$("#reason").after('<span class="err">请选择原因</span>');
						return false;
					}
					if($("#describe").val()==''){
						$("#describe").after('<span class="err">请填写问题描述</span>');
						return false;
					}
					//提交表单代码 在此输入。。。。
					$("#serviceForm").submit();
					
				}
		</script>
        </div>
        
	<!-- 售后编辑END -->
	<!-- 售后列表 -->
	<div class="my_right_box" th:fragment="serviceList">
        <div class="my_right_tit">
            退换货记录
        </div>
        <div class="my_rt_b bg_w">
            <div class="returngoods">
                <div class="book-tit">
                    <ul>
                        <li class="sx2">退换货单号</li>
                        <li class="sx3">订单号</li>
                        <li class="sx1">商品信息</li>
                        <li class="sx4 s5clic">申请时间</li>
                        <li class="sx5">原因</li>
                        <li class="sx6 s5clic">状态</li>
                        <li class="sx7">操作</li>
                    </ul>
                </div>
                <div class="book-tit book_content p" th:each="a:${list.dataList}">
                    <ul>
                        <li class="sx2" th:text="${a.service_number}">68</li>
                        <li class="sx3" th:text="${a.order_number}">201808091637013267</li>
                        <li class="sx1">
                            <p class="shop_name" th:each="d:${a.order.orderDetailsList}">
                            	<a th:href="@{/mall/goods/detail(goods_id=${d.goods_id})}" th:text="${d.goods_name}"></a>
                            </p>
                        </li>
                        <li class="sx4" th:text=" ${#dates.format(a.create_time,'yyyy-MM-dd HH:mm:ss')}">2018-08-09</li>
                        <li class="sx5" th:text="${a.cause}">不想买了</li>
                        <li class="sx6" th:text="${a.state}=='0'?'新建':(${a.state}=='1'?'已取消':'已处理')">
                            待审核 </li>
                        <li class="sx7"><a class="co_blue" th:href="@{/mall/user/service/details(service_number=${a.service_number})}">查看</a></li>
                    </ul>
                </div>
                <div class="operating fixed">
                    <div class="fn_page clearfix" style="margin-top:10px">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination"> </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- 售后列表END -->
        
        <!-- 售后详情 -->
        
        <div class="my_right_box" th:fragment="serviceDetails">
        <div class="my_right_tit">
            退换货记录
        </div>
        <div class="my_rt_b bg_w">
            <div class="goodpiece p">
                <h1>售后服务详情</h1>
            </div>
            <div class="fu_serdetail ma-to-20">
                <div class="serft_fl">
                    <span>本次售后服务由<a class="red">云网书画院商城</a>为您提供</span>
                </div>
                <div class="serft_fr">
                    <div class="shop-if-dif" th:each="d:${entity.orderDetailsList}">
                        <div class="shop-difimg" >
                            <a th:href="@{/mall/goods/detail(goods_id=${d.goods_id})}">
                                <img width="50" height="50" th:src="@{${fileServicePath}+'/'+${d.filePath.path}+'/'+${d.filePath.fileidname}+'.'+${d.filePath.filetype}}">
                            </a>
                        </div>
                        <div class="cebigeze">
                            <p class="may_zco"><span>订单编号：</span><span><a th:text="${entity.order_number}" th:href="@{/mall/user/order/details(order_number=${entity.order_number})}">201808091637013267</a></span></p>
                            <p class="may_zco"><a th:href="@{/mall/goods/detail(goods_id=${d.goods_id})}" th:text="${d.goods_name}"></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menumain p ma-to-20 ">
                <div class="goodpiece">
                    <h1>售后信息</h1>
                </div>
                <div class="show_stas" id="msg" th:style="${orderServe.state}=='0'?'':'display:none'">
                    您的服务单已申请成功，等待售后审核中
                </div>
                <div class="show_stas" id="msg" th:style="${orderServe.state}=='1'?'':'display:none'">
                    您的服务单已取消
                </div>
                <div class="show_stas" id="msg" th:style="${orderServe.state}=='2'?'':'display:none'">
                    您的服务单已审核完成
                </div>
                <div class="sheefshjk">
                    <div class="jindudoc">
                    <h2>进度说明：</h2>
                    <p>亲爱的客户，您的服务单已经提交成功，请您耐心等待客服审核</p>
                    <p th:style="${orderServe.state}=='1'?'':'display:none'">亲爱的客户，您的服务单已取消</p>
                    <p th:style="${orderServe.state}=='2'?'':'display:none'">亲爱的客户，您的服务单已经审核完成，请您耐心等待客服处理</p>
                    </div>
                    <a class="cancellserv" href="javascript:chengeStatus();" th:style="${orderServe.state}=='0'?'':'display:none'">取消服务单</a>
                </div>
            </div>
            <div class="menumain p ma-to-20 serverschdule" style="">
                <div class="goodpiece">
                    <h1>服务单信息</h1>
                </div>
                <div class="ma-to-20"></div>
                <div class="sheet manone">
                    <table border="1" width="100%" cellspacing="" cellpadding="">
                        <tbody>
                            <tr>
                                <td><span>商品返回方式</span></td>
                                <td class="lastd"><span>若客户已收货，则由客户自行寄回给卖家</span></td>
                            </tr>
                             <tr>
                                <td><span>状态</span></td>
                                <td class="lastd"><span th:text="${orderServe.state}=='0'?'新建':(${orderServe.state}=='1'?'已取消':'已处理')">不想买了</span></td>
                            </tr>
                            <tr>
                                <td><span>商品处理方式</span></td>
                                <td class="lastd"><span th:text="'客户期望处理方式:'+(${orderServe.type}=='0'?'仅退款':'退货退款')">客户期望处理方式“仅退款”</span></td>
                            </tr>
                            <tr>
                                <td><span>问题描述</span></td>
                                <td class="lastd"><span th:text="${orderServe.cause}">不想买了</span></td>
                            </tr>
                            <tr>
                                <td><span>服务备注</span></td>
                                <td class="lastd"><span th:text="${orderServe.cause_instructions}"></span></td>
                            </tr>
                            <tr>
                                <td><span>卖家收货信息</span></td>
                                <td class="lastd">
                                    <strong>
									收货地址：深圳市龙华区龙观东路1号望城大厦5楼5818室<br>
									收件人：云网书画院<br>
									电话：400-900-9680 </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:inline="javascript">
        var orderServe=[[${orderServe}]];
        function chengeStatus(){
        	console.log("111111111");
        	//取消退款/退货申请单
        	$.post('/mall/order/serve/chengestate',{service_number:orderServe.service_number,state:1},function(data){
        		console.log(data);
        		if(data!=null&&data.res=='1'){
        			//成功
        			$("#msg").text(" 您的服务单已取消，3S后跳转到订单界面！");
        			
        				setTimeout('window.location.href="/mall/user/order/details?order_number='+orderServe.order_number+'"',3000);
        			
        		}
        	});
        	
        }
        
        
        
        </script>
        </div>
       <!-- 售后详情end -->
	
</body>
</html>