<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
		<!-- 内容部分 -->
	<div class="content_box">
		<div class="register_box"  >
			<div class="reg_tit">
				新用户注册
			</div>
			<span id="msg"></span>
			<form action="" id="registerform">
			<div class="form_ground_box">
				<lable class="reg_lab">手机号：</lable>
				<input type="text" class="input_width" name='user_name' id='user_name'>
				<span class="checkExistRong" id="checkExistPhone"></span>
			</div>
			<div class="form_ground_box">
				<lable class="reg_lab">密码设置：</lable>
				<input type="password" class="input_width" id='password' name='password'>
			</div>
			<div class="form_ground_box">
				<lable class="reg_lab">确认密码：</lable>
				<input type="password" class="input_width" id='Inputagain' name ='Inputagain'>
			</div>
			<div class="form_ground_box">
				<lable class="reg_lab">验证码：</lable>
				<input type="text" class="input_width_min" id='imgcode' name="imgcode">
				<a href="#" onclick="changeImg()">
				<img id="imgObj" class="validate_img" src="/img/getcode" alt="点击更换验证码" >
				</a>
			</div>
			<div class="form_ground_box">
				<lable class="reg_lab">短信验证码：</lable>
				<input type="text" class="input_width_min" id='phonecode' name="phonecode">
				<button type ="button" class="vali _img valid_btn" onclick="getphonecode()">获取短信验证</button>
			</div>
			<div class="form_ground_box center iagree">
				<input type="checkbox" class="agreeMent" id="agreeMent">
				<label for="agreeMent">我已阅读并同意</label> <span><a id="show_xieyi" href="javascript:void(0)">云网传媒协议规则</a></span>
				<div class="show_panner_xieyi">
                    <div class="tit_box"><span id="close">X</span></div>
                    <div class="agree_text">
                        <p class="tit_t">云网产业协议规则</p>
                        <p>第一条 竞投人是指在本网站进行注册并办理了必要手续、在销售活动中具有竞投权的个人及机构，否则不被视为正式竞投人。 必要的手续包含以下环节：</p>
                        <p>填写了系统要求的相关信息，并通过注册；</p>
                        <p>>通过实名认证，并被审核成功；</p>
                        <p> 充值保证金成功，具有相应的竞买额度，以资金到达保证金账户的时间为准。</p>
                        
                        <p>第二条 云网文化产业实行会员制度。</p>
                        <p>第三条 依照适用法律能够合法签署具有法律约束力合同的个人和机构可以注册成为云网文化产业的会员。未满十八岁或不具有完全行为能力的个人不可注册为本网站的正式会员。个人申请注册，必须提供申请人的真实姓名、手机号码、身份证信息和电子邮件地址等真实材料，机构申请必须提供合法的企业(事业)注册文件。只有在云网文化产业注册的会员和具有相应数额的保证金才有权利在本网站购买物品。未经注册，任何人只可在云网文化产业上一定范围内浏览销售品或享受本网站的其它服务，但无资格在云网文化产业上参与抢购。</p>
                        <p>第四条 云网文化产业注册的会员采用保证金制。本保证金的意义在于维护卖家的权利及利益。 会员需先将资金存入其相应的资金账户，然后在个人账户中自行操作将资金转入保证金账户里，资金账户及保证金账户余额不计利息。会员拥有的购买额度是保证金数额的十倍数。对特别商品，须进行专门登记注册才具竞投权利。</p>
                        <p>保证金冻结规则：</p>
                        <p>1）每一件商品都有对应的保证金额度，这个额度会在每件商品的详情信息中明确标注。
                            <br> 2）买家对一件商品首次申请出价时，需要先支付对应的保证金。
                        </p>
                    </div>
                </div>
			</div>
			<div class="form_ground_box center">
				<div class="submitBtn" id="submit">
					立即注册
				</div>
			</div>
			<div class="go_login">
				已经注册过了，<a href="/user/login.do">去登录</a>
			</div>
			</form>
		</div>
	</div>
	<!-- 内容部分结束 -->
	<script src="/mall/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
		function changeImg() {        
			        var imgSrc = $("#imgObj");    
			        imgSrc.attr("src", chgUrl());
		}
		// 时间戳
	    // 为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳
	    function chgUrl() {
	        var timestamp = (new Date()).valueOf();
	        var url='/img/getcode'+"?timestamp=" + timestamp;
	        return url;
	    }
		
		function getphonecode(){
			$.post('/sms/getcode',{phone:$("#user_name").val()},function(data){
				console.log(data);
				if(data==null||data.code!='ok'){
					//短信发送失败
					
				}else{
					//短信发送成功、发送短信按钮60S不可点击
				}
			});
			
		}
		$().ready(function(){
			// 协议
			$("#show_xieyi").click(function(){
				$(".show_panner_xieyi").show();
			})
			$("#close").click(function(){
				$(".show_panner_xieyi").hide();
			})
			//验证
			$("#registerform").validate({
				
				rules:{
					user_name:{
						required:true,
						userTel:true,
						checkUser:false
						
					},
					password:{
						required:true
					},
					Inputagain:{
						required:true,
						Inputagain:true
					}
					
				},
				messages:{
					user_name:{
						required: "请输入手机号"
					},
					password:{
						required:"密码不得为空！"
					},
					Inputagain:{
						required:"请再次输入密码！"
					}
					
				}
			});
			
			
		})
		$.validator.addMethod("userTel",function(value,element,params){
			 var pattern = /^1[34578]\d{9}$/;
            return this.optional(element)||pattern.test(value)
        },"请输入正确的手机号！");
		$.validator.addMethod("checkUser",function(value,element,params){
			var flg=false;
			console.log(element.value);
			 $.post('/user/checkname',{username:element.value},function(data){
				 if(data!=null&&data.res=='1'){
					 console.log(data);
					flg=true;
				 }
			 });
           return flg;
       },"该手机号已注册！");
		$.validator.addMethod("Inputagain",function(value,element,params){
			 if( element.value==null|| element.value!=$("#password").val()){
				 return false;
			 }
           return true;
       },"两次密码输入不一致！");
		$("#submit").click(function(){
			$.post('/user/register',
					{user_name:$("#user_name").val(),
					password:$("#password").val(),
					imgcode:$("#imgcode").val(),
					phonecode:$("#phonecode").val()
					},
					function(data){
						console.log(data);
					if(data!=null&&data.res=="1"){
						//注册成功
						$("#msg").text('');
						$("#msg").text(data.msg);
						setTimeout('showRes()',1000);
					}else{
						$("#msg").text('');
						$("#msg").text(data.msg);
					}
				
			});
		})
		//跳转到登录界面
		function showRes(){
			window.location.href="/user/login.do";
		}
	</script>
</body>
</html>