<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title>云网传媒后台主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />

    </head>

    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE BAR -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">首页</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>名家编辑</span>
                    </li>
                </ul>
            </div>
            <h1 class="page-title"> 名家编辑
                    <small>名家编辑</small>
            </h1>
            <!-- 内容展示 -->
            <div class="portlet light bordered">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" action="/admin/cms/saveAuth" id='addform' method="post">
                    	<!-- 操作类型 -->
                    		<input type='text'  name='type' style="display:none" th:value="${auth==null}?'SAVE':'UPDATE'">
                    		<input type='text'  name='id' style="display:none" th:value="${auth==null}?'':${auth.id}">
                          <div class="form-group">
                                <label for="" class="col-sm-2 control-label">栏目</label>
                                <div class="col-sm-4">
                                	<input type='text'  name='Pid' style="display:none" th:value="${Pid}">
                                    <select class="form-control"  name='columns'>
                                      <option th:attr="value=${Pid}" selected>名家荟萃</option>
                                  </select>
                               </div>
                          </div>
                      <div class="form-group">
                        <label for="" class="col-sm-2 control-label">名家姓名</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control"  placeholder="请输入姓名" name="authorname" th:value="${auth}==null?'':${auth.authorname}">
                        </div>
                      </div>
                      <div class="form-group">
                            <label for="" class="col-sm-2 control-label">艺术分类</label>
                            <div class="col-sm-4">
                            	
                                <select class="form-control" name="classification">
                                  <option th:each="ca:${Category}" th:attr="value=${ca.id}" th:text="${ca.ladelname}" th:selected="${auth!=null and auth.classification==ca.id}">书法</option>
                                  
                              </select>
                           </div>
                      </div>
                      <div class="form-group">
                            <label for="" class="col-sm-2 control-label">作者地区</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="address">
                                  <option th:selected="${auth!=null and auth.address=='北京'}">北京</option>
                                  <option th:selected="${auth!=null and auth.address=='天津'}">天津</option>
                                  <option th:selected="${auth!=null and auth.address=='河北'}">河北</option>
                                  <option th:selected="${auth!=null and auth.address=='山西'}">山西</option>
                                  <option th:selected="${auth!=null and auth.address=='内蒙古'}">内蒙古</option>
                                  <option th:selected="${auth!=null and auth.address=='辽宁'}">辽宁</option>
                                  <option th:selected="${auth!=null and auth.address=='吉林'}">吉林</option>
                                  <option th:selected="${auth!=null and auth.address=='黑龙江'}">黑龙江</option>
                                  <option th:selected="${auth!=null and auth.address=='上海'}">上海</option>
                                  <option th:selected="${auth!=null and auth.address=='江苏'}">江苏</option>
                                  <option th:selected="${auth!=null and auth.address=='浙江'}">浙江</option>
                                  <option th:selected="${auth!=null and auth.address=='安徽'}">安徽</option>
                                  <option th:selected="${auth!=null and auth.address=='福建'}">福建</option>
                                  <option th:selected="${auth!=null and auth.address=='浙江'}">浙江</option>
                                  <option th:selected="${auth!=null and auth.address=='江西'}">江西</option>
                                  <option th:selected="${auth!=null and auth.address=='山东'}">山东</option>
                                  <option th:selected="${auth!=null and auth.address=='河南'}">河南</option>
                                  <option th:selected="${auth!=null and auth.address=='湖南'}">湖南</option>
                                  <option th:selected="${auth!=null and auth.address=='湖北'}">湖北</option>
                                  <option th:selected="${auth!=null and auth.address=='广东'}">广东</option>
                                  <option th:selected="${auth!=null and auth.address=='广西'}">广西</option>
                                  <option th:selected="${auth!=null and auth.address=='海南'}">海南</option>
                                  <option th:selected="${auth!=null and auth.address=='重庆'}">重庆</option>
                                  <option th:selected="${auth!=null and auth.address=='四川'}">四川</option>
                                  <option th:selected="${auth!=null and auth.address=='贵州'}">贵州</option>
                                  <option th:selected="${auth!=null and auth.address=='云南'}">云南</option>
                                  <option th:selected="${auth!=null and auth.address=='西藏'}">西藏</option>
                                  <option th:selected="${auth!=null and auth.address=='陕西'}">陕西</option>
                                  <option th:selected="${auth!=null and auth.address=='甘肃'}">甘肃</option>
                                  <option th:selected="${auth!=null and auth.address=='青海'}">青海</option>
                                  <option th:selected="${auth!=null and auth.address=='宁夏'}">宁夏</option>
                                  <option th:selected="${auth!=null and auth.address=='新疆'}">新疆</option>
                              </select>
                           </div>
                      </div>
                      <div class="form-group">
                            <label for="" class="col-sm-2 control-label">职位</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="position">
                                  <option th:selected="${auth!=null and auth.position=='八大美院'}">八大美院</option>
                                  <option th:selected="${auth!=null and auth.position=='国家画院'}">国家画院</option>
                                  <option th:selected="${auth!=null and auth.position=='国家级工艺美术师'}">国家级工艺美术师</option>
                                  <option th:selected="${auth!=null and auth.position=='中国美协主席团'}">中国美协主席团</option>
                                  <option th:selected="${auth!=null and auth.position=='中国书协主席团'}">中国书协主席团</option>
                                  <option th:selected="${auth!=null and auth.position=='中国美协理事 '}">中国美协理事 </option>
                                  <option th:selected="${auth!=null and auth.position=='中国书协理事  '}">中国书协理事  </option>
                                  <option th:selected="${auth!=null and auth.position=='省级美协主席团'}">省级美协主席团 </option>
                                  <option th:selected="${auth!=null and auth.position=='省级书协主席团'}">省级书协主席团 </option>
                                  <option th:selected="${auth!=null and auth.position=='中国美协会员'}">中国美协会员  </option>
                                  <option th:selected="${auth!=null and auth.position=='中国书协会员'}">中国书协会员</option>
                                  <option th:selected="${auth!=null and auth.position=='省级美协会员'}">省级美协会员</option>
                                  <option th:selected="${auth!=null and auth.position=='中省级书协会员'}">中省级书协会员 </option>
                                  <option th:selected="${auth!=null and auth.position=='省级工艺美术师'}">省级工艺美术师</option>
                                  <option th:selected="${auth!=null and auth.position=='民间大家'}">民间大家</option>
                                  <option th:selected="${auth!=null and auth.position=='其他'}">其他</option>
                              </select>
                           </div>
                      </div>
                      <div class="form-group">
                                 <label class="col-md-2 control-label"><em>*</em>名家照片上传</label>
                                <div class="col-md-2">
                                    <div class="file_img">
                                        <input id="show_img_file" type="file" name="file" multiple="multiple">
                                        <input id="imageid" type="hidden" name="viewimg" value="" th:value="${auth}==null?'':${auth.viewimg}">
                                         <label for="show_img_file">点击上传</label>
                                         <div  style="height:10px;background:red;width:0px;"></div>
                                         <!-- <div class="progress">
											    <div class="progress-bar progress-bar-success" role="progressbar"
											         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
											         id="processBar">
											        <span class="sr-only">90% 完成（成功）</span>
											    </div>
											</div> -->
                                    </div>
                              </div>
                              <div class="col-md-3">
                                    <div class="shop_img" id="shop_img">
                                    </div>
                                </div>
                            </div>
                      <div class="form-group">
                            <label for="" class="col-sm-2 control-label">名家简介</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" rows="3" name="introduction" th:text="${auth}==null?'':${auth.Introduction}"></textarea>
                            </div>
                        </div>
                      <!-- 编辑器 -->
                      <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
                      <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
                      <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>

                      <div class="form-group">
                            <label for="" class="col-sm-2 control-label">详细内容</label>
                            <div class="col-sm-2">
                                <script id="editor" type="text/plain" style="width:800px;height:500px;"></script>
                                
                           </div>
                      </div>

                      <script type="text/javascript" th:inline="javascript">
                        //实例化编辑器
                        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
                        var ue = UE.getEditor('editor');
                        var blg=[[${auth}!=null]];
                        var att=[[${auth}]];
                        
                        $(document).ready(function () {
                            
                            ue.ready(function () {
                            	if(blg){
                        			console.log('-----------------------');
                        			//初始化编辑器
                        			var content=[[${auth}==null?' ':${auth.content}]];
                        			if(content!=null&&content!=null){
                        				ue.setContent(content);
                        			}
                        			//图片回显
                        			var fileServicePath=[[${fileServicePath}]];
                        			console.log(att.filePath);
                        			if([[${auth!=null and auth.filePath!=null}]]){
                        					 $("#shop_img").html('<img src="'+fileServicePath +'/'+att.filePath[0].path+'/'+att.filePath[0].fileidname+'.'+att.filePath[0].filetype+'" alt=""/>'); 
                           			
 
                        			}
                        			
                        		}
                            });
                           
                        });
                    </script>
                     
                     <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="recommended"  th:checked="${auth!=null and auth.recommended=='Y'}?'true':'false'" value='Y'>设为推荐
                            </label>
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-success">保存</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
            </div>
            <div class="clearfix"></div>
            
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript" th:inline="javascript">
	$(function(){
		
		 $("#show_img_file").change(function(){
             
             var file=this.files[0];
              $.ajaxFileUpload({
                  url:"/ueditor/uploade",
                  fileElementId: "show_img_file", //文件上传域的ID，这里是input的ID，而不是img的
                  type:"POST",
  	             dataType:"json",
                  async : true,   //是否是异步
                  success: function (data) {
                     // console.log(data)
                
						 $("#shop_img").html('<img src="'+data[0].host +'/'+ data[0].path+'" alt=""/>'); 
                      $("#imageid").val(data[0].id);
                      
                  }            

              });
                	      

         });
		
		
	})
	
	</script>
    

</body>

</html>
