<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>云网传媒后台主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />
    <link href="/admin/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/admin/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/admin/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/admin/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" /> 
    <link rel="stylesheet" href="/admin/assets/layouts/layout/css/style.css">
    </head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            
             <!-- 内容部分 -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="index.html">首页</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>分类管理</span>
                            </li>
                        </ul>
                    </div>
                    <!-- 内容展示 -->
                    <div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="form-group">
                            <ul class="classify_list">
                                <li class="f_list"><span>名家荟萃</span> <i class="btn add_child">新增子分类</i>
                                    <ul class="c_list">
                                        <li> <span class="left_textbody" contenteditable="true">名人展示</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="f_list"><span>作品锦集</span><i class="btn add_child">新增子分类</i>
                                    <ul class="c_list">
                                        <li><span class="left_textbody" contenteditable="true">书法作品</span> 
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                        <li><span class="left_textbody" contenteditable="true">国画作品</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                        <li><span class="left_textbody" contenteditable="true">油画作品</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                        <li><span class="left_textbody" contenteditable="true">民间工艺品</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="f_list"><span>资讯中心</span><i class="btn add_child">新增子分类</i>
                                    <ul class="c_list">
                                        <li><span class="left_textbody" contenteditable="true">书画院新闻</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                        <li><span class="left_textbody" contenteditable="true">书画院活动</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                        <li><span class="left_textbody" contenteditable="true">保养知识</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="f_list"><span>传统文化</span><i class="btn add_child">新增子分类</i>
                                    <ul class="c_list">
                                        <li><span class="left_textbody" contenteditable="true">推广传统文化</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                        <li><span class="left_textbody" contenteditable="true">公益讲座</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                        <li><span class="left_textbody" contenteditable="true">云二代夏令营</span>
                                            <span class="btn green c_btn amend_btn">修改</span>&nbsp;
                                            <span class="btn red c_btn">删除</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

                    <div class="clearfix"></div>
                    
                </div>
                <!-- END CONTENT BODY -->
            </div>
        </div>
        <div class="page-footer">
            <div class="page-footer-inner"> 2018 &copy; By 技术团队：
                <a target="_blank" href="http://mtyyun.com">猫头鹰网络云服务有限公司</a> &nbsp;
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
    <!-- BEGIN QUICK NAV -->
    <div class="quick-nav-overlay"></div>
    <script src="/admin/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/admin/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/admin/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="/admin/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="/admin/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>

        <script>
            $(function(){
                $(".add_child").click(function(){
                    //新增
                   $(this).parent('.f_list').find('.c_list').append('<li ><span class="left_textbody" contenteditable="true">新增子分类</span><span class="btn c_btn queding_add">确定新增</span>&nbsp;<span class="btn red c_btn">取消</span></li>');
                   $(this).parent('.f_list').find('.c_list').children("li:last-child").find('.left_textbody').focus();

                   $(".queding_add").click(function(){
                        console.log($(this).prev().text()); 
                    })
                })

                $(".amend_btn").click(function(){
                    $(this).prev().text()
                     console.log($(this).prev().text()); 
                })
                
            })
        </script>
</body>

</html>
