<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <title>云网传媒后台主页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />
    <link href="/admin/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
   
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/admin/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/admin/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/admin/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/admin/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="/admin/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="/admin/favicon.ico" /> </head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

             <!-- 内容部分 -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="/admin">首页</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>名家列表</span>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title"> 名家列表
                            <small>名家列表编辑</small>
                    </h1>
                    <!-- 内容展示 -->
                    <div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a id="sample_editable_1_new" class="btn sbold green" th:href="@{/admin/cms/addwriter.do(Pid=${Pid})}">
	                            	添加作家
	                            	<i class="fa fa-plus"></i>
	                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                    <span></span>
                                </label>
                            </th>
                            <th> 名家姓名</th>
                            <th> 职位 </th>	
                            <th> 地区</th>
                            <th> 艺术分类</th>
                            <th> 浏览数</th>
                            <th> 状态 </th>
                            <th> 操作 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" th:each="a:${list.dataList}">
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" value="1" />
                                    <span></span>
                                </label>
                            </td>
                            <td th:text="${a.authorname}"> 宋金高</td>
                            <td th:text="${a.position}">
                                民间大家
                            </td>
                            <td th:text="${a.address}">山东</td>
                            <td th:text="${a.atticleldCategory.ladelname}">书法</td>
                            <td th:text="${a.viewCount}">0</td>
                            <td th:text="${a.recommended}=='Y'?'推荐':''">
                                推荐
                            </td>
                            <td >
                            	<span style="display:none"  th:text="${a.id}"></span>
                                <button class="btn btn-xs red delete_btn" type="button" > 删除
                                </button>
                                <button class="btn btn-xs green update_btn"  type="button" > 修改</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row center-text">
                        <div class="dataTables_paginate paging_bootstrap_full_number" >
                            <ul class="pagination" style="visibility: visible;">
                            	
                                <li class="prev ">  <a href="#" th:href="@{/admin/cms/writerlist.do(Pid=${Pid},pageNo=${1})}">
                                    <i class="fa fa-angle-double-left"></i>
                                    </a></li>
                                    <li class="prev ">
                                        <a href="#" title="Prev" th:href="@{/admin/cms/writerlist.do(Pid=${Pid},pageNo=${list.pageNo}-1>0?${list.pageNo}-1:1)}">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="active" id="activepage">
                                        <a href="#" th:text="${list.pageNo}">1</a>
                                    </li>
                                    <li class="next ">
                                        <a href="#" title="Next" th:href="@{/admin/cms/writerlist.do(Pid=${Pid},pageNo=${list.pageNo}==${list.pages}?${list.pages}:${list.pageNo}+1)}">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="next " >
                                        <a href="#" title="Last" th:href="@{/admin/cms/writerlist.do(Pid=${Pid},pageNo=${list.pages})}"><i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li class="prev "> 
		                            		 <span th:text="'共'+ ${list.pages}+'页'"></span>
		                            		</li>
                                </ul>
                        </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

                    <div class="clearfix"></div>
                    
                </div>
                <!-- END CONTENT BODY -->
            </div>
        
        <script th:inline="javascript">
            $(document).ready(function()
            {
                $('#clickmewow').click(function()
                {
                    $('#radio1003').attr('checked', 'checked');
                });
            })
            $(function(){
            	$('.delete_btn').click(function(){
            		//
            		$.post('/admin/cms/auth/delete',
            				{id:$(this).prev().text()},
            				function(date){
            				if(date.res=='1'){
            					//成功
            					window.location.reload();
            				}
            		})
            		
            	})
            	$('.update_btn').click(function(){
            		var id=[[${Pid}]];
            		console.log(id);
            		$(window).attr('location','/admin/cms/editorWriter.do?id='+$(this).prev().prev().text()+'&Pid='+id);
            	})
            	var pageNo=[[${list.pageNo}]];
            	var pages=[[${list.pages}]];
            	
        		for(var i=2;i>0;i--){
        			var pag=pageNo-i;
        			if(pageNo-i>0){
        				var dome="<li><a  href='/admin/cms/writerlist.do?pageNo="+pag+"'>"+pag+"</a></li>";
            			$("#activepage").before(dome);
        			}
        			
        		}
        		for(var i=2;i>0;i--){
        			var pag=pageNo+i;
        			if(pageNo+i<=pages){
        				var dome="<li><a  href='/admin/cms/writerlist.do?pageNo="+pag+"'>"+pag+"</a></li>";
            			$("#activepage").after(dome);
        			}
        			
        		}
            })
        </script>
</body>

</html>
