<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>云网传媒</title>
	<link rel="stylesheet" href="/mall/css/style.css">
</head>
<body class="body_bg">
	<!-- 头部 -->
	<div class="header_top_img">
		<img src="/mall/images/top_fangding_index.png" alt="">
	</div>
	<div class="head_login">
		<div class="head_login_box">
			<div th:style="${session.user!=null}?'':'display: none'">
			<img class="user_img_min" th:attr="src=${session.user!=null&&session.user.filePath!=null}?'':'/mall/images/u106.png'" alt="">
			<span>&nbsp;&nbsp;<a href="" th:text="${session.user!=null}?${session.user.userInfo.name}:''">sdfsadf</a> / </span>
			<span>&nbsp;&nbsp;<a href="/mall/user/manager">个人中心</a> / </span>
			<span>&nbsp;&nbsp;<a href="javascript:location.reload();">注销</a>  </span>
			</div >
			<div  th:style="${session.user==null}?'':'display: none'">
			<span>&nbsp;&nbsp;<a href="/user/login.do">请登录</a> / </span>  
			<span>&nbsp;&nbsp;<a href="/user/register.do">注册</a>  </span>
			</div>
			
		</div>
	</div>
	<div class="header_box">
		<div class="logo_box">
			<div class="logo_left"><img src="/mall/images/logo.png" alt=""></div>
			<div class="logo_right">
				<div class="serach_box">
					<input type="text" placeholder="大家都在搜： 国画">
					<button class="search_btn"></button>
				</div>
				<div class="header_erweima">
					<img src="/mall/images/erweima.jpg" alt="">
					<p>订阅号</p>
				</div>
				<div class="header_erweima mg_10">
					<img src="/mall/images/erweima.jpg" alt="">
					<p>服务号</p>
				</div>
			</div>
		</div>
		<div class="top_nav_box">
			<ul class="top_nav">
				<li><a href="/" id='home' class="active">首页</a></li>
				<li><a href="/mall/goods" id="mall" >在线商城</a></li>
				<!--  
				<li><a href="" id="auction" >拍卖中心</a></li>
				<li><a href="" id="seckill" >限时秒杀</a></li>
				-->
				<li><a href="/mall/cms/authlist.do?Pid=MJHC" id="auth" >名家荟萃</a></li>
				<li><a href="/mall/cms/list.do?Pid=ZPJJ" id='works' >作品锦集</a></li>
				<li><a href="/mall/cms/list.do?Pid=CTWH" id='culture' >传统文化</a></li>
				<li><a href="/mall/cms/list.do?Pid=ZXZX" id='news' >资讯中心</a></li>
				<li><a href="/mall/about" id='about' >关于我们</a></li>
			</ul>
		</div>
	</div>

	<!-- 内容部分 -->
	<div class="content_box">
		<div class="index_body">
			<img src="/mall/images/index_body_img.png" alt="">
		</div>
	</div>
	<div class="footer_box index_footer">
		<div class="footer_left_img"></div>
		<div class="footer_right_img"></div>
		<div class="footer_img">
			<img src="/mall/images/footer_img_bg.png" alt="">
		</div>
		<div class="footer_bar">
			<div>Copyright 2018 云网传媒有限公司 <a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17088014号-2 </a></div>
			<div>公司名称: 深圳云网传媒有限公司   地址：深圳市龙华区龙观东路1号望城大厦5楼5818室   网址：www.ywwhcm.com.cn</div>
			<div>
				联系热线：400-900-9680  手机联系：18188637872
			</div>
		</div>
	</div>

</body>
</html>